[2020-02-05 20:43] LunaSare opened #454 "warnings rendering as errors from rmd files"
Hello! I am using the workshop-template to develop a lesson on how to use a couple R packages. To show how functions works, I am using rmarkdown.
It is working great, except that warnings from functions are rendered as errors in the website, here https://lunasare.github.io/ssb2020_workshop/02-get-induced/index.html, rmd code here https://github.com/LunaSare/ssb2020_workshop/blob/gh-pages/_episodes

[2020-02-05 21:53] brownsarahm commented on #454
Thanks for the issue @LunaSare. I moved it to the styles repository (which is the template for new lessons, like you're creating) from the workshop website template that's used to create the ad pages for workshops (which are the two day events).  These terms are tricky, but you should get help here.

It looks like at least part of the issue is that there is not a css style defined to syntax highli

[2020-02-05 23:34] maxim-belkin commented on #454
Thank you, Sarah.

Luna: Thank you for the report. What would you like to do with the output you're currently getting? Would you like to see the section to be called "Warning" and not "Error"? Or did you envision something else?

Sarah is right in that we don't currently have a separate style for warnings. We'd have to create one before the word "Warning" can appear. It seems like a reasonable thi

[2020-02-06 09:37] fmichonneau commented on #454
Thanks for bringing this up @LunaSare!
We currently don't have support for warnings in our template :grimacing: so it'd be a great thing to have. I proposed a possible solution to have it in #455, once it's merged, I can put in a PR on your repository to bring the changes in.

[2020-02-10 14:36] fmichonneau commented on #454
closed by #455

[2020-02-10 14:36] #454 closed

[2020-02-11 06:50] LunaSare commented on #454
Thank you for your quick response @brownsarahm @maxim-belkin @fmichonneau!!!
I am looking at #455 and that's exactly what I was envisioning for the class. This is great!

[2020-02-11 19:43] angela-li opened #456 "Using Github Actions instead of Travis-CI for deployment"
With the new rollout of Github Actions, this could be a replacement for custom Travis deployment. Doesn't need to be a big priority, since Travis works on the lessons, but could make it easier to manage repos?

Worth doing some research into and seeing if this would be helpful.

[2020-02-11 20:13] maxim-belkin commented on #456
We can easily move from Travis to GitHub Actions but I'm not sure if it is going to simplify the management aspect because GH Actions is just an engine that runs whatever code we tell it to run. What GitHub Actions allow us to do is run tests on multiple platforms (macOS, Linux, and Windows) and, therefore, see if the changes we make work across the spectrum of operating systems we target.

[2020-02-12 08:34] maxim-belkin commented on #434
As Sarah mentioned, our navigation bar has a dedicated link to the lesson's setup page visible at all  times. Adding yet another link to the beginning of every episode seems unnecessary because they will appear not so far from the link that we currently have.

As for the content of the homepages: most of the lessons I checked have "Prerequisites" boxes with links to their setup pages already (I fo

[2020-03-25 05:27] maxim-belkin commented on #445
Closing this as there has been no actuvity in 3 months. Joao, feel free to create a new issue or comment here again! Thanks for the report!

[2020-03-25 05:27] #445 closed

[2020-04-27 16:41] fmichonneau opened #459 "data files are not being copied to data folder"
in the very early days of the template, one of the make command would take care of copying the files in the `_episodes/data` and `_episodes_rmd/data` folders to the `./data` folder. This doesn't seem to be the case any more.

[2020-04-27 17:11] maxim-belkin commented on #459
When does one need to store data in `_episodes*/data`? When does one need to use `make` to copy it to `{root}/data`? It doesn't look like a common task in the lesson development process.

[2020-04-30 19:43] fmichonneau opened #460 "upgrade jquery"
I don't think we use the affected method, but we should update the version of jquery that is included in the template and push it across all lesson repositories (not that it's a good time to do this, but using remote theme would be useful for this type of situations).

https://jquery.com/upgrade-guide/3.5/

[2020-06-23 16:46] maxim-belkin opened #466 "carpentries/styles for maintainers"
Can we turn off building carpentries/styles from the gh-pages branch as described in https://help.github.com/en/github/working-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site#choosing-a-publishing-source ?

[2020-06-26 15:37] fmichonneau commented on #466
ok, I created an orphan `master` branch with a basic README and switched the default branch for building the site, so I think that should stop the building failure emails...

[2020-06-26 15:37] #466 closed

[2020-06-26 16:32] brownsarahm opened #467 "Ruby version update?"
as per mention in an [issue submitted to lesson example](https://github.com/carpentries/lesson-example/issues/289) Ruby version is updated by github pages but we still have instructions referencing the old version.

[2020-06-29 14:15] fmichonneau commented on #467
I think the only place it's listed in this repo is the Gemfile which I fixed in a52f6c2.

[2020-06-29 14:15] #467 closed, assigned to nobody

[2020-06-30 00:54] dpshelio opened #470 "LICENSE file not mentioning the Carpentries"
While translating the license I've found that it doesn't mention the carpentries, though it does software and data carpentry.

It also says that the © is still attributed to Software Carpentry... which may be correct.

[2020-06-30 00:56] brownsarahm commented on #444
I moved instructor-training#1041 to this repo, so closing this one as redundant.

[2020-06-30 00:56] #444 closed

[2020-06-30 00:58] brownsarahm commented on #470
The project to update the trademarks is currently paused (per [Talisha](https://github.com/carpentries/instructor-training/pull/1054#issuecomment-651394684) but I moved this here so that it can happen at the source when the project is complete.

[2020-06-30 10:31] #460 closed

[2020-07-02 07:15] ocaisa opened #471 "Including code snippets in callouts"
Not sure if this is the right place to report this, but it doesn't seem to be possible to include code snippets in a callout (or any special blockquote), for example:
[code]
will not render correctly if `in.lj` contains multiple lines.

I imagine this is because the snippet is directly inserted including the line breaks. Is there a fix for this?

[2020-07-02 07:22] ocaisa commented on #471
This comes close to working, but removes the newlines rather than replace them with `\n> `...and still wouldn't work in the nested case (like `{: .solution}`):
[code]

[2020-07-02 08:03] ocaisa commented on #471
I got it to work but it was pretty tedious:
[code]
For a nested blockquote that would be
[code]
If it is somehow possible to create a function for this, a numerical argument would be enough to know how many `> ` to insert.

[2020-07-03 22:47] maxim-belkin commented on #471
What you do here is pretty smart, @ocaisa. I haven't heard of Liquid functions so what you propose might be the best one can do if they want to include code from a file in a callout box. By the way, can't one replace `<br />` with `>` directly?, e.g.:

[code]

[2020-07-07 12:30] unode commented on #335
It would also be great if:
* code blocks could be easily downloaded
* lines could be numbered - while still allowing copy-paste - possibly toggleable.

![screenshot_2020-07-07_14-25-53_306753167](https://user-images.githubusercontent.com/122319/86781540-555f7700-c05e-11ea-870a-afebd316cc54.png)

[2020-07-07 15:58] ocaisa commented on #471
Not as smart as I hoped, I hadn't noticed but it is leaving behind a  `>` at the end of lines that aren't simply whitespace. I guess it is actually the whitespace lines that are the problem, but this is a bit too hard to figure out, I will have to find another way

[2020-07-08 07:43] ocaisa commented on #471
Ok, the whitespace was indeed the problem. I got it to work by creating my own liquid plugin:
[code]
which is stored in an `_plugins` directory relative to the root directory. You can then use this filter with
[code]

I would have liked to simplify this to be able to create `{ {% include_in_callout /snippets/ep05/in.lj 1 %}}` where 1 indicates the callout depth but I couldn't figure out how to do

[2020-07-08 09:10] maxim-belkin commented on #471
If `input` is an array of strings, you can do this:
[code]
E.g.
[code]

if `input` is a string, you'd have to split it first using `.split("\n")`:

[code]

I have to note that the code you provided above didn't work for me as expected for some reason. Perhaps it has to do with double empty lines in the python code snippet that I used.

[2020-07-08 10:00] ocaisa commented on #471
Thanks, that worked for me. For completeness I'll give my final solution. I created `_plugins/custom_filters.rb` with the contents
[code]
Note that for the filter to be picked up, you must restart the server (with `make serve`)

I can then use the filter in my lesson with
[code]

[2020-07-08 10:09] maxim-belkin commented on #471
Great job! Note, you can `capture` code snippets early in the episode, e.g.
[code]

[2020-07-08 10:15] ocaisa commented on #471
@maxim-belkin I leave it to you to decide whether to close this or not, thanks for the help.

[2020-07-08 10:20] maxim-belkin commented on #471
Thanks, @ocaisa. I'd like to keep it open for now. It might be beneficial for the community to integrate this into the main template. It'll tie us more to the Shopify Liquid so we'd have to review this carefully.

[2020-07-09 16:25] ocaisa commented on #471
This is a never-ending story! It turns out that while I could served the site locally, it didn't pick up my plugin when I served on GitHub (or when I tried to use the remote Carpentries theme), so I had to go back and try to do it using standard filters.

I managed to get it working this time but it is very very picky about the syntax:
[code]

[2020-07-09 18:06] maxim-belkin commented on #471
Yes, GitHub works in "safe" mode and does not enable plugins. It is possible to workaround this by using GitHub Actions but your solution is nothing short of brilliant, so GitHub Actions can wait!

Great stuff!

[2020-07-09 18:07] maxim-belkin commented on #471
and don't forget about using ~~~ instead of ```

[2020-07-14 18:56] maxim-belkin opened #474 ""Waiting for contributor response" label"
I'd like to propose to add a "Waiting for user response" or "Waiting for user to respond" label. I think it could be useful for maintainers.

-- Added on July 23, 2020

I also suggest adding a label for style/formatting-related issues and PRs (https://github.com/carpentries/styles/issues/474#issuecomment-663038386)

And for this repository, changes can be github-related and lesson-template related

[2020-07-15 12:03] brownsarahm commented on #474
we should use "contributor" instead of "user" to be consistent with the language on the status:changes requested label.

[2020-07-15 22:03] kelseygonzalez opened #476 "make serve versus bundle exec jekyll serve"
For windows 10, `make serve` fails for me but `bundle exec jekyll serve` runs. (Thanks for your help, @zkamvar @Denubis @ldko and @maxim-belkin on getting this figured out). It sounds like the instruction section "For Everyone" needs to be updated to reflect this if it's a more general issue for all Windows computers.

[2020-07-15 23:45] zkamvar commented on #476
Just a note to clarify and narrow down the issue:

 - This was an issue with the makefile not finding python despite `which python` producing a working python 3 installation.
 - `bundle exec jekyll serve` will only work for lessons that do not need to render RMarkdown.

[2020-07-16 00:48] Denubis commented on #476
... I think there are 3 different threads here, since jekyll is *ruby* based.

Looking at the makefile -- it checks for python presence regardless of its use, but doesn't check for ruby/docker. The only need we have for python are for the x-check.py files, which may not be why people are trying to run this locally. Also, as ruby/jekyll moves forward, bundle exec jekyll serve is much more robust.

[2020-07-16 00:54] kelseygonzalez commented on #476
I can only half follow this thread, but for @Denubis 's second comment:

@zkamvar is talking about how when you run `make serve` on my computer, it pings the error
"Makefile:32: *** "Your system does not appear to have any Python installed.".  Stop." even though I do have python installed (which you can see through `which python` but _not_ `which python3`). There's something with the way the Makef

[2020-07-16 00:59] Denubis commented on #476
Yes, the makefile scans for python, then runs the command you asked it to run, which in this case is an instruction to ruby's package manager to run jekyll. My discussion is more that it feels like we're trying to do too many things in too many routes -- and if we really really need 3 different programming languages for our lesson template (I get why, since I'm partly at fault for contributing pyt

[2020-07-16 01:06] kelseygonzalez commented on #476
I agree that 3 languages is kind of excessive, which is probably by @zkamvar 's docker solution is a potential path forward and away from this confusion.

Correct, I'm not running it for lesson development but just for maintaining lessons. However, I maintain an R lesson and `bundle exec jeckyll serve` doesn't render the .rmd files whereas `make serve` supposedly does.

I don't 100% need to previe

[2020-07-16 01:11] Denubis commented on #476
Ok, so a quick fix would be to scan for python later on in the process before python is about to be invoked. What shell are you using on windows?

[2020-07-16 01:13] kelseygonzalez commented on #476
Git bash

On Wed, Jul 15, 2020, 6:12 PM Brian Ballsun-Stanton <
notifications@github.com> wrote:

[2020-07-16 01:38] Denubis commented on #476
Ok, reading the makefile. @kelseygonzalez  can you test https://github.com/Denubis/lesson-example allows you to both make rmd lessons and serve them?

[2020-07-16 14:50] zkamvar commented on #476
@Denubis To that note, we have created a dockerized container that bundles all of the requirements at https://github.com/carpentries/lesson-docker#readme We are also investigating ways to minimize these kinds of issues, which may include dropping our dependency on jekyll/bundler/ruby.

[2020-07-16 17:07] kelseygonzalez commented on #476
[code]
@Denubis : just ran `make serve` on git bash, here's the output

[2020-07-16 17:27] maxim-belkin commented on #476
What do you get when you execute `which bash` ?

[2020-07-16 17:29] kelseygonzalez commented on #476
[code]

[2020-07-16 17:32] maxim-belkin commented on #476
Could you please try changing `export SHELL = /bin/bash`line in the Makefile to `export SHELL = /usr/bin/bash` and see if it helps your issue?

[2020-07-16 17:41] kelseygonzalez commented on #476
no change in the result

[2020-07-16 22:34] Denubis commented on #476
Ok, this seems to be like an opportunity for a chat. Can you book in a time that works for you (probably on the other side of the world) https://calendly.com/brian-ballsun-stanton -- I think this will be a great opportunity to debug. I note that the make error you recently got is distinct from the prior errors, since that looks like an error in compiling the rmd. `make: *** [Makefile:137: _episode

[2020-07-21 00:54] Denubis commented on #476
Issue resolved in carpentries/lesson-example#293 -- forcing variables to set shell instead of using the shell's path and invoking bash explicitly was the issue. We also need to consolidate installation, because the documentation has us do a fair amount of manual work that the makefile also has us do. Is it worth spending time to fix this?

[2020-07-21 01:01] kelseygonzalez commented on #476
by manual work, @Denubis is referring to the `bundle update` line that the lesson set up tells us to run, when the `makefile` is already running `bundle update`.

side note: when running bundle update, it gives the following warning. We may want to move away from ruby sass.
[code]

[2020-07-21 14:34] fmichonneau commented on #476
I've transferred this issue to the styles repository. We'll review the PR that Brian has put in once it's in this repo.

Regarding the message from Ruby Sass, we rely on the gems that come as dependencies from GitHub Pages and so this is outside our control. However, this dependency issue should get fixed in the near future.

[2020-07-23 09:13] klieret opened #477 "Not getting Travis CI to build with ruby > 2.5.8 requirement"
After the required Ruby version in the Gemfile was bumped to ``>=2.5.8`` (following ``gh-pages``?), Travis won't build anymore under Xenial (because it has only 2.5.3 precompiled, see [here](https://docs.travis-ci.com/user/reference/xenial/#ruby-support)). However turning to Bionic Ubuntu works for the Ruby version, but there are other issues (in particular ``nokogiri`` won't work).

I have played

[2020-07-23 09:25] klieret commented on #477
Okay, actually I managed to get it to build for us (see the linked PR), but I expect this to be an issue for others. Also I removed things required for the ``R`` support which errored.

Let me know if there's any more proper way of doing this!

[2020-07-23 10:30] fmichonneau commented on #477
Thanks for letting us know. Could you please open a PR against this repository with your changes?

[2020-07-23 10:49] klieret commented on #477
We fixed it among others by removing everything relating to ``R`` (which you probably need).

I have tried to reenable the ``R`` stuff and arrive at:

[code]

However this fails with

[code]

So something seems to be wrong with the bionic release of rstudio?

[2020-07-23 10:51] klieret commented on #477
Let me ping @rgaiacs and @agitter  who also worked on this.

[2020-07-23 12:58] agitter commented on #477
@klieret I don't have any great ideas.  My only updates to the Travis CI install script were pretty minor.

I was hoping that [Travis Rubies](https://rubies.travis-ci.org/usage) would provide an easy way to update the Ruby version.  However, I only see support through `ruby-2.7.1`.

[2020-07-23 13:47] unode commented on #254
https://gist.github.com/unode/44330ffb793cbcdffdf31541a428e74b fixed it for us.

[2020-07-23 14:09] maxim-belkin commented on #254
It would be great if you could submit a PR updating the color of `a code` elements only, @unode.

[2020-07-23 14:15] maxim-belkin commented on #474
Yes, "Waiting for Contributor response" makes more sense.

[2020-07-23 14:26] maxim-belkin commented on #474
I also suggest adding a "Fix lesson style/formatting" or "type: fix style/formatting" label.

[2020-07-23 17:27] brownsarahm commented on #474
I would prefer using only "formatting" or possibly "syntax" to differentiate when the issue should be opened against this repo (`carpentries/styles`) instead of a lesson, but I agree that would be a helpful label.

I like the "type:" prefix

[2020-07-23 17:42] unode commented on #254
@maxim-belkin happy to do the PR but both changes are required to have `code` and [`link`]() (using same style as GitHub) due to CSS hierarchy rules.

The default style uses the *hyperlink* color on non-hyperlinks, which was one of the reasons for confusion.
As @fmichonneau shows in the screenshot above, you cannot tell which code blocks have links without hovering. Most readers don't notice and m

[2020-07-23 18:15] maxim-belkin commented on #254
No, you can add `a code { color: red; }` after `code { ... }` to get
![image](https://user-images.githubusercontent.com/13123663/88322628-9d310000-cce6-11ea-8f16-bd092c9a5757.png)

[2020-07-23 18:21] unode commented on #254
Sure, the point was to not have plain code in blue which is often used for links, as it happens here on GitHub.

[2020-07-23 18:28] maxim-belkin commented on #254
If that's the goal then yes. I thought we want to keep the default code blocks "as is" (because this is a pretty significant change) and update "code in links" (hence, `a code`) only.

I'm OK with this change if others like the new color. New contrast is pretty good, so no issues from accessibility standpoint.

[2020-07-24 06:58] fmichonneau commented on #474
Would you be willing to open a PR against this CSV file that we use to update our labels across our repositories?

[2020-07-24 09:11] maxim-belkin commented on #49
Fixed in https://github.com/carpentries/styles/pull/475 (https://github.com/carpentries/styles/commit/2e9d38f9862183b7a7a5858ea739ab765d245a64).

[2020-07-24 09:11] #49 closed

[2020-07-25 04:29] #254 closed

[2020-07-28 10:43] klieret commented on #477
Ah, but ``ruby-2.7.1`` would be enough, so I could try again with the ``16.04`` ubuntu (for which the rstudio installation worked).

Btw, why do we install rstudio though? As far as I understood, that's an R IDE. Seems strange that we need that for CI...

[2020-07-28 10:51] fmichonneau commented on #477
We don't install the Rstudio IDE, just R. We use one of the mirrors to download R that happens to be hosted by Rstudio (the company).

[2020-08-01 06:21] Denubis opened #480 "Fixing lesson deployment scripting: Travis-CI for all OSes, better choices than makefiles, reducing languages?"
As per request on https://github.com/carpentries/lesson-example/pull/293 migrating here

Issues.
1. We do not have Travis-CI checks on our deployment system for all OSes, leading to claims of "it works for me."
2. We require bash, ruby, python, and R as part of our deployment system and we have no deployment script that is tested in travis-ci
3. Our makefile is incredibly complex with a bunch of h

[2020-08-01 06:22] Denubis commented on #476
created conversation #480 from this. Short version: patching hard-coded bash locations out of a makefile is not an effective measure if we can't test if it works. Let's discuss what we want our testing framework to look like first?

[2020-08-05 12:56] maxim-belkin commented on #474
Where can I find that CSV? :)

[2020-08-05 13:52] fmichonneau commented on #474
here is it! https://github.com/carpentries/docs.carpentries.org/blob/master/data/github_labels.csv

[2020-08-05 13:53] maxim-belkin commented on #474
Thank you!

[2020-08-07 08:17] klieret commented on #477
Hmm, I just tried

[code]

Unfortunately the ``ruby-install`` command that is advertised [here](https://rubies.travis-ci.org/usage) "after a certain PR is merged" doesn't seem to work yet. So I think I'm out of ideas for how to get this working without sacrificing ``R`` support.

(Also installing the ``R`` packages takes forever (more than 10 minutes!))

[2020-08-07 09:28] #477 closed, assigned to nobody

[2020-08-07 09:31] fmichonneau commented on #477
@klieret I just pushed a rewrite of the `.travis.yml` file that seems to work. It does include R but it's using binary package installation (which speeds things up considerably, total build time should be ~6 min the first time, and less after that).

This file is also meant to be a starting point that lesson authors/maintainers may need to customize for their needs. Feel free to remove the R parts

[2020-08-12 12:59] fmichonneau opened #492 "highlight lines in code chunks"
originally suggested here: https://github.com/datacarpentry/sql-ecology-lesson/issues/231

What would it take to allow lesson authors to highlight specific lines/segments in code chunks?

[2020-08-14 00:37] brownsarahm commented on #492
Could it be done by defining css for the `<em>` tag inside a code block so that lesson authors could use `*highlighted part*` inside the code block?

also note: I'm speculating without having looked at any css, only how jekyll converts `*` into html.

[2020-08-14 09:34] fmichonneau opened #493 "create GH Actions to inset version number in footer of template?"
The footer of the template includes "Using The Carpentries style version 9.5.3." (it has been the same version number for a long time...)

The version number is hard-coded, and we continuously bring improvements to the template, which is not very suitable for a release-based versioning system.

I'm wondering if we could use a GitHub Actions workflow to insert into the footer the (short) sha1 from

[2020-08-14 20:59] maxim-belkin commented on #493
We can definitely do that for lessons and it shouldn't create too much noise -- one extra PR when lessons sync up with this repo. We can create an action that would submit a pull request to update `_includes/lesson_footer.html`.

[2020-08-14 21:10] maxim-belkin commented on #493
Using `_data/styles_version.yml` might be a good idea too.

[2020-08-22 05:14] fmichonneau opened #499 "use {renv} to create local library of packages for each lesson"
using {renv} would allow us to create independent libraries for each lesson, and therefore we wouldn't need to touch the maintainers/contributors personal installation. The lesson scripts could continue to rely on always using the latest versions of the packages (or pinned ones if that was needed) without interferring with what people building the lessons want to do with their versions.

[2020-08-24 15:56] zkamvar commented on #499
Note that {renv} by default will use the pinned versions, so we would need to come up with a way to test and update the lock file.

[2020-08-28 06:05] fmichonneau commented on #480
Hi @Denubis,

Maxim has created new GitHub actions that allow us to comprehensively check changes on the styles template on a few lessons across OSes. How does that align with what you had in mind?

Thanks!

[2020-09-07 00:49] Denubis commented on #480
Do these actions perform installs of the 4 different programming languages on each OS? (I.e. can we render and lesson-check an R-markdown lesson?) And are those scripts runnable by normal folk, so we can reduce the complexity of our install requirements?

[2020-09-08 14:58] zkamvar commented on #480
Hi @Denubis, François is away this week, but I can take a stab at answering your questions. The answer to your first and second questions are yes and no (with a but), respectively.

The CI service runs on all OSes and is able to have all of the programming languages installed, which you can see here: https://github.com/carpentries/styles/blob/gh-pages/.github/workflows/template.yml#L15

Your quest

[2020-09-11 17:13] tkphd opened #502 "Drop requirement for consecutive lesson numbering"
[lesson-check.py](https://github.com/carpentries/styles/blob/a8eee52a26c41f45902837dd6ed97b986f4690a9/bin/lesson_check.py#L302) currently throws an error if the files contained in `_episodes` are not numbered sequentially, with an increment of one. This seems arbitrary, and forces a global renumbering when an episode is added or removed. A legitimate numbering scheme might increment by 5 or 10, si

[2020-09-11 18:20] maxim-belkin commented on #502
Hi Trevor,

`seen[i]` will always be a digit because of the pattern we use
https://github.com/carpentries/styles/blob/a8eee52a26c41f45902837dd6ed97b986f4690a9/bin/lesson_check.py#L42
and the matching we do:
https://github.com/carpentries/styles/blob/a8eee52a26c41f45902837dd6ed97b986f4690a9/bin/lesson_check.py#L289-L291

so we don't need that `isdigit()` check and can drop this block. Question: do

[2020-09-11 19:42] tkphd commented on #502
Ah-ha, thanks for highlighting the regular expression match. Very nice.

We don't need numerical episode labels, and the manual numbering looks like it has some advantages -- at the expense of the current simplicity. I would prefer to maintain number labels for the HPC Carpentries, but it's good to know an alternative exists.

[2020-09-15 17:03] maxim-belkin commented on #423
Fixed in #425.

[2020-09-15 17:03] #423 closed

[2020-09-15 18:15] maxim-belkin commented on #131
Addressed in #216

[2020-09-15 18:15] #131 closed

[2020-09-15 18:22] maxim-belkin commented on #93
I believe this issue has been resolved:
![Screenshot of "Turn a string into a list" exercise](https://user-images.githubusercontent.com/13123663/93249060-94d4ce80-f745-11ea-8469-6a715bae623a.png)

[2020-09-15 18:22] #93 closed

[2020-09-15 18:23] maxim-belkin commented on #95
Agreed. This issue has been fixed.

[2020-09-15 18:23] #95 closed

[2020-10-02 13:24] ewallace opened #505 "Github import fails"
I am having a failure for this repository on github import, which means that I can't follow the lesson setup instructions in [lesson-example setup](https://carpentries.github.io/lesson-example/setup.html).

I follow the instructions, and get the github error message:

[The repository is created with a `README.md` and 18 tags](/ewallace/test_styles).

I've tried this several times, including after

[2020-10-02 13:41] maxim-belkin commented on #505
This does sound like a GitHub problem.

You can mimick GitHub import with the following steps:
1. Create an empty repo on GitHub (don't initialize any files)
2. Clone carpentries/styles repo to your computer.
3. Change the remote `origin` to point to the empty repo created in step 1
4. Push cloned repo to the empty repo

[code]

[2020-10-02 13:47] brownsarahm commented on #505
I was able to recreate this issue, the import is not currently working. I had an issue with my materials for my course a few weeks ago where import stopped working, but there was something in the repo that I changed and fixed it.  I can look back tomorrow maybe to try to remember what I did and fixed, but if anything structural changed here recently, that could also be the culprit.

We wouldn't wa

[2020-10-07 07:48] fmichonneau opened #506 "Documentation for GitHub Actions needed"
The GitHub Actions added to this repository and how Maintainers can use them to troubleshoot and understand what they do need to be documented. Maybe this can be done by adding a page to the lesson-example? @maxim-belkin as you did most of the work on this, would you be able to draft something?

[2020-10-07 21:29] maxim-belkin commented on #474
Resolved in carpentries/docs.carpentries.org#668 🎉

[2020-10-07 21:29] #474 closed, assigned to nobody

[2020-10-11 17:56] ewallace commented on #505
I've written some instructions to fix, as suggested by @maxim-belkin, in [lesson-example#301](/carpentries/lesson-example/pull/301). Would you mind taking a look at it?

[2020-10-30 15:14] maxim-belkin commented on #506
I can do that -- should it be a new episode?

[2020-11-02 10:01] fmichonneau commented on #506
Thanks Maxim. Yes, I think having a new episode would work well.

[2020-11-04 15:03] tobyhodges opened #513 "Option to add a border around images?"
In the process of developing a lesson using the remote theme, we ran into some trouble with screenshots embedded in the body of an episode: we had a short paragraph sandwiched between two screenshots, both of which showed blank/dark grey text on a white background (they are screenshots of the GitHub interface). One developer noticed that it was very easy to miss that paragraph between the two scre

[2020-11-04 17:01] fmichonneau commented on #513
maybe we could create a new CSS class that would take care of this?

[2020-11-04 17:48] maxim-belkin commented on #513
The solution is to add CSS specification right after the image in question, e.g.:

[code]
It might be possible to add class specification as well (such as `{: .image-with-borders}`) and then define that class in `assets/css/lesson.scss` but I haven't tested this yet.

[2020-11-09 18:40] sstevens2 commented on #505
Reporting that this is still an issue and I'll do the local work around.

[2020-11-11 08:16] ocaisa opened #517 "No placeholder for Learner Profile"
While preparing for a workshop on lesson design this week, I was surprised to realise that there is no placeholder in the lesson for Learner Profiles. For SWC, for example, you can find this on the website and it is a catchall for the full workshop, but there are many people who are using the lesson style to write their own lessons and don't have such a website. Since the Learner Profile is a key

[2020-11-11 16:24] maxim-belkin commented on #517
I agree: learner profile(s) are useful (they help lesson maintainers/developers keep the focus of the their target audience; they also help learners understand whether a particular lesson is well suited for them) and reminding lesson developers about them is a good idea. We could have a dedicated file for them (`leaner_profile.md`) or embed them into an existing file (e.g., `guide.md` as you sugge

[2020-11-11 18:09] brownsarahm commented on #517
I agree learner profiles are very useful for lesson development & learner self-assessment/choosing to participate.

I think a dedicated file for them that is rendered to its own page under extras is possibly better than putting it in guide.

I did it that way for my [incubator lesson](https://carpentries-incubator.github.io/python-packaging-publishing/learner-profiles/index.html) and it's been han

[2020-11-11 19:29] maxim-belkin opened #518 "Mark carpentries/styles repository as a Template repository"
I propose to mark this repository as a Template repository so that others can click "Use this template" (or navigate to https://github.com/carpentries/styles/generate) to get started with lesson development

<details>
<summary>Checkbox location</summary>

![image](https://user-images.githubusercontent.com/13123663/98855360-7c212600-2421-11eb-81d0-718f9409fa74.png)
</details>

[2020-11-12 08:41] fmichonneau commented on #518
done. We'd need to check what default branch is enabled after using the feature though, and if it's not `gh-pages` we'd need to add this clearly in the documentation.

[2020-11-12 08:41] #518 closed, assigned to nobody

[2020-11-12 08:42] fmichonneau commented on #518
I just tested and `gh-pages` is the default and only branch :confetti_ball:

[2020-11-12 18:09] zkamvar commented on #518
Will this affect the update process for new repos? I seem to recall some discussion (though I can't find where) about using this feature and the fact that it would start with no commit history, which would mean that you can't create a pull request from the styles repo because there is no shared history.

[2020-11-12 18:39] maxim-belkin commented on #518
You're correct, Zhian. Template repositories start with all the repository content packed into a single "Initial commit" and I don't see a way to preserve repo history on the /generate page. I haven't noticed that initially, so thanks for the info.

@fmichonneau, unfortunately it looks like we have to undo this change and document why we can't use it. Sorry for the trouble.

[2020-11-13 05:43] fmichonneau commented on #518
Thanks Zhian! I only remembered the issue of the lack of Git history a few hours after enabling this. I'm reverting it now.

[2020-11-30 19:48] bkmgit opened #525 "Color scheme for links"
Make links appear in a color that has better contrast to the default black text. It may also be helpful to have links underlined or possibly in bold. This is particularly helpful for the links in the setup instructions which may be initially read by participants without much guidance.

[2020-11-30 19:56] brownsarahm commented on #525
@bkmgit I've moved this issue to a different repository where we maintain the styling of the lessons separately from the
example.

Thanks for pointing this out, it's related to an open pull request #511 Feel free to comment if that does or does not address all of your concerns.

[2020-12-02 16:42] dafnidrake opened #526 "No Default CRAN"
When trying to use `make serve` to preview changes locally, I was receiving the following error:
[code]

I was able to resolve by setting my default CRAN mirror following a suggestion from @zkamvar by adding `options(repos = c(CRAN = "https://cran.rstudio.org"))` to my `.Rprofile`, but others may be running into similar issues.

[2020-12-02 17:11] zkamvar commented on #526
Thank you for reporting this @drakeasberry. I can take it from here.

Turns out it's my own darn fault. I tried to fix this issue in #509, but it turns out that I was being a numpty. The "repos" option ALWAYS has a value. If the repo is unset, it defaults to `"@CRAN@"`, which signals `contrib.url()` to give the user an interactive prompt to choose the mirror.

I'll make a PR that should fix this o

[2020-12-03 14:49] #526 closed, assigned to nobody

[2020-12-18 11:50] tobyhodges opened #533 "lesson_check.py --permissive for pre-alpha?"
I'm not so familiar with what's possible in GNU Make or GitHub Actions. Could the Makefile be adjusted such that the `lesson_check` script is run with the `--permissive` option for lessons in `pre-alpha`? Or adjust `.github/workflows/website.yml` to achieve the same for pull requests/commits made while in pre-alpha? Or is this kind of querying of the `_config.yml` not really possible in this conte

[2020-12-18 15:56] zkamvar commented on #533
If it's specific for pre-alpha, I think it would be better to engineer `lesson_check.py` to auto-apply the permissive flag for pre-alpha versions. Neither Make or GHA really care about the contents of any files.

[2020-12-18 16:41] #533 closed, assigned to nobody

[2020-12-18 17:42] ErinBecker commented on #533
@allendowney - Just wanted to send you a heads up that this should fix some of the problems you've been experiencing with the Astronomy lesson. Thank you for reporting the issue!

[2020-12-18 18:11] AllenDowney commented on #533
@ErinBecker Great, thanks!

[2021-01-11 12:24] tkphd opened #541 "'incubator' option in lesson-check"
CI fails for lessons in the Incubator using the recommended, valid, 'incubator' value for the 'carpentry' field.

https://github.com/carpentries/styles/blob/c92e47cf32e2372018e3273fc0a5408c045f9cd5/bin/lesson_check.py#L178

[2021-01-11 16:32] #541 closed, assigned to nobody

[2021-02-04 23:33] unode opened #543 "lesson_check.py parser crash on edge syntax case"
Given a lesson `parsetest.md`:

[code]

running `make lesson-check-all` results in:

[code]

Modifying the above to read:

[code]
avoids the crash.

The expectation is that the lesson check script can handle incorrect input without crashing, ideally providing information on what could be wrong.

[2021-02-08 10:42] fmichonneau opened #544 "[GitHub Actions] 'Website' workflow keeps deleted files in `gh-pages` branch"
As `gh-pages` isn't an orphaned branch anymore, files that are deleted in `main` remain in the rendered version in `gh-pages`. The workflow needs to be adapted to make sure these files are also removed.

[2021-02-08 15:34] zkamvar commented on #544
This is a good point, and I believe it is relevant with the {sandpaper} workflows as well.

[2021-02-08 20:06] zkamvar commented on #543
For future reference, the parser is treating that codeblock as this:

[code]

One of the solutions would be to add another check right before the code block to check that the class is not none and then throw a check error

[2021-02-10 23:47] tomgreen66 commented on #543
Hi, also hit this issue with the following piece of code.  Any advice how to not trigger the error reported above:
[code]

[2021-02-11 00:52] zkamvar commented on #543
Hi @tomgreen66, could you provide a little more context before and after that code chunk? As @unode showed, the context before the code chunk affected how it was interpreted (e.g. you needed to have a blank line before the code block for markdown to interpret it correctly). Unfortunately kramdown's documentation is not of much help (it doesn't seem to mention context for code blocks: https://kramd

[2021-02-12 01:25] tomgreen66 commented on #543
There are blank lines before and after the codeblock.  If I delete the blank line between the `}` and `// Show help message` it seems to work as expected but confused why it needs it.

[2021-02-12 01:52] zkamvar commented on #543
Would you be able to give a link to the episode where this code block lives? I acknowledge that it is indeed weird and it should not be throwing that particular error. Having the full content episode would really help in understanding what behavior triggers this problem and how it can be fixed. That would allow me to go through the AST and see exactly where the kramdown parser messed up (my concep

[2021-02-15 13:49] tomgreen66 commented on #543
Putting together some tutorials for online sessions using the Software Carpentry Style since we have a Carpenter in our team.  See: https://arcca.github.io/intro_nextflow/02-first_script/index.html

[2021-02-15 17:14] zkamvar commented on #543
Thank you for the link. For someone who knows the kramdown parser better than I, The value of the node that's giving the error is:

{'type': 'codeblock', 'value': '    Mandatory arguments:\n     --query                       Query file count words\n     --outfile                     Output file name\n     --outdir                      Final output directory\n\n    Optional arguments:\n     --app

[2021-02-15 18:43] maxim-belkin commented on #543
I'll have a look at this.

[2021-02-15 20:56] maxim-belkin commented on #543
@unode and @tomgreen66, could you please test if changes to `bin/markdown_ast.rb` in #546 fix the issues that you're experiencing?

[2021-02-15 22:51] tomgreen66 commented on #543
Thanks.  Tried the fix in #546 by installing the gem and adding the change the `markdown_ast.rb` but when running `make lesson-check-all` I now get the error below for both the original code and the workaround "If I delete the blank line between the } and // Show help message".  Think I added the fix correctly but happy for someone else to check.  Maybe I need to reformat things differently - just

[2021-02-15 23:17] maxim-belkin commented on #543
@tomgreen66, your code block passes tests for me, so let's debug this together. Are you on a Mac or a Linux-machine?
Could you please save the following code into a file `test.rb`, execute it via `ruby test.rb` and report the result?
[code]

[2021-02-16 11:26] tomgreen66 commented on #543
I get the following on MacOS Mojave using Homebrew Ruby:
[code]

[2021-02-16 11:38] tomgreen66 commented on #543
Okay.  My mistake.  Having printed out line number and file it highlighting missing `{: .source}` at tend of code blocks in other files.  So I think we need a:

[code]

To help locate places where class specifiers are not used.  Sorry for confusion - I thought the rest of the document had no other issues - maybe this new parser picks them up too?

[2021-02-16 18:55] maxim-belkin commented on #543
That's a good idea with one comment: we need to make sure it's clear that this is an error message and to either halt the execution of `lesson-check` or skip to the next file when this happens because we can't produce an AST of (and, therefore, analyze) the current file. Would you like to submit a PR with this fix?

[2021-02-16 19:29] #543 closed, assigned to nobody

[2021-02-17 18:28] unode commented on #543
Sorry, I didn't manage to get back to you before.
The issue is now closed but I confirm that #546 addresses the original failure.

[2021-02-18 07:40] maxim-belkin commented on #543
Thanks for confirming, @unode.

[2021-02-19 15:49] reid-a opened #547 "Python invokes native ruby, not bundle ruby"
https://github.com/carpentries/styles/blob/ec29c6b1793ed0af52b4c858a0c7a4911722caf1/bin/util.py#L118

The Ruby invoked by the Python tools called from the Makefile runs a different Ruby than when Ruby is called directly from the Makefile.

For example, the "serve" target runs a multi-stage workflow that populates the bundle with the required gems, and then runs jekyll.

The Python code just calls

[2021-02-19 22:16] reid-a commented on #547
Clarifying since it's already caused some confusion (on the PR):
It's not that the versions of ruby being run are different, it's that their environments are different. When Ruby is called from the makefile (e.g. the "make serve" target), it runs in the bundle context, but when it's called from Python (e.g. the "make lesson-check-all" target), it's called from the shell, without the bundle context

[2021-02-22 07:31] #547 closed, assigned to nobody

[2021-02-23 22:42] tomgreen66 opened #550 "Print error in lesson_check.py if code block has no class specifier"
That's a good idea with one comment: we need to make sure it's clear that this is an error message and to either halt the execution of `lesson-check` or skip to the next file when this happens because we can't produce an AST of (and, therefore, analyze) the current file. Would you like to submit a PR with this fix?

_Originally posted by @maxim-belkin in https://github.com/carpentries/styles/issue

[2021-02-23 23:02] tomgreen66 commented on #550
Have maybe improved upon suggestion to add another check and just include the check for `cls is None` in the `self.reporter.check` and in the process make it `cls is not None`.  See:

ARCCA/styles@661de87e4a8ce6c962180420c11922f07e476384

[2021-02-24 14:42] fmichonneau opened #551 "[GitHub Actions] disable make check all for workshop template"
because we use the `styles` repository for things that are not always lessons (e.g. the workshop template), we need to adjust when `make lesson-check-all` gets invoked.

For workshop-based repositories, we'd want to invoke `make workshop-check`. When it's the template itself, we could edit the index file to populate the yaml header to check the validity of the lesson (that's what we used to do on

[2021-03-02 12:56] colinsauze opened #553 "Linux Setup Instructions incomplete"
The Linux Setup instructions (in setup.md) miss several steps that are required (at least for me on Ubuntu 18.04) to get the Gems configured and installed.

After running `gem install bundler --user-install` I get the error:

[code]
so after running this the bundle(r) command is not in my path. I either need to add ~/.gem/ruby/2.5.0/bin to my path or prefix all commands with it.

When trying to ru

[2021-03-03 16:24] josephmje opened #552 "Using ``make serve`` with ruby 3.0.0"
I had an issue running `make serve` using ruby 3.0.0. I tracked down a solution on this GitHub issue: https://github.com/jekyll/jekyll/pull/8590.

The fix was to run `bundle add webrick`.

This command adds the following line to the Gemfile:
`gem "webrick", "~> 1.7"`

Should the [Carpentries lesson setup instructions](https://carpentries.github.io/lesson-example/setup.html) be modified to explicit

[2021-03-04 19:56] maxim-belkin commented on #553
@fmichonneau, I think lesson-example was the right repo for this report... This repo doesn't provide `setup.md`.
The order of `bundle config` flags ~will be fixed in #495~ was fixed in #559.

[2021-03-04 20:18] maxim-belkin commented on #552
Thanks for the report, @josephmje! Our Gemfile currently imposes `>= 2.7.1` requirement on Ruby. Below are the possible solution that I envision:

1. Require Ruby version == 2.7.1
2. Require Ruby version >= 2.7.1 < 3.0.0
3. Add `webrick` requirement for Ruby version 3.0.0 and above:
[code]
I think the latter option is probably the cleanest one (because it does not add new dependencies for Ruby ver

[2021-03-04 20:55] josephmje commented on #552
Yes, I agree. I think there are a lot of people that use Ruby 3.0.0. How about

`gem 'webrick', '~>1.6'`

since 1.6 is the version bundled in Ruby 2.7.1 and it would also allow anything below 2.0?

[2021-03-04 22:33] maxim-belkin commented on #552
From Ruby 3.0 release notes (https://www.ruby-lang.org/en/news/2020/12/25/ruby-3-0-0-released/):

It looks like there is a vulnerability in 1.6 ([link](https://www.ruby-lang.org/en/news/2020/09/29/http-request-smuggling-cve-2020-25613/)), so we should probably stick with `>= 1.6.1`.
Webrick is a default gem for Ruby 2.7.1 and 2.7.2, so there is no need to require it for versions prior to 3.0.0...

[2021-03-05 14:19] josephmje commented on #552
Good catch @maxim-belkin! This sounds good to me.

[2021-03-05 15:53] maxim-belkin commented on #552
I would really appreciate if you can open a PR to fix the Gemfile, @josephmje!

[2021-03-05 16:28] #552 closed, assigned to nobody

[2021-03-10 18:17] zkamvar opened #556 "Error in lesson_check.py if lesson does not have life_cycle"
Source: https://github.com/swcarpentry/r-novice-gapminder/pull/694#issuecomment-795848265

If a lesson does not have `life_cycle` (e.g. all of the official lessons), then `lesson_check.py` fails. This is a new bug introduced in https://github.com/carpentries/styles/pull/536. The solution is to check if the key "life_cycle" exists and return None if it doesn't.

[2021-03-10 19:54] #556 closed, assigned to zkamvar

[2021-03-10 23:15] zkamvar commented on #543
At the moment, it's crashing on the current version of r-novice-gapminder, but I have no clue how to begin debugging this (other than print statements everywhere): https://github.com/swcarpentry/r-novice-gapminder/pull/696#issuecomment-796265728

[2021-03-11 00:42] tomgreen66 commented on #543
I put a suggestion in #550 as described in this change https://github.com/ARCCA/styles/commit/661de87e4a8ce6c962180420c11922f07e476384 - maybe it will help.

[2021-03-11 16:47] zkamvar commented on #550
The solution does work, but this allows the AST to be malformed because we expect that all code blocks should have a class associated.

I think the deeper problem is HOW the AST is malformed, because it could be via user error or, as we saw in #543, a parser error. Because None is an unexpected condition which could be caused by either user or parser, it would not be a good idea to throw an error,

[2021-03-11 18:28] #550 closed, assigned to nobody

[2021-03-19 15:37] maxim-belkin opened #564 "Template issues with R lessons on Windows"
CI shows that there are some issues with R lessons on Windows ([link](https://github.com/carpentries/styles/runs/2149462246#step:11:16)) specifically with the "Install needed packages" step:

[code]

This was introduced in ed77edaea17ac700970da9388d489256d5e3494e.
CC @fmichonneau

[2021-03-19 22:59] #564 closed, assigned to nobody

[2021-03-27 22:09] vinisalazar commented on #419
Hi @fmichonneau,

I considered documenting this in section 8.2.3.2 of [Chapter 8 of The Curriculum Development Handbook](https://carpentries.github.io/curriculum-development/technological-introductions.html), would that help?

[2021-04-03 14:34] jhlegarreta opened #568 "404 page does not apply the style for any arbitrary invalid URL"
The 404 page seems to work correctly when introducing an invalid URL from the main page, e.g.
https://carpentries.github.io/lesson-example/random

However, the style is not correctly applied when introducing an invalid URL from any other page/episode or any other part of the URL, e.g.
https://carpentries.github.io/lesson-example/03-organization/index1.html
https://carpentries.github.io/lesson-exam

[2021-04-12 15:21] fmichonneau opened #570 "[GitHub Actions] update make lesson-check-all to work with remote theme"
when using the remote theme, `links.md` file is missing which causes `make lesson-check-all` to fail. The script needs to be modified to account for the structure of the remote theme.

[2021-04-14 05:42] #570 closed, assigned to nobody

[2021-04-14 22:56] baileythegreen opened #574 "Add a Readme"
to this repo because the single sentence in its description does not provide enough information to make up for the ambiguous name of the repo.

Ideally, the Readme would include some detailed explanation of how this repo differs in its intended use from https://github.com/carpentries/carpentries-theme, given that Jekyll themes are basically rules for styling pages.

I am not able to propose a suit

[2021-04-15 00:41] zkamvar opened #576 "new python function `using_remote_theme()` needs an argument"
The function introduced in #571 to skip checks when using remote theme needs to pass `source_dir` as an argument otherwise it fails:

[code]

https://github.com/carpentries/styles/blob/4df505249a27191c3475102cde4c150b0a131102/bin/lesson_check.py#L173-L176

[2021-04-15 05:07] #576 closed, assigned to nobody

[2021-04-15 11:26] fmichonneau commented on #574
I think we can't have a README for this repo because it would lead to confusing merge conflicts when updating the template in the lesson repositories.

[2021-04-15 11:40] baileythegreen commented on #574
Could that be solved by adding the Readme to `.gitignore`?

If not, can the description be expanded, at least?

[2021-04-16 21:16] maxim-belkin commented on #574
This repo is the backbone of The Carpentries lessons -- navigation bar, icons, stylesheets, etc. The Carpentries lessons use Jekyll / GitHub pages, so without this repo one would have to set up all the styles manually and every lesson would look different.

This repo is mentioned in the [Lesson Example](https://carpentries.github.io/lesson-example/setup.html#creating-a-new-lesson) and in the Curri

[2021-04-19 07:27] bkmgit commented on #525
Thanks #511  and #549 seem to address this.

[2021-04-19 07:27] #525 closed, assigned to nobody

[2021-04-21 13:26] jhlegarreta commented on #568
I can confirm that applying the fix in #578 solved the issue in the repository where this was first detected:
https://github.com/carpentries-incubator/SDC-BIDS-dMRI

e.g.

![carpentries_404_outer](https://user-images.githubusercontent.com/5576557/115561256-642cb880-a283-11eb-8e48-0dbd5affbf41.png)

and

![carpentries_404_inner](https://user-images.githubusercontent.com/5576557/115561349-79094c00-a

[2021-04-21 13:26] #568 closed, assigned to nobody

[2021-04-21 14:51] jhlegarreta opened #581 "Allow blank lines and comments when checking `links.md`"
The `make lesson-check-all` script seems not to allow blank lines and comments in the `links.md` file according to the following report in a `carpentries-incubator` repository:
https://github.com/carpentries-incubator/SDC-BIDS-dMRI/pull/142/checks?check_run_id=2400917706#step:16:9

Removing the blank lines and comments in the relevant file:
https://raw.githubusercontent.com/carpentries-incubator/S

[2021-04-21 15:15] jhlegarreta commented on #581
@maxim-belkin Looks like the described behavior is not observed in other PRs:
https://github.com/carpentries-incubator/SDC-BIDS-dMRI/runs/2401702149?check_suite_focus=true

Not sure why.

[2021-04-21 15:31] maxim-belkin commented on #581
@jhlegarreta, not sure why some runs fail and other don't for you -- don't have the time to look into this at the moment.

just an FYI: the `links.md` file is not supposed to be edited in the individual lessons but in this repository only. This file includes links that are used by all lessons. It might not be a bad idea to add another file (e.g. `lesson_links.md`) and `{% include ... %}` it in `li

[2021-04-21 15:39] jhlegarreta commented on #581
:+1: sounds reasonable. We'll give a try to splitting the links into two files.

[2021-04-22 23:00] jhlegarreta opened #586 "Allow for non-spaced links in internally-defined Markdown-links"
According to
https://www.markdownguide.org/basic-syntax/#formatting-the-first-part-of-the-link

the whitespace between the first and second set of brackets for internally-defined is not a requirement.

The regex patterns to check for internally-defined Markdown links in [here](https://github.com/carpentries/styles/blob/gh-pages/bin/lesson_check.py#L50) seem to require a whitespace.

The relevant w

[2021-04-22 23:00] jhlegarreta opened #587 "Allow for non-numbered episodes in checks"
The episode filename pattern regex expects these to start with a number:
https://github.com/carpentries/styles/blob/e3808e8060680c182578e3f40a8723057f290e52/bin/lesson_check.py#L45

However, in
https://github.com/carpentries-incubator/SDC-BIDS-dMRI

We decided to remove the numbers and use the episode order feature (https://carpentries.github.io/lesson-example/03-organization/) because we wanted t

[2021-04-27 20:57] fmichonneau commented on #154
fixed with #573

[2021-04-27 20:57] #154 closed

[2021-05-02 23:29] jhlegarreta opened #591 "Allow skipping line length checks for link-only lines"
The `make leson-check-all` script checks the line lengths of the Markdown files. If I'm not mistaken by the check results, lines containing only links dot not raise warnings if exceeding the allowed line length. However, such warnings are indeed raised for lines containing only links in the solution blocks.

Please correct me if I'm wrong, but I believe that links cannot be split across lines.

Be

[2021-05-06 14:41] maxim-belkin commented on #591
Thanks for opening the issue, @jhlegarreta. You're correct in that `make lesson-check-all` treats (long) lines differently depending on certain conditions. Currently, lines that contain images (not links) are allowed to go over the suggested line length limit (100 characters). I agree that it makes sense to allow lines that contain images and links only to go over the suggested line length limit (

[2021-05-06 14:51] #581 closed, assigned to nobody

[2021-05-06 15:37] jhlegarreta commented on #591
Thanks @maxim-belkin . In my issue, when mentioning links I meant images, i.e. lines like:
[code]
in https://github.com/carpentries-incubator/SDC-BIDS-dMRI/blob/99dd1d1235e78bf940c4728974635fec5a00fabc/_episodes/constrained_spherical_deconvolution.md

or
[code]

in https://github.com/carpentries-incubator/SDC-BIDS-dMRI/blob/99dd1d1235e78bf940c4728974635fec5a00fabc/_episodes/deterministic_tractogra

[2021-05-06 17:11] maxim-belkin commented on #591
I submitted #594 that should allow these exceptions. Note, that if desired you can go under the line length limit even now using...

~internal~ reference links:
[code]

and some Liquid magic for very long alt. texts:

[code]

Technically, you can go even further ~down the rabbit hole~:
[code]

but, as you can see, it's a very small improvement (the longest line is still pretty long)

[2021-05-06 20:02] jhlegarreta commented on #591
Thanks for these helpful explanations @maxim-belkin :100:.

[2021-05-07 05:06] bkmgit opened #595 "Optional dropdown section"
It would be helpful to have a collapsible dropdown section for optional items to be included at instructor discretion. The styling for {: .solution} can be used as a starting point for this, modifying the title to optional and the color.

[2021-05-07 14:40] maxim-belkin commented on #595
It's definitely doable but what are use cases for such a collapsible section?

[2021-05-09 08:00] maxim-belkin commented on #591
@jhlegarreta, I'm reopening this issue since #594 hasn't fixed the issue completely for you. I'll comment about why this happened there.

[2021-05-09 08:28] #591 closed, assigned to maxim-belkin

[2021-05-10 14:20] josephmje opened #598 "Syncing lessons with styles repository"
When syncing lessons with this repository, the `_includes`, `assets` and `_layouts` folders were previously left out. Recently, the following files are included when synced:

- ` _includes/base_path.html`
- `_includes/javascript.html`
- `_includes/links.md`
- `_layouts/base.html`
- `assets/css/katex.min.css`
- `assets/css/lesson.scss`
- `assets/js/katex.min.js`

I just wanted to confirm whether th

[2021-05-12 14:13] maxim-belkin commented on #574
The description has been updated.

[2021-05-12 14:13] #574 closed, assigned to nobody

[2021-05-13 16:27] maxim-belkin commented on #598
The goal of the remote theme is to gather all the bells and whistles (CSS, JS, HTML templates) in one place so that we can do
[code]
in the `_config.yml` and be done with it. Remote themes are described here: https://jekyllrb.com/docs/themes/#creating-a-gem-based-theme There you can find the following paragraph:

So, it seems that having the files you list above in the lesson itself is not a probl

[2021-05-14 20:00] josephmje commented on #598
Thanks for the explanation @maxim-belkin! We've gone ahead and decided to keep them out of the above lesson since they will be pulled in anyway from the remote theme.

[2021-05-14 20:00] #598 closed, assigned to nobody

[2021-05-14 20:13] josephmje commented on #595
I think this feature would be really useful as well! Jupyter Book has a nice [implementation](https://jupyterbook.org/interactive/hiding.html#toggle-admonition-content-with-dropdowns) where the title of the dropdown can also be customized.

I think it would help with focusing attention. You could add a hidden "Find out more" section that may go beyond the scope of the lesson but curious learners a

[2021-06-04 22:08] zkamvar opened #605 "Update cache mechanism for R packages"
Our cache system is in the workflows is not working and that's because I did not have a good model of how the caching worked previously. Take the following code:

https://github.com/carpentries/styles/blob/da771119b6c4adc61dea3e33786a3c8179600cb1/.github/workflows/website.yml#L55-L79

Line 60 depends on the files created by Lines 77 and 78, respectively. What needs to happen is that, of these thre

[2021-07-02 19:10] kekoziar opened #609 "Broken link in Boilerplate Contributing.md"
One of our contributors caught a broken link in the contributing.md page.
https://github.com/swcarpentry/git-novice/issues/783

[2021-07-02 19:13] maxim-belkin commented on #609
Thanks, @kekoziar. Would you like to submit a PR to fix it?

[2021-07-03 14:25] kekoziar commented on #609
Done, @maxim-belkin.  Thanks!

[2021-07-03 14:41] maxim-belkin commented on #609
Fixed in https://github.com/carpentries/styles/commit/6b49768a34a85f1d39d521d57ecfe6ad053b2de0

[2021-07-03 14:42] #609 closed, assigned to nobody

[2021-07-08 15:21] kekoziar opened #611 "Improve `make lesson-check` output"
When I run `make lesson-check` there is no output- it just finishes running and presents a command prompt.  I can only guess there are no errors in the lesson.  To test this, I introduced errors.  Sometimes it produced an error (when I deleted required files); sometimes not (when I introduced line-length errors).

I recommend that `make lesson-check` always has output, including an explicit statem

[2021-07-08 16:05] maxim-belkin commented on #611
I think this is a good suggestion. Would something like this work for you?
[code]

[2021-07-08 16:23] kekoziar commented on #611
If the error messages are listed under each file/check, I think that would be okay. My preference is still with a "No errors found" message at the end if there are no issues. But, at least with the proposed output, a user would know it's doing something. Thanks!

[2021-07-09 20:26] maxim-belkin commented on #611
I've discovered several bugs in `lesson-check.py` while working on this, so thank you for creating this issue, @kekoziar!

[2021-07-17 20:48] atheobold opened #619 "Publishing HTML files for Workshop Extras"
Greetings! The R Social Science team has been attempting to get the HTML files published for the code handouts associated with each lesson. Based on @bencomp's suggestion, it appears that the Makefile needs to include .Rmd files in the `_extras`. @bencomp presents great suggestions for how these files can be added in [this issue](https://github.com/datacarpentry/r-socialsci/issues/274), but we as

[2021-07-19 13:55] klieret commented on #229
Hi @dpshelio @rgaiacs @fmichonneau  . I'm curious about this change. Was there any specific reason you decided against this? This seems to be a very elegant solution for sharing common parts of code between the different repositories.

I'm part of an organization (HSF Training) that develops training modules based on your template (thank you! :heart:) for the high energy physics community and we h

[2021-07-19 14:04] maxim-belkin commented on #229
@klieret, check out [carpentries/carpentries-theme](https://github.com/carpentries/carpentries-theme) repo

[2021-08-06 12:50] bpmweel opened #622 "Code Checking Utility"
Salutation!

While working on the deep-learning-intro we noticed that we needed to check whether the code we have in our lesson actually works. For this I made a small utility that we use in a github action to check this, you can see it here: https://github.com/bpmweel/cce.

Given a markdown file with the carpentries template the tool
- It extracts any code block marked with {:.language-python}
-

[2021-08-09 13:22] klieret commented on #229
Thanks a lot @maxim-belkin Exactly what we were looking for! I'm just curious that both `styles` and `carpentries-theme` currently coexist (and seem to be maintained somewhat separately). Why don't you simply remove all style files form `styles` and instead add `carpentries-theme` to its `Gemfile`?

[2021-08-10 16:39] zkamvar commented on #622
I like your solution to this problem! It's non-invasive towards the rest of the styles repository and it provides good feedback for python lessons.

I also agree that this would be a nice addition, but, because of changes we are planning for the future, it would be best to hold off on it.

Here's the rub: We are currently working on [the next iteration of the lesson infrastructure](https://carpent

[2021-09-09 08:26] fmichonneau commented on #480
I'm going to close this given that we have mostly move away from Travis, that GitHub Actions implements checks to the styles repo across multi OSes, that there have been many improvements to the Makefile, and we are making good progress towards the next iteration of the lesson infrastructure. Feel free to open new issues related to these topics as needed. Thanks!

[2021-09-09 08:26] #480 closed, assigned to nobody

[2021-09-09 08:33] fmichonneau commented on #86
taken care of by GitHub Actions now.

[2021-09-09 08:33] #86 closed

[2021-09-09 08:34] fmichonneau commented on #456
We have migrated to GitHub Actions now.

[2021-09-09 08:34] #456 closed

[2021-09-09 08:35] fmichonneau commented on #301
We are now using GitHub Actions.

[2021-09-09 08:35] #301 closed

[2021-09-09 08:44] fmichonneau commented on #553
I think that was addressed in the installation instructions in the lesson-example repository.

[2021-09-09 08:44] #553 closed, assigned to nobody

[2021-09-09 09:01] fmichonneau opened #623 "remove travis files"
now that we have good GitHub Actions and that Travis CI does easily support open-source projects, the travis files can be removed.

[2021-09-14 08:27] #623 closed, assigned to nobody

[2021-09-23 18:44] TheoAcker12 commented on #305
After using WAVE to check the contrast ratio for all possible colors in syntax.css, it looks like the following need to be changed:

- Comment
- Comment.Preproc
- Generic.Error
- Generic.Inserted
- Generic.Output
- Name.Attribute
- Name.Entity
- Name.Exception
- Name.Label
- Text.Whitespace
- Literal.String.Escape
- Literal.String.Interpol

Before I make a pull request: What is "Text.Whitespace" u

[2021-09-23 18:51] TheoAcker12 opened #626 "Low color contrast"
Low color contrast in code blocks is mentioned in #305. There are a couple other elements that have insufficient contrast:

- Headings in "Caution" blockquotes. WAVE did not detect this due to the use of a linear gradient. Something like `#ff6b75` would provide sufficient contrast without making the background too bright.
- Navbar text. This is not detected by WAVE, because technically the contras

[2021-09-23 19:40] maxim-belkin commented on #305
Hi @TheoAcker12.
I believe these colors are set by the bootstrap (https://getbootstrap.com/). I see that you tested these colors manually:
https://wave.webaim.org/report#/https://theoacker12.github.io/accessibility-content-testing/07-content-test/index.html
I'm not positive this is the proper way to do the testing though because background color is important too. You can test contrast of specific

[2021-09-23 20:28] maxim-belkin commented on #626
There is another tool that you can use, it's called tota11y. I think it reports navbar text colors as not having sufficient contrast but is OK with the colors of comments in code blocks.

[2021-09-24 13:34] TheoAcker12 commented on #305
Hi @maxim-belkin,

I tested them with the general code block background color of `#f8f8f8`. Are there some other background colors I should check, as well?

Other than the comment colors, I'm not sure how often any of these are used by the code highlighter, so I'm definitely not surprised that the comments are the only ones with low contrast in the lessons you maintain.

[2021-09-27 09:26] fmichonneau commented on #619
Hello @atheobold

Currently, the `Makefile` that coordinates the rendering of Rmd files into Markdown only looks for Rmd files into the `_episodes_rmd` folder and so files in other directories are ignored. Modifying the scripts to make this work is going to require some work as @bencomp [alluded to](https://github.com/datacarpentry/r-socialsci/issues/274#issuecomment-858504534).

Most of our effor

[2021-09-27 09:36] fmichonneau commented on #229
Hi @klieret

We have both because we have many lessons that use and rely on `styles`, and the remote theme doesn't allow us to have other scripts our infrastructure needs (e.g., scripts run by `make lesson-check`).

All the commits in `styles` that affect the remote theme are synchronized regularly.

As a side-note, we are working on the next iteration of our lesson template which is [designed](ht

[2021-09-27 09:36] #229 closed

[2021-10-01 08:09] ashwinvis commented on #290
Note: I am not a lawyer, but this is my understanding of how this works.

## Possible violation of GDPR, without cookie banners

I see that this issue was created around the time GDPR was implemented in the EU and has not been discussed ever since. A caveat of using Google Analytics is that without _explicit user consent being requested via annoying cookie banners_ at every lesson, the Carpentries

[2021-10-06 14:42] fmichonneau commented on #290
Thanks for bringing this up @ashwinvis. We are in the process of overhauling our privacy policy and cookies policy and we'll soon have further details available about this.

We are in the process of converting all our analytics to using the cookie-less version of Matomo, and I did so in 25a5b9f for the lesson template.

[2021-10-06 14:58] fmichonneau commented on #419
Hi @vinisalazar, I'm catching up on old issues. If you still have time to document this in the Curriculum Development Handbook, it would be very useful. Thanks!

[2021-10-06 15:06] fmichonneau commented on #505
instructions on how to use the command line to replicate what the importer does have been added to the lesson example repo.

[2021-10-06 15:06] #505 closed, assigned to nobody

[2021-10-06 15:07] fmichonneau commented on #513
Toby implemented this in #514

[2021-10-06 15:07] #513 closed, assigned to nobody

[2021-10-06 15:08] fmichonneau commented on #499
this is implemented in {sandpaper}

[2021-10-06 15:08] #499 closed, assigned to nobody

[2021-10-06 15:10] fmichonneau commented on #476
I think the Makefile has been greatly improved since this discussion. Feel free to re-open or create a new issue if something like this happens again.

[2021-10-06 15:10] #476 closed, assigned to nobody

[2021-10-06 15:17] fmichonneau commented on #470
the license text has been updated.

[2021-10-06 15:18] fmichonneau commented on #236
Toby has implemented this a while ago

[2021-10-06 15:21] fmichonneau commented on #404
this was addressed

[2021-10-06 15:23] fmichonneau commented on #367
this has been addressed.

[2021-10-06 15:23] #367 closed

[2021-10-06 15:23] #377 closed

[2021-10-06 15:24] fmichonneau commented on #357
this has been addressed

[2021-10-06 15:24] fmichonneau commented on #309
this has been addressed.

[2021-10-06 15:24] #309 closed

[2021-10-06 15:29] #353 closed

[2021-10-06 15:30] fmichonneau commented on #341
moot now that we use a Gemfile

[2021-10-06 15:30] #341 closed

[2021-10-06 15:31] fmichonneau commented on #308
we only have the coc file at the root of the repository now.

[2021-10-06 15:31] #307 closed

[2021-10-06 15:36] fmichonneau commented on #238
we now have a good docker support in our makefile

[2021-10-06 15:36] #238 closed

[2021-10-06 15:37] fmichonneau commented on #207
we build a mock website from the `main` branch to avoid this now.

[2021-10-06 15:37] #207 closed

[2021-10-06 15:37] fmichonneau commented on #293
this is now available in the Docker image we use in the makefile

[2021-10-07 20:35] vinisalazar commented on #419
Hi @fmichonneau, thanks for the reminder, I'm terribly busy this month but can have a go at this in November.

[2021-10-11 15:39] zkamvar commented on #499
Note, this was first implemented in sandpaper version 0.0.0.9050: https://github.com/carpentries/sandpaper/pull/158

Technical reference: https://carpentries.github.io/sandpaper/articles/building-with-renv.html

[2021-10-12 08:40] lexnederbragt commented on #238
I did a quick test and it works as expected. Thanks!

[2021-10-18 16:51] GuillermoFidalgo opened #629 "Encoding error when trying to serve a jekyll project"
Hello, I'm having an issue when trying to serve a project (In my case it's https://github.com/GuillermoFidalgo/hsf-training-matplotlib)
I get the following

[code]

(A bunch of output)

[code]

(Some more lines)

[code]
(you get the idea)

I'm wondering if anyone has had this issue before and how I could go about solving this?\

I've tried reinstalling jekyll and ruby but does not seem to change a

[2021-10-18 16:55] maxim-belkin commented on #629
I think Jekyll complains about `style.scss` file that you added to `assets/css` directory -- check its line 5 or delete it, if you don't need it.

[2021-10-18 16:57] maxim-belkin commented on #629
`\xe2` is most likely a "smart quotation mark" that should be replaced with `'`

[2021-10-18 16:58] GuillermoFidalgo commented on #629
There is no `style.scss` here. I'm not sure if this means that it's looking somewhere else.

[code]

[2021-10-18 17:16] maxim-belkin commented on #629
I cloned your lesson and was able to build/serve a website without an issue. A few things to try:
1. `make clean` then `make serve`
2. Do you have `LC_ALL` and/or `LANG` set? What does `locale charmap` return?

[2021-10-18 17:21] GuillermoFidalgo commented on #629
1. Resulted in same issue as before
2. I get
[code]

[2021-10-18 17:24] maxim-belkin commented on #629
Try setting `LANG` to `something.UTF-8`. For example, in my case I have `en_US.UTF-8`.

[2021-10-18 17:34] maxim-belkin commented on #629
If changing `LANG` doesn't help, try setting `LC_ALL` (to `en_US.UTF-8` or anything else.UTF-8) instead.

[2021-10-18 17:37] GuillermoFidalgo commented on #629
Changing `LANG` worked 😄
Thank you so much! I think I know why this was not set or changed.
Some time ago I was trying to install a package on a remote machine and it used to complain about `ascii` encoding.
Following a few forum posts I ended up unchecking the setting on the Mac terminal under "Advanced" that says "Set locale enviroment variables on startup".

That fixed my issue back then but mu

[2021-10-18 17:58] #629 closed, assigned to nobody

[2021-10-18 18:03] maxim-belkin commented on #629
Thanks for the report, @GuillermoFidalgo. I think this is something we might want to tackle in the Makefile. By the way, I would recommend using `make serve` and `make site` instead of invoking Bundler directly.

[2021-10-18 18:07] GuillermoFidalgo commented on #629
Thanks for the tip. I did it both ways and same output arose. I just happened to paste it with bundler here

[2021-11-06 10:01] bencomp opened #630 "Use rem units for font-size, normalise font sizes between headers and body text"
I found that when I teach a lesson online and have the lesson materials on a second laptop or tablet, I need to zoom in a lot to be able to read the body text from a slightly bigger distance. Zooming in works, but then the headers are huge. Looking at Firefox's inspector for the demo lesson, I notice that the font-size for body text is less than half the pixels (14px) of `<h2>` header font size (3

[2021-11-08 16:15] zkamvar commented on #630
Thank you for bringing this up! I agree that these need to be adjusted.

Just a note: the {varnish} repository is still in a testing phase for the new infrastructure and is not used in any live lessons, so I'm going to transfer this issue to [the styles repository](https://github.com/carpentries/styles), so that it can be addressed there.

That being said, [we will be rolling out an update to the

[2021-11-08 16:16] zkamvar commented on #630
For reference, here is an example of the heading elements being defined with px:

https://github.com/carpentries/styles/blob/6f490499686e871d56d2aacdbdae5797385f1238/assets/css/lesson.scss#L157-L164

[2021-11-08 16:19] zkamvar commented on #630
Additionally, W3schools has a px to em converter so that we can adjust this now:

https://www.w3schools.com/TAGS/ref_pxtoemconversion.asp

[2021-12-03 12:11] tkphd opened #632 ""title" attribute for code blocks"
Code blocks currently show the language as the block title. In many places, the code block represents the contents of a file, and having that filename printed in the title-block would be great.

Kramdown provides the [`title` attribute](https://kramdown.gettalong.org/quickref.html#block-attributes), e.g.,

[code]

which ought to render the block with "script.py" as the title, and with Python synta

[2021-12-03 17:47] zkamvar commented on #632
The reason why this approach is not working is two-fold:

1. The language displayed on the code blocks is the result of [the `::before` CSS pseudo-element](https://www.w3schools.com/css/css_pseudo_elements.asp), meaning that they are entirely visual decoration since pseudo-elements are computed after the HTML document is loaded.
2. The title element is the text that displays when you hover over an

[2021-12-07 17:46] tkphd commented on #632
haaaaaaa... OK then.

[2021-12-07 17:46] #632 closed, assigned to nobody

[2021-12-09 20:50] brownsarahm opened #633 "Page titles are taken from the first heading if no title exists"
The layout for the page [reference](https://github.com/carpentries/instructor-training/blob/gh-pages/_layouts/reference.html)  says the title should be "References"  which is then what the included on all pages [main title](https://github.com/carpentries/instructor-training/blob/gh-pages/_includes/main_title.html) should use, but somehow it's getting the first heading content in the page's content

[2021-12-09 21:20] maxim-belkin commented on #633
I am pretty sure this is due to all of these lessons having "outdated" reference page template: they don't specify the title. Instead of setting the title to "Keypoints and References", I'd suggest to copy the contents of "reference.md" file from this repository verbatim to avoid future merge conflicts when syncing up with the styles repo.

[2021-12-10 00:58] brownsarahm commented on #633
`_layouts/reference.md` in this repo and IT appears to match?

[2021-12-10 01:29] zkamvar commented on #633
They do match. I'm not sure what is happening, but I would not be surprised if Jekyll is helpfully filling the `page.title` element. There should not be any problem with editing the title of `reference.md` (which does work) since that's not part of the template (it's a generated file).

[2021-12-10 01:32] zkamvar commented on #633
This is a problem on pretty much any lesson where `reference.md` does not have a `title:  ` yaml item. [Programming with R](https://swcarpentry.github.io/r-novice-inflammation/reference.html) and [Git Novice](https://swcarpentry.github.io/git-novice/reference.html) both show this issue.

[2021-12-10 01:33] zkamvar commented on #633
The solution for new lessons would be to add the title header in https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/reference.md, but for the other lessons, it might just be to create pull requests that adds the title to the reference pages.

[2021-12-10 01:53] zkamvar commented on #633
After running a few tests, it appears that this will affect _all_ of the pages in a lesson that do not have titles. If the first element of a page is a header element, then Jekyll will interpret that as the `page.title`

## Examples

A page without a title element:

[code]

[code]

A page with the title element:

[code]

[code]

[2021-12-10 02:05] zkamvar commented on #633
As I suspected, this is coming from a feature on GitHub pages. They have the [jekyll-titles-from-headings](https://github.com/benbalter/jekyll-titles-from-headings#jekyll-titles-from-headings) plugin enabled (as shown in https://pages.github.com/versions/).

In order to turn this behaviour off, we need to set the following in the `_config.yml`:

[code]

[2021-12-10 02:48] maxim-belkin commented on #633
The `_layouts` directory contains HTML files. I was talking about reference.md in bin/boilerplate.

It's copied from bin/boilerplate when the lesson is created. Perhaps, we should move the common title from the reference.html file in the _layouts folder to .md file in bin/boilerplate.

[2021-12-10 03:03] maxim-belkin commented on #633
I do agree, however, that it should be safe to redefine the title in the file.

[2022-09-28 10:58] bencomp commented on #434
I agree to close this issue.

[2022-09-28 11:02] bencomp commented on #419
This appears to be documented at <https://carpentries.github.io/lesson-example/04-formatting/index.html#locations-and-names>. I don't know if it should also be in the Curriculum Development Handbook?

[2022-10-12 15:50] zkamvar opened #640 "set-output workflow command deprecated"
These two files need to be updated to use the `echo "{name}={value}" >> $GITHUB_OUTPUT` pattern:

https://github.com/carpentries/styles/blob/078eec5dbac256451fe43aff4170a9e4b59355c5/.github/workflows/template.yml#L130

https://github.com/carpentries/styles/blob/078eec5dbac256451fe43aff4170a9e4b59355c5/.github/workflows/website.yml#L47

See https://github.com/carpentries/sandpaper/issues/349 and [G

[2022-10-12 15:50] zkamvar commented on #640
Note: this is even more impetus to move to the workbench since this will affect all R-based lessons in the future.

[2022-10-20 13:48] zkamvar opened #641 "[workflows] Unable to resolve action r-lib/actions@master"
## Solution

NOTE: this issue has been fixed for repositories within The Carpentries organisations. The instructions below are for anyone who has a repository outside The Carpentries.

### Option 1: Replace Files

**If you have a lesson or workshop repository outside of The Carpentries and are experiencing this issue** check to make sure you have the following:

 - [ ] Is your repository outside o

[2022-10-20 14:04] zkamvar opened #642 "[workflows] set-output deprecated"
The set-output command is deprecated in favour of the `$GITHUB_OUTPUT` variable: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

[2022-10-20 14:22] zkamvar commented on #641
Note that #643 will only _address_ this issue because it does not actually deliver on it.

[2022-10-20 14:40] #642 closed, assigned to nobody

[2022-10-20 16:33] zkamvar commented on #640
fixed in #643

[2022-10-20 16:33] #640 closed, assigned to zkamvar

[2022-10-20 17:03] zkamvar commented on #641
I am currently working on this in https://github.com/zkamvar/2022-10-20-workflow-bug

[2022-10-21 17:48] zkamvar commented on #641
This is fixed as of https://github.com/zkamvar/2022-10-20-workflow-bug/tree/2022-10-21-10-00-00-PDT

[2022-10-21 17:48] #641 closed, assigned to zkamvar

[2022-10-21 17:50] zkamvar commented on #641
And by fixed, I mean that all the pull requests that could have been made have been made. There were 86 repositories which did not have these workflow files: https://github.com/zkamvar/2022-10-20-workflow-bug/blob/2022-10-21-10-00-00-PDT/workflows-problems.md

[2022-11-07 22:44] #42 closed

[2022-11-07 22:44] #48 closed

[2022-11-07 22:44] #51 closed

[2022-11-07 22:44] #53 closed

[2022-11-07 22:44] #54 closed

[2022-11-07 22:44] #59 closed

[2022-11-07 22:44] #90 closed