[2015-01-27 14:50] r-gaia-cs opened #1 "README will conflict when pulling"
@gvwilson `README` will conflict when pulling this repo from `site`, `workshops` and `lessons`. Could we remove it from the history?

[2015-01-27 14:51] r-gaia-cs opened #2 "Preserve history from lesson-template?"
@gvwilson Do you want the history of CSS from lesson-template preserved?

[2015-01-27 14:57] gvwilson commented on #1
Yes.  (And please note, mail to your unicamp address is failing.)

[2015-01-27 14:58] gvwilson commented on #2
If it's easy to do, then yes.  If it's going to take more than a few
minutes, then no, I don't think it's worth it.

[2015-01-27 15:06] fmichonneau commented on #2
I don't know how to get the past history of the CSS. Raniere (or someone
else), if you know how/want to do it, you could populate the repository
with it. Otherwise, I'll just push what I have now. Thanks.

On Tue, Jan 27, 2015 at 9:58 AM, Greg Wilson <notifications@github.com>
wrote:

[2015-01-27 15:18] r-gaia-cs commented on #2
I populated the repository based on https://github.com/swcarpentry/bc.

@fmichonneau and @jpallen Could you please cherry-pick the work that you did in the past few days? Thanks a lot.

[2015-01-27 15:18] #2 closed

[2015-01-27 15:18] #1 closed

[2015-01-27 16:29] fmichonneau opened #4 "github ribbon placed incorrectly"
the CSS that determines the position of the github ribbon needs to be updated as it clashes with the newer version of bootstrap, and it's a little too far to the right.

[2015-01-27 17:21] wking commented on #1
On Tue, Jan 27, 2015 at 06:50:45AM -0800, Raniere Silva wrote:

I'd recommend the same "doc directory with a static link from the
README" approach I suggested for lesson-template
(swcarpentry/lesson-template#124).  Then you get access to the style
docs with a single click from the swcarpentry/styles README, and also
have access to those docs in repositories that are merging the styles.

Alternativ

[2015-01-28 11:06] r-gaia-cs commented on #1
@wking Could you provide me with some reference about which command should I use for that? Thanks in advance.

[2015-01-28 20:20] wking commented on #1
On Wed, Jan 28, 2015 at 03:06:32AM -0800, Raniere Silva wrote:

For the subtree merge, see [1].  Workflow for the initial merge looks
like:

  $ git merge -s ours --no-commit styles/master
  $ git read-tree --prefix=ssl/ -u styles/master
  $ git commit -v

Subsequent merges look like:

  $ git pull -s subtree styles master

[1]: https://www.kernel.org/pub/software/scm/git/docs/howto/using-merge-su

[2015-02-10 15:14] fmichonneau opened #7 "should this repo also include SWC logos?"
Following @wking's suggestion in swcarpentry/workshop-template#152, it seems that we need to discuss whether the SWC logos should be included in this repository.

Currently, the workshop template gets the logo from software-carpentry.org, while the logo is included in the repository for lesson templates and the main website.

Having them in a single location would limit duplication, allow for offl

[2015-02-10 16:32] iglpdc commented on #7
There is a new repo in the making, [swcarpentry/communications](https://github.com/swcarpentry/communications), aimed to centralize our external communications, from boilerplates for grant proposals to templates to announce workshops. The materials there will need also the SWC logos and other graphical stuff.

So, +1 to centralized all the graphics in just one place, whichever the technical soluti

[2015-02-10 17:48] wking commented on #7
On Tue, Feb 10, 2015 at 08:32:32AM -0800, Ivan Gonzalez wrote:

It looks like we have a few other images that I think we should also
keep in this repository:

  $ git --no-pager grep '[.]png'
  css/slideshow.css:  background: url(../img/software-carpentry-banner.png) bottom 10px left 10px no-repeat;
  css/swc.css:  list-style-image: url('../img/checkbox.png');
  css/swc.css:    background: url(../

[2015-02-13 11:32] r-gaia-cs opened #8 "Code block at title with different font size"
From https://github.com/swcarpentry/git-novice/blob/gh-pages/01-backup.md

![s](https://cloud.githubusercontent.com/assets/1506457/6186636/22ab8212-b363-11e4-86c9-7d17101ebdcb.jpg)

[2015-02-13 11:35] orchid00 opened #9 "css for SQL lessons"
Hi,
I have some suggestions on the template for the SQL lessons:

Padding:
*I see that most if not all tables need a bit more of bottom padding, the letters in the next paragraph are too close.
*Challenges on the other side are very spacious in between, and probably the question title should be a bit smaller.
Colors:
*Table headers, I don't know if it is just me, but that blue is too dark to be co

[2015-02-13 20:36] pbanaszkiewicz commented on #9
Hi, @orchid00. I can't find challenges in the repository with lesson on SQL. Can you point me at them?

[2015-02-13 22:04] gvwilson commented on #9
http://github.com/swcarpentry/sql-novice-survey has a bunch of challenges.

[2015-02-13 22:05] pbanaszkiewicz commented on #9
@gvwilson do you both mean "FIXME"s?

[2015-02-14 07:18] orchid00 commented on #9
I meant the font of the titles called "challenges" so all of them. It is a matter of style: they are very spacious in between, and probably the question title (where it says fixme) should be a bit smaller. Is that clearer?

[2015-02-14 10:29] pbanaszkiewicz commented on #9
Thanks @orchid00 and @gvwilson. My fork, for reason unknown to me, contained "FIXME" headers instead of proper challenges as, for example, here http://swcarpentry.github.io/sql-novice-survey/01-select.html (at the bottom).

I've pulled in the recent changes and will work on styles some more.

[2015-02-14 11:18] pbanaszkiewicz commented on #9
Hi everyone,

I don't like that light-green color of challenge boxes. I'd get rid of it, and to highlight that this section is a challenge I'd put it under "Challenge" (or "Exercise") header.

BEFORE:
![screenshot from 2015-02-14 12 12 50](https://cloud.githubusercontent.com/assets/72821/6199417/d61bed0c-b442-11e4-93b0-d1c508cd5bff.png)

AFTER:
![screenshot from 2015-02-14 12 12 17](https://cloud.

[2015-02-14 12:46] orchid00 commented on #9
Good idea to remove the green boxes!
Btw, I am looking at version 5.3, and the headers of the tables are different than yours. have a look:
![css_sw_ugly](https://cloud.githubusercontent.com/assets/9795785/6199621/3ac77bc4-b49b-11e4-8705-6681636faf05.png)
Can you modify that too?

[2015-02-14 13:06] pbanaszkiewicz commented on #9
@orchid00 I accidentially showed you a lesson with #10 applied - it changes tables a bit, now they're similar to what Bootstrap [offers](http://getbootstrap.com/css/#tables-bordered).

What do you think about that additional header "Challenges"? Should I keep it or throw away?

[2015-02-14 13:16] orchid00 commented on #9
Oh! tables look much better like that.
To be honest, I'm very picky and and I don't think much ppl will notice those things, but here you go:
now that you removed the green highlight the left padding looks a bit off. If you put everything aligned to the Challenges (header) it would look better, in that case keep it.

Also, we talked with some other instructors that the challenges should come more

[2015-02-14 14:58] pbanaszkiewicz commented on #9
now that you removed the green highlight the left padding looks a bit off. If you put everything aligned to the Challenges (header) it would look better, in that case keep it.

With left margin removed:
![screenshot from 2015-02-14 15 37 49](https://cloud.githubusercontent.com/assets/72821/6199927/8ae1ef54-b45f-11e4-853a-bf3130668143.png)

Oh I really like this change.

You're right. This gives me

[2015-02-14 19:24] orchid00 commented on #9
Yeah the box with the header looks OK. I think before it was just the color green that didn't look so nice.

Again, I see something different, your queries are now in grey-ish? and my queries are color green...

[2015-02-14 19:57] pbanaszkiewicz commented on #9
The queries in grey-ish had no `class="sql"` (` {.sql}` in Markdown) - good catch. This is an issue for sql-novice-survey, you can send a PR if you want.

[2015-02-15 12:49] orchid00 commented on #9
@pbanaszkiewicz (I'm new here) where should I do the PR?

[2015-02-15 14:31] pbanaszkiewicz commented on #9
@orchid00 that's alright. I think the issue is that code blocks in challenges miss `{.sql}`. I've found a couple of lessons that do not have it:

* http://swcarpentry.github.io/sql-novice-survey/01-select.html
* http://swcarpentry.github.io/sql-novice-survey/03-filter.html
* http://swcarpentry.github.io/sql-novice-survey/05-null.html

Here's an issue ticket I've just created: https://github.com/sw

[2015-02-25 20:22] r-gaia-cs opened #13 "Add max-width for images"
![screen shot 2015-02-25 at 17 31 55](https://cloud.githubusercontent.com/assets/1506457/6379684/e1dda65c-bd12-11e4-8381-89eaea7244e5.png)

[2015-02-25 20:29] fmichonneau commented on #13
It's best to use the class "img-responsive" from bootstrap. I've added it
where I could find it but I'm sure there are many images in blog posts
where I missed it.

On Wed, Feb 25, 2015 at 3:22 PM, Raniere Silva <notifications@github.com>
wrote:

[2015-02-26 17:52] r-gaia-cs commented on #13
=)

Don't worry about blog posts.

[2015-02-28 23:56] #4 closed

[2015-03-02 19:40] #8 closed

[2015-03-21 07:32] rgaiacs opened #14 "Use CSS beautifier"
I would like to use http://csscomb.com to ensure one code style.

The configuration that I like to use is

[code]

[2015-03-21 07:47] r-gaia-cs opened #15 "master breaks site"
![site](https://cloud.githubusercontent.com/assets/1506457/6764234/5b11f062-cf85-11e4-9ff6-1f4ebc3953e0.jpg)

[2015-03-23 20:34] r-gaia-cs opened #21 "Improve layout for figure caption"
Isn't clear what is the caption and the text.

![fig](https://cloud.githubusercontent.com/assets/1506457/6789931/c0479032-d182-11e4-9e06-8274625c6277.jpg)

Need a layout for

[code]

that are compatible with

[code]

[2015-03-23 20:35] r-gaia-cs opened #22 "Can we add max-width for img?"
![img](https://cloud.githubusercontent.com/assets/1506457/6789954/f22f9b30-d182-11e4-8c14-37101eedd899.jpg)

[2015-03-23 20:37] rgaiacs opened #23 "Can we add space between glossary items?"
![gloss](https://cloud.githubusercontent.com/assets/1506457/6790000/384c980c-d183-11e4-8097-d4d6517ac71f.jpg)

[2015-03-24 00:32] fmichonneau commented on #15
I can't reproduce this @r-gaia-cs, do you still have this issue?

[2015-03-24 00:47] fmichonneau commented on #22
it's best to use the class "img-responsive" from bootstrap in this case. Not only it will avoid images to get wider than the container but it also looks good regardless of the resolution. Could we add it when the pages are being built from the markdown files?

[2015-03-24 00:54] fmichonneau commented on #21
maybe, we could use the caption class from bootstrap: http://getbootstrap.com/components/#thumbnails-custom-content

[2015-03-24 02:57] r-gaia-cs commented on #22
+1

Probably yes. I will look for it.

[2015-03-24 04:36] r-gaia-cs commented on #15
Sorry to forget to close this. It was fixed with f8bd46e.

[2015-03-24 04:36] #15 closed

[2015-04-08 16:29] r-gaia-cs opened #25 "Upgrade to Bootstrap v3.3.4"

[2015-04-08 16:31] r-gaia-cs commented on #13
Duplicate of #22.

[2015-04-08 16:31] #13 closed

[2015-04-17 01:46] r-gaia-cs opened #26 "Update deck.js"
We want that space bar and backspace keys to work like left and right. This problem was reported at https://github.com/swcarpentry/slideshows/pull/22 and this feature was already implemented upstream, https://github.com/imakewebthings/deck.js/issues/179.

@twitwi could you help us with that?

[2015-04-17 07:40] twitwi commented on #26
I'll have a look.
I'm at a conference today, but I might sqeeze in some time during some
talks.
If not, what would be a deadline? (I'm very busy these 10 days).

My guess is that it is not about an older version.
It may be "because" of browsercast, where the spacebar is rerouted to
play/pause.

Rémi

On 04/17/2015 03:46 AM, Raniere Silva wrote:

[2015-04-17 07:57] twitwi commented on #26
Let's use this issue as "update browsercast once it is fixed"

See https://github.com/twitwi/deck.browsercast.js/issues/7

[2015-04-18 13:34] r-gaia-cs commented on #26
Thanks.

Enjoy the conference.

This hasn't a high priority to be fixed.

Thanks for this information.

[2015-04-25 11:53] #25 closed

[2015-05-01 22:13] twitwi commented on #26
@r-gaia-cs, fixed by #30

[2015-05-02 11:11] #26 closed

[2015-05-10 13:11] kynan commented on #14
Sound like a good idea.

[2015-05-10 16:58] kynan commented on #23
Any news on this?

[2015-05-10 17:02] #22 closed

[2015-05-10 17:02] #21 closed

[2015-05-10 17:06] r-gaia-cs commented on #23
@kynan We will make change on the style only after 5.3. If you want to send a pull request it is welcome.

[2015-05-10 20:04] kynan commented on #23
In fact I think this is already done, this is how it looks for me now:
![Glossary](https://cloud.githubusercontent.com/assets/346079/7556025/2c247798-f758-11e4-9ee9-216a7bfbee50.png)

[2015-05-10 21:35] r-gaia-cs commented on #23
@kynan From which lesson is the screenshot?

[2015-05-10 22:02] kynan commented on #23
python-novice-inflammation

[2015-05-10 22:31] r-gaia-cs commented on #23
[code]

gives me

![screen shot 2015-05-10 at 19 30 01](https://cloud.githubusercontent.com/assets/1506457/7556535/2afcd14c-f74b-11e4-943c-18733f3702ec.png)

[2015-05-12 22:30] kynan commented on #23
Repeating the above with python-novice-inflammation@c97d543 I get the spacing in both Firefox 37.0.2 and Chromium 41.0.2272.76 with html generated by pandoc 1.12.2.1.

[2015-06-30 22:44] rgaiacs opened #33 "Use CSS preprocessor"
Since we are using [Bootstrap](http://getbootstrap.com/) maybe we could [compile](http://getbootstrap.com/getting-started/#grunt) our own version of the CSS so it will be small and also include our customization.

@wking What do you think of this?

[2015-07-16 13:16] r-gaia-cs commented on #33
@gvwilson I'm think in have some fun working on this issue over the weekend and want to check if you are OK with it as describe below.

1. Have a branch `dev` where we store the **patched** source files of Bootstrap.

   1. Edit Bootstrap compile rules to drop the parts that we don't use.
   2. Edit default CSS rules from Bootstrap style to cover our needs. **This includes the changes on the CSS f

[2015-07-16 17:35] gvwilson commented on #33
@r-gaia-cs what does compiling our own CSS save us down the road except
a little bit of disk space?

Thanks,
Greg

p.s. everything that was in using-jekyll is now in the using-jekyll
branch of lesson-template, so please get new CSS from there.

[2015-07-16 17:41] r-gaia-cs commented on #33
Instead of

[code]

we can have

[code]

and avoid overwrite CSS properties.

[2015-07-16 17:46] gvwilson commented on #33
That feels like a fairly small gain whose cost is a significant increase
in the complexity of our tooling, but I am not a web expert.

[2015-07-17 08:18] pbanaszkiewicz commented on #33
@gvwilson:

in the complexity of our tooling, but I am not a web expert.

Another very positive aspect of switching to CSS preprocessor is that you can use Sass/Lass/Compass/whatever. Sass to CSS is like Django Template Language is to HTML: you can use variables and such, and it makes writing CSS less painful.

Bootstrap is distributed with its Lass sources so that it's easy to plug in your own st

[2015-07-18 04:04] r-gaia-cs commented on #33
I remember one of the reasons that I want that. Pandoc only support one CSS file when converting to EPUB. Improve the CSS with a preprocessor seens more easy than send a pull request to Pandoc.

[2016-01-29 11:05] #33 closed

[2016-03-07 23:11] DanielBaird commented on #7
So, will the CSS from here be moved into the communications, into a directory called something like website-assets or website-boilerplate maybe?

[2016-06-15 09:35] #9 closed

[2016-06-15 09:35] #7 closed

[2016-06-15 09:35] #14 closed

[2016-06-15 09:35] #23 closed

[2016-06-16 13:12] gvwilson opened #39 "Teaching lesson_check.py to recognize coffee breaks and lunches"
Coffee breaks and lunches don't have the same metadata as lesson episodes.

[2016-06-16 18:54] gvwilson opened #40 "Pass questions and objectives through Markdown interpretation"
Authors should be allowed to use back quotes and emphasis in questions, objectives, etc.

[2016-06-17 13:37] gvwilson opened #41 "Check formatting of links"
Links should be exactly one of:
* `[title][footer-tag-to-external-URL]`
* `[title]({{ site.root }}/something)`
* `[title](#local-label)`

[2016-06-17 13:38] gvwilson opened #42 "Fix CSS for printing"
Originated as https://github.com/swcarpentry/lesson-template/issues/298

[2016-06-17 13:39] gvwilson opened #43 "Document use of update-copyright"
Originated as https://github.com/swcarpentry/lesson-template/issues/288 - we need to document its use here or in the lesson example.

[2016-06-17 13:40] gvwilson opened #44 "Create single-page version of entire site"
Originated as https://github.com/swcarpentry/lesson-template/issues/252 - need some way to generate a single HTML page/PDF file with everything in it, including correctly-resolving links. Order within that single page should respect the order in the navbar menu.

[2016-06-17 13:41] gvwilson opened #45 "Checking tools should verify remotes"
Originated as https://github.com/swcarpentry/lesson-template/issues/130 - the checking tools should make sure that the right remotes are set up with the right names.

[2016-06-18 10:19] gvwilson opened #46 "Links in footer are incorrect when previewing locally"
The links in the footer to the repository and the contribution guide are incorrect when previewing material locally.

[2016-06-19 11:34] gvwilson opened #47 "Refactor bin/workshop_check.py to use Reporter class"
It will make error reporting more consistent...

[2016-06-19 11:38] gvwilson opened #48 "Add support in lesson and workshop checkers for non-English languages"
See:
-   https://github.com/swcarpentry/lesson-template/issues/112
-   https://github.com/swcarpentry/lesson-template/issues/229
-   https://github.com/swcarpentry/lesson-template/issues/253

[2016-06-19 11:40] gvwilson opened #49 "Add blockquote style for warnings and common errors"
Similar to that used in O'Reilly books and others. (Was originally https://github.com/swcarpentry/lesson-template/issues/250.)

[2016-06-19 11:41] #46 closed

[2016-06-19 11:42] gvwilson opened #50 "Generate slideshow or single-page display of all images"
Create some sort of single-file display of all images for instructors to use in class. Was originally https://github.com/swcarpentry/lesson-template/issues/265.

[2016-06-19 11:43] gvwilson opened #51 "Document how to create ZIP file and where to store it"
Document how to create a ZIP file of auxiliary files needed by learners and where to store it.  Was originally https://github.com/swcarpentry/lesson-template/issues/268.

[2016-06-19 11:44] gvwilson opened #52 "Add support for converting R Markdown file."
Was originally https://github.com/swcarpentry/lesson-template/issues/277.

[2016-06-19 11:44] gvwilson opened #53 "Add support for converting Jupyter Notebook files."
Was originally https://github.com/swcarpentry/lesson-template/issues/278.

[2016-06-19 11:45] gvwilson opened #54 "Add support for js-parsons to do Parsons Problems in the notes"
Was originally https://github.com/swcarpentry/lesson-template/issues/293 - please see that issue for discussion.

[2016-06-19 12:37] gvwilson opened #55 "Check for non-Markdown files"
`AUTHORS` is not a Markdown file, and so is not checked for.

[2016-06-22 10:45] gvwilson opened #57 "Lesson validator should check for broken links."

[2016-06-22 10:46] gvwilson opened #58 "Provide anchors for definition list items in glossary"
So that mentions in text can link to glossary. May require modifications to Jekyll.

[2016-06-22 10:52] gvwilson opened #59 "Provide space in workshop template for local branding"
See https://github.com/swcarpentry/workshop-template/issues/177 for original discussion.

[2016-06-22 10:52] gvwilson opened #60 "Provide space in lesson template for institutional branding"

[2016-06-23 00:40] gvwilson opened #63 "Set max-width for images"
By default, max-width is not set for images, so they all render in original size.

[2016-06-25 01:00] gvwilson opened #66 "Create separate Makefile target for deleting intermediate R files"
The intermediate R files should not be deleted by `make clean`, since they have to be committed to the repository for GitHub Pages to work.

[2016-06-25 23:48] #52 closed

[2016-06-25 23:48] #50 closed

[2016-06-25 23:48] #39 closed

[2016-06-25 23:55] #55 closed

[2016-06-28 12:01] gvwilson opened #71 "Check that figures are up to date"
Lesson checking tool should check that all_figures.html is up to date.

[2016-06-28 12:05] gvwilson opened #72 "Check that repositories do *not* contain .nojekyll"

[2016-07-02 13:15] gvwilson opened #74 "Add check for images that are not being used."

[2016-07-03 21:36] #74 closed

[2016-07-03 21:43] #72 closed

[2016-07-03 21:43] #63 closed

[2016-07-03 21:44] #40 closed

[2016-07-03 21:44] #47 closed

[2016-07-03 21:47] #66 closed

[2016-07-05 17:08] gvwilson opened #75 "Respect line numbers when sorting reporter output"
Output of reporter is currently sorted textually, so `filename:100` comes before `filename:2`.

[2016-07-06 14:11] gdevenyi opened #76 "Formatting for in-line code should have background?"
I think perhaps the in-line code segments would stand-out more if they had a background, like the classic github style.

Like `here`

[2016-07-06 14:14] gvwilson commented on #76
They would stand out more, but a lot of people find that distracting.
Take it to a vote of the maintainers?

[2016-07-06 14:14] gdevenyi commented on #76
Yeah, reasonable.

[2016-07-06 14:23] gvwilson opened #77 "Make sure issue labels (and colors) are consistent in all repositories"

[2016-07-06 14:36] gvwilson opened #78 "Prev/Next arrows at the bottom of episodes as well as the top?"
@orchid00 recommends prev/next links at the bottom of lesson episodes as well as the top. My attempts to style this have all been exceptionally ugly - a PR would be welcome. (You can test your PR by making changes in a local copy of https://github.com/swcarpentry/lesson-example and previewing with `make serve` (or pushing to your own gh-pages branch).)

[2016-07-06 14:40] gvwilson opened #79 "Use 00:00 as a default start time for lessons"
Lessons currently use 09:00 as a start time for the schedule - @jduckles suggests using 00:00 (to show elapsed time). This makes sense for half-day lessons, but it's helpful with full-day lessons to show where the lunch break comes (12:00 is more easily understood than 03:00). Preferences?

[2016-07-06 14:45] gdevenyi commented on #79
+1 for adjusting to elapsed time.

Does it make sense perhaps to allow somewhere to set a "start time" variable that allows computation of the real time?

[2016-07-06 14:46] gvwilson commented on #79
`start_time` can be set in `_config.yml`, but I don't see how to adjust
on a workshop-by-workshop basis without cloning the lesson repo per
workshop.

[2016-07-06 14:47] fmichonneau commented on #76
+1

[2016-07-06 14:52] shwina commented on #76
-1 (somewhat reluctantly). I like in-line code background, but in portions with "dense" inline code, it can become highly distracting.

[2016-07-06 15:13] gdevenyi commented on #79
Hrm, I seem to recall that being a recommended step that the lessons be forked off for a given workshop so that the lessons don't change during use?

[2016-07-06 16:23] iglpdc commented on #79
I prefer a "sensible" start time, like 9:00 am or noon. I think it's easier to track time during the lesson with that.

Also a minor point. I think the timing is useful only for instructors when preparing the lesson and that the ideal place for that would be the instructor's guide. The index page could show not the schedule, but the syllabus (the same without the timing column).

The reason I'm sa

[2016-07-06 16:30] iglpdc commented on #76
+1 (but agreeing with @shwina on large portions of inline). I find the current version a bit hard to read, because you "feel" a difference, but sorta cannot say what's going on.

Maybe we could limit the use of inline code when very short (filenames, program and library names) and move the rest (any statement or command) to its own paragraph.

[2016-07-06 16:35] gdevenyi commented on #76
Agree, inline code is for short snippets, if large chunks exist that's a lesson formatting issue that should be fixed.

[2016-07-06 16:51] tbekolay commented on #79
I think as we do it now, elapsed time (starting at 00:00) makes more sense. If we were to explicitly add in a lunch break for full-day lessons (at noon) then I would favor the 09:00 start time.

[2016-07-06 19:24] shwina commented on #76
What I meant was paragraphs like these:

Et `utinam theophrastus` has, `legimus` instructior pro `ut`. `Qui te` nobis prompta, `id` `quo` `quod quodsi` fierent. No fuisset `adolescens` sea, vocent `aeterno aperiam` id mel, quo no `labore` audire officiis. Vix et purto verterem vituperata, ex elit mentitum `urbanitas vis`.

Maybe it's just me that finds these disorientating :-)

[2016-07-06 22:49] hdashnow commented on #79
+1 for starting at 00:00, and would like an additional column for time for each lesson.

I think time estimates starting at 9:00 would make more sense for the individual workshop pages, so the instructor can explicitly set the break times etc. Not necessary, in my opinion. But if you were keen on the idea and wanted to put it somewhere...

[2016-07-07 05:40] hdashnow opened #80 "Numbering the lessons in the schedule"
How would people feel about numbering the lessons in the schedule? I personally like to be able to say things like "we will be covering up to lesson number x today" during workshops.

[2016-07-08 22:01] #77 closed

[2016-07-11 23:04] naupaka commented on #79
I like elapsed time as well. Some workshops start at 8:00 or 8:30 instead of 9:00...

[2016-07-15 20:47] gvwilson commented on #60
Duplicates #59.

[2016-07-15 20:47] #60 closed

[2016-07-15 20:47] #43 closed

[2016-07-15 20:47] gvwilson commented on #45
This is overkill.

[2016-07-15 20:47] #45 closed

[2016-07-15 23:25] #75 closed

[2016-07-15 23:31] gvwilson commented on #79
Looks like 00:00 is the favored option - individual lessons can always switch it.  (I can't find any way to adjust the lesson timings per workshop without cloning the repo for each workshop.)

[2016-07-15 23:31] #79 closed

[2016-07-19 21:20] fmichonneau opened #82 "Check that R packages required by the lesson are installed"
We need to check that all the packages required by a lesson, and this check should probably live in this repository so the code is consistent across lessons that use R packages.

The problem is that, a priori, this repository doesn't know which package a lesson will need. I can think of a couple of approaches:

1. We hard code in this repository all packages used across lessons based on R. Probabl

[2016-07-19 21:43] naupaka commented on #82
2 seems the cleanest but requires contributors to be aware that they need to change that PACKAGES file as well if their code adds a new package.

3 seems like the lowest barrier approach, but would leave lots of `if(!require()) install.packages()` statements all over the place, which isn't the cleanest approach either, although I would be curious what people think is the best general approach to t

[2016-07-19 22:10] noamross commented on #82
The following bit of code will scan the directory for required packages and install those that are missing, avoiding the need to manually track the necessary packages or put `!require()` statements everywhere.  It can go at the start of `bin/generate_md_episodes.R`.

We could use the **checkpoint** package to fix the versions of packages used, too, but we probably _want_ to see when package update

[2016-07-20 15:57] fmichonneau commented on #82
Thanks @noamross, that looks good! I implemented your proposed solution in #83 .

[2016-07-20 21:26] naupaka opened #84 "bin/util.py fails to run if user has python 2.7 as system default"
Perhaps worth adding a check for python version? Not a python guru myself so not sure best way to handle this. Or maybe I just missed something somewhere. But it looks like a python 3 `print()` call is gumming things up.

Noticed because `make lesson-check` was failing for me.

[code]

Isolated to the script:

[code]

No problem with python3.

[code]

[2016-07-21 13:54] gdevenyi commented on #84
Problem is the "future" version of the print function, that function is available in python2 as a future import, see #85 for a fix.

[2016-07-21 13:56] gvwilson commented on #84
Alternatively, can we modify the `#!` line to launch python3? And make
the switch official?

[2016-07-21 13:57] gdevenyi commented on #84
We could, but if we're not really using any python3 special sauce, it would be nice for broad compatibility.

[2016-07-24 21:44] #41 closed

[2016-07-24 21:44] #57 closed

[2016-07-24 21:45] gvwilson commented on #84
Fixed by @gdevenyi's `from __future__` patch.

[2016-07-24 21:45] #84 closed

[2016-07-24 21:46] gvwilson opened #86 "Add pre-commit hook to check key features of lessons."
1.  Add script to be used by Travis-CI to check correctness of lessons' Markdown.
2.  Modify `bin/lesson_check.py` so that it only reports unexpected images in check-all mode (so that extra images don't trigger a build failure).

[2016-07-26 02:40] gvwilson opened #87 "Document procedure for installing necessary R packages."

[2016-07-30 20:37] #82 closed

[2016-07-30 20:39] gvwilson commented on #76
@k8hertweck can you please poll maintainers 'n' point them at this issue to see if they have opinions?

[2016-07-31 09:33] gvwilson commented on #80
@k8hertweck can you please check with the maintainers?

[2016-07-31 09:33] gvwilson commented on #87
@fmichonneau can you please provide notes?

[2016-07-31 09:33] gvwilson commented on #86
@rgaiacs wanna take a shot at this?

[2016-07-31 21:11] gvwilson opened #90 "Create script to extract all challenges into a single page"
Similar to the figure extractor.

[2016-08-03 22:34] gvwilson opened #91 "Only rebuild Markdown from R Markdown when necessary"
For some reason the Makefile always rebuilds all of the Markdown files corresponding to R Markdown files.  This shouldn't happen.

[2016-08-15 23:02] gvwilson commented on #58
Coming in the next release of Kramdown.

[2016-08-15 23:02] #58 closed

[2016-08-27 10:41] btel opened #93 "leave more space under code blocks"
The content directly under code blocks in examples and exercises has too little vertical space, so it looks crammed. See the lines starting with "Hint:" and "Solution:" below.

[![space](https://cloud.githubusercontent.com/assets/41565/18026846/3bf8903e-6c53-11e6-8c5f-34dc585dc91c.png)](http://swcarpentry.github.io/python-novice-inflammation/03-lists/#turn-a-string-into-a-list)

Rendered under FF

[2016-08-27 10:51] btel opened #94 "allow for easy linking to examples/exercises etc."
Exercises, call-outs and examples have ids (such as "turn-a-string-into-a-list"), which can be used for linking:

http://swcarpentry.github.io/python-novice-inflammation/03-lists/#turn-a-string-into-a-list

but to get this link it's necessary to inspect the html code. It would be good to add possibility for such linking directly on the web page.
## Use case

You may want to copy a link to particul

[2016-08-27 13:26] rgaiacs commented on #93
The same happens with Chrome:

![screenshot_2016-08-27_14-26-10](https://cloud.githubusercontent.com/assets/1506457/18027682/45e4c63a-6c62-11e6-8307-f0baeb4e265f.png)

[2016-08-27 13:30] rgaiacs commented on #93
This can be solved including something like

[code]

on the CSS.

[2016-08-27 13:40] rgaiacs opened #95 "Not use round corners on block input and output."
White space between code block and right bar.

![screenshot_2016-08-27_14-31-16](https://cloud.githubusercontent.com/assets/1506457/18027730/94e9c9aa-6c63-11e6-9d08-0e8d1307cb3f.png)

Suggestion 1:

![round](https://cloud.githubusercontent.com/assets/1506457/18027735/ad40df20-6c63-11e6-8b7d-6283c4e24f11.png)

This can be implemented with

[code]

Suggestion 2:

![square](https://cloud.githubuserco

[2016-08-27 18:11] gvwilson opened #96 "Standard tags must distinguish PR with enhancement from issue requesting enhancement"

[2016-08-28 20:09] rgaiacs commented on #96
@gvwilson Could you explain this better? You can use `is:issue` or `is:pr` to make the distinction.

[2016-08-31 17:50] tracykteal opened #97 "Add link to Setup instructions on index page"
People are having a hard time finding the data for the lessons, and not knowing to look at the Setup tab. Add something to index to point them in the right direction.

Thanks to @erdavenport for suggesting this update.

[2016-08-31 17:57] tracykteal opened #98 "Add an example Rmd file to _episodes_rmd"
It would be good to have an example Rmd file in _episodes_rmd. Then you could also try out the  make script.

[2016-09-01 09:25] rgaiacs commented on #97
I think that this issues belongs to https://github.com/swcarpentry/lesson-example/.

[2016-09-01 10:56] iglpdc commented on #97
Yes, I agree with @tracykteal.

[2016-09-01 15:06] tracykteal commented on #97
@rgaiacs it has to be fixed here in the 'styles' repo for it to affect lesson-example and all the other lesson repos. The lesson repos have this as an upstream repo, so they can pull updates to the template from here.

[2016-09-01 15:09] tracykteal commented on #97
One idea is to do it as in http://swcarpentry.github.io/python-novice-inflammation/ with adding a 'Getting Started' line to the index page.

[2016-09-01 16:39] rgaiacs commented on #97
My bad. :-( I'm getting confuse with what each repo host last year and now.

[2016-09-02 12:50] rgaiacs opened #99 "Update description"
The description of this repository is

This is up to date?

[2016-09-02 12:53] rgaiacs opened #100 "Style for keyboard keys"
@datacarpentry has some CSS for keyboard keys:

![screenshot_2016-09-02_13-50-45](https://cloud.githubusercontent.com/assets/1506457/18204394/7828b9ec-7114-11e6-8262-fd14154910ef.png)

Can we have it?

[2016-09-02 12:54] gvwilson commented on #100
How do I express this in Markdown without using HTML tags?

[2016-09-02 13:01] rgaiacs commented on #100
[code]

, as describe at http://kramdown.gettalong.org/quickref.html#inline-attributes, and

[code]

[2016-09-02 13:08] gvwilson commented on #100
Ick.

[2016-09-06 01:21] gvwilson commented on #99
Yes.

[2016-09-06 01:21] #99 closed

[2016-09-06 01:21] #96 closed

[2016-09-09 13:50] rgaiacs opened #101 "Table CSS"
For the workshop page I prefer to have

![screencapture-localhost-4000-1473428791425](https://cloud.githubusercontent.com/assets/1506457/18389177/91f29c48-769c-11e6-9379-fb6c0c35c2d7.png)

instead of

![screencapture-localhost-4000-1473428818062](https://cloud.githubusercontent.com/assets/1506457/18389179/986e13c2-769c-11e6-9169-e65f2fb231f7.png)

**See the difference on the width of the tables.**

[2016-09-10 13:28] gvwilson commented on #101
I preferred the narrower - if you'd like to take the wider to the maintainers for discussion, please do.

[2016-09-11 03:33] naupaka commented on #101
I like narrow, myself, but it's not a strong preference.

[2016-09-11 20:34] iglpdc commented on #101
Either is fine to me.

[2016-09-11 21:39] fmichonneau commented on #101
+1 for narrower

On Sun, Sep 11, 2016 at 4:34 PM, Ivan Gonzalez <notifications@github.com>
wrote:

[2016-09-11 23:51] gdevenyi commented on #101
+1 wider

[2016-09-12 07:21] mkuzak commented on #101
+1 wider

[2016-09-12 14:42] tbekolay commented on #101
+1 wider, but it's not a strong preference.

[2016-09-15 14:54] gvwilson opened #102 "Add test in lesson_check.py to make sure 'root' is set to '..' in configuration file"
Also check that root variable is set to '.' in `index.md`.

[2016-10-01 15:22] naupaka opened #106 "Re-add PR template"
We used to have something like [this](https://github.com/blog/2111-issue-and-pull-request-templates) set up, at least on the r-novice-inflammation lesson, but potentially it got removed during the last big update. See discussion [here](https://github.com/swcarpentry/r-novice-gapminder/issues/206). Should be straightforward, just need to add a `PULL_REQUEST_TEMPLATE.md` to the root or else in a `.g

[2016-10-10 23:22] fmichonneau commented on #87
sorry I had missed this. Where would you like me to add it?

[2016-10-11 11:08] fmichonneau commented on #87
sorry I had missed this. Where would you like me to add it?

[2016-10-11 11:12] gvwilson commented on #87
Can you please PR the https://github.com/swcarpentry/lesson-example
repo?  If there's something like Python's requirements.txt (which is
used to automate the install process), it should go in the 'styles' repo
(this one), but the documentation should go in the example lesson.
Thanks,
Greg

[2016-10-15 14:44] rgaiacs commented on #101
So far we had +3 for narrow and +4 for wider. @gvwilson and @k8hertweck I will send I pull request to implement this if it is OK for you.

[2016-10-30 15:48] daattali commented on #76
+1 I came here to suggest this issue.

I do understand that sometimes it may look ugly, but it makes it much clearer what is code and what is text/punctuation. I just went over the entire unix lesson, and there were many times where I wasn't sure where in a paragraph the inline code ends, and if the punctuation is part of the command or not.

One example: [here](http://swcarpentry.github.io/shell-

[2016-10-31 03:22] #100 closed

[2016-10-31 08:28] andreabedini commented on #98
@tracykteal I had a go. Baby steps.

[2016-10-31 09:24] gvwilson commented on #98
If this is merged, then every lesson that uses the template will include this `.rmd` file, which means that everyone who wants to build a lesson locally will need to install R - even people who are working on lessons that aren't R-based.  @fmichonneau added `_episodes_rmd/06-rmarkdown-example.Rmd` to [the example lesson](http://github.com/swcarpentry/lesson-example/) on the assumption that anyone

[2016-10-31 12:13] andreabedini commented on #98
@gvwilson I am glad the two minutes it took me to send a pull-request brought this up :)

[2016-11-03 18:06] wking commented on #102
You can drop all the `root` stuff with [Jekyll 3.3 and `relative_url`][1].

[1]: https://github.com/blog/2277-what-s-new-in-github-pages-with-jekyll-3-3

[2016-11-03 20:59] gvwilson commented on #102
That's the best news I've had all day.  We'll tackle it after December's
release.

[2016-11-08 22:34] gvwilson opened #112 "Use Jekyl 3.3 root path"
https://github.com/blog/2277-what-s-new-in-github-pages-with-jekyll-3-3

[2016-11-15 18:14] fmichonneau opened #113 "Create space for slide decks"
the **Reproducible Science Curriculum** would like to use the SWC template for its lessons, but it would be useful if there was a designated spot to host slide decks.
cc: @tracykteal @butterflyology @hlapp

[2016-11-15 19:43] tracykteal commented on #113
There's other lessons too that could benefit from some short slide decks, so it would be a good thing to have available in the lesson template.

Reproducible Research has been using RMarkdown and ioslides for their slides, so the slides are under version control (although they do have to be rendered as HTML)
e.g https://github.com/Reproducible-Science-Curriculum/rr-organization1/blob/master/organi

[2016-11-15 19:49] wking commented on #113
On Tue, Nov 15, 2016 at 11:43:51AM -0800, Tracy Teal wrote:

This sounds like it's basically “reinstate
swcarpentry/DEPRECATED-lesson-template#13 and roll back
swcarpentry/DEPRECATED-lesson-template#273”.

[2016-11-15 23:20] tracykteal commented on #113
I'm not sure if deck.js is the right solution, but I'd have to look into it more. The advantage of having slides in something like Rmd is that the rest of our lessons are already in Markdown, so even though Rmd is slightly different, there's not the overhead of HTML.

As a first step, I think we'd be interested in just adding a standard place in the _episodes files for a link to slide decks. Then

[2016-11-15 23:29] wking commented on #113
On Tue, Nov 15, 2016 at 03:20:43PM -0800, Tracy Teal wrote:

There was also some reveal.js stuff in there.  Probably best to pick
one or the other.

The old approach had the content in Markdown, e.g. [1], and used
Jekyll to compile HTML incorporating the deck.js boilerplate.

[1]: https://github.com/swcarpentry/lesson-example/pull/10/files#diff-77c830e977b9cde03d3217f6b080fa5aL1

[2016-11-25 12:17] rgaiacs opened #114 "Includes a bundled copy of the R Markdown source file"
One of the new features on [last version of R Markdown](https://blog.rstudio.org/2016/10/05/r-notebooks/) is that HTML "includes a bundled copy of the R Markdown source file, so it can be seamlessly opened in RStudio to resume work on the notebook with all output intact." (RStudio) Would be really nice if we port this feature to our R lesson since it will enable self learners to download the HTML

[2016-11-29 22:49] #87 closed

[2016-11-30 16:13] jdblischak commented on #114
This is an interesting new feature, but I don't think we can take advantage of it because of our lesson build system. We do not build the HTML using the [rmarkdown][] package. We create Markdown using knitr, and then feed these md files to jekyll.

https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/bin/generate_md_episodes.R#L31

[rmarkdown]: http://rmarkdown.rstudio.com/

[2016-12-14 15:37] rgaiacs opened #115 "2em padding on the left for lists"
@maxim-belkin created https://github.com/swcarpentry/lesson-example/pull/83 for `lesson.scss` but I think that this maybe need to be fixed for other pages.

@gvwilson Could you point someone that had worked on the CSS more than me to help with this one?

[2016-12-14 16:52] maxim-belkin commented on #115
@rgaiacs thanks for pointing to the right repo. I can submit the same PR here if necessary.

Just to clarify, the issue with numbered lists can be seen [here](http://swcarpentry.github.io/lesson-example/).

@rgaiacs Also, I'm not entirely sure if you are asking @gvwilson to point to a person who worked on CSS for swcarpentry's repos or in general. In either case, the change that is being proposed

[2016-12-14 18:22] rgaiacs commented on #115
I mean "a person who worked on CSS for swcarpentry's repos". After we "merge" all the CSS files I lost track of them. I want to avoid that this issue appear on other websites. :-)

[2016-12-30 18:03] ctb opened #118 "Is there a guide to using this repo anywhere?"
See https://github.com/datacarpentry/python-ecology-lesson/pull/126; not sure what to do to configure things after a merge.

[2016-12-30 18:06] ctb commented on #118
Ahh! @tracykteal pointed me at https://github.com/swcarpentry/lesson-example.

I suggest this link be placed in the "repository description" field.

[2017-01-02 10:57] rgaiacs commented on #118
I think is done now. @ctb Could you double check and close this issue?

[2017-01-02 13:55] ctb commented on #118
I don't see it - this is where I was looking:

<img width="653" alt="screen shot 2017-01-02 at 5 54 39 am" src="https://cloud.githubusercontent.com/assets/51016/21590360/03155cf4-d0b0-11e6-88ee-7169e4e8c165.png">

[2017-01-03 11:26] rgaiacs commented on #118
@ctb Sorry. :-(

@jduckles @gvwilson @k8hertweck Can I get permission to fix this one or could you do address it? Thanks.

[2017-01-03 17:12] jduckles commented on #118
Permission granted.

[2017-01-03 17:19] rgaiacs commented on #118
@ctb Link added to the "repository description" field of this repo. Thanks.

![screenshot_2017-01-03_17-17-13](https://cloud.githubusercontent.com/assets/1506457/21616233/9dd8d6d4-d1d8-11e6-8a45-e976e0ce2faa.png)

I'm closing this now. If you have a better text to suggest let us know. :-)

[2017-01-03 17:19] #118 closed

[2017-01-03 17:31] ctb commented on #118
Why multiple links in the description?

Also as long as you are asking, I would omit "no README..." as it is confusing.  (Note, if we wanted a README we could use a format/extension that doesn't conflict.)

[2017-01-03 18:58] wking commented on #118
On Tue, Jan 03, 2017 at 09:31:03AM -0800, C. Titus Brown wrote:

Or have a stub README pointing into the meat in another file.  The
stub would probably never need to be updated in this repo, so any
downstream repos would have a one-off replacement where they clobbered
the stub with their content, and there would be no further merge
conflicts.  See swcarpentry/DEPRECATED-lesson-template#215 for an

[2017-01-04 15:47] rgaiacs opened #120 "Could not locate the included file 'all_figures.html'"
When I was migrating https://github.com/alex-konovalov/sage-lesson/ I got

[code]

@gvwilson and @k8hertweck  Should we add `all_figures.html` to this repository?

[2017-01-04 16:02] gvwilson commented on #120
`make lesson-figures` should regenerate it

[2017-01-04 16:52] rgaiacs commented on #120
Should we add `lesson-figures` as dependency for `serve` to avoid this kind of error?

[2017-01-04 18:02] gvwilson commented on #120
Most people don't `make serve` before committing (based on errors I've
seen in committed files), so I don't know if this would help.

[2017-01-12 22:28] butterflyology opened #124 "Image width"
Images in the following examples appear too large when rendered with gh-pages. Specifying the width of the image using HTML results in the image not rendering at all.

Is there a way to specify the width manually? If not, it would be very nice to be able to specify the width of the image in Markdown, could we create an additional image CSS class to have more flexibility.

http://www.datacarpentry.

[2017-01-13 11:32] rgaiacs commented on #124
[code]

is render as

![screenshot_2017-01-13_11-22-10](https://cloud.githubusercontent.com/assets/1506457/21928467/ee04c2c4-d982-11e6-9b78-e8e2474741b5.png)

You can see it [live](http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/).

The examples that you provide,

[code]

is render as

![screenshot_2017-01-13_11-22-25](https://cloud.githubusercontent.com/assets/1506457/21928527/3c3

[2017-01-13 19:25] #115 closed

[2017-01-13 19:27] rgaiacs commented on #112
I think that we implemented that. @gvwilson If I'm wrong please reopen it.

[2017-01-13 19:29] rgaiacs commented on #106
@naupaka Thanks for the pull request. I believe that changes on the `PULL_REQUEST_TEMPLATE.md` of this repo will conflict with the same file on other repos and because of it wasn't included.

[2017-01-13 19:30] rgaiacs commented on #102
I think that we implemented this. @gvwilson please reopen if I'm wrong.

[2017-01-13 19:30] #102 closed

[2017-01-13 19:30] #98 closed

[2017-01-13 19:31] #91 closed

[2017-01-13 19:33] gvwilson commented on #112
We haven't implemented this yet as far as I know.

[2017-01-13 19:33] rgaiacs commented on #78
I believe this is implemented now.

[2017-01-13 19:33] #78 closed

[2017-01-13 19:35] gvwilson commented on #102
Yes, it has been implemented, but it would be best to verify that by
inspecting the code or running `lesson_check.py` with a case that ought
to fail before closing the issue.

[2017-01-13 19:42] wking commented on #112
On Fri, Jan 13, 2017 at 11:27:30AM -0800, Raniere Silva wrote:

I don't think so:

  $ git describe --always
  5e89d32
  $ grep -B3 root: bin/lesson_initialize.py
  # Set the default layout for things in the episodes collection.
  defaults:
    - values:
        root: ..
  --
  ROOT_INDEX_MD = '''\
  ---
  layout: lesson
  root: .

With Jekyll 3.3 we no longer need to set those on a per-page basis

[2017-01-13 21:25] wking commented on #112
We also had a discussion on the various relative/absolute URL
approaches in [1], but that repo appears to no longer exist.
@gvwilson, do you remember if you deleted that repository or moved it
somewhere else?

[1]: https://github.com/gvwilson/new-lesson-example/pull/27

[2017-01-13 21:32] maxim-belkin opened #125 "Gallery of images/quizzes"
It is sometimes desirable to show workshop participants a single image or quiz. A good example is the image in the introduction to Git. While it is totally possible to show the webpage with the image,  it would be great to have a page with all images where instructors could simply click to show an image. Alternatively, there could be a page where instructors could click-through the images. Somethi

[2017-01-13 21:43] gvwilson commented on #125
Every lesson has `_extras/figures.md`, which produces pages like
http://swcarpentry.github.io/lesson-example/figures/ with all of the
figures on a single page.

[2017-01-13 22:04] maxim-belkin commented on #125
That's right. What I suggest is slightly different.

**Option 1.** thumbnails with click-to-enlarge action
**Option 2.** click-through page with images/quizzes. One image/quiz at a time.

[2017-01-13 22:14] gvwilson commented on #125
@k8hertweck would you like to bring this one to the maintainers?

[2017-01-13 22:16] k8hertweck commented on #125
Sure thing, adding this to the list to discuss. @rgaiacs

[2017-01-14 17:05] rgaiacs commented on #125
The list of discussion is at https://github.com/swcarpentry/styles/milestone/1.

[2017-02-02 14:32] rgaiacs opened #130 "What topics should we use for the lesson?"
GitHub announcement: https://github.com/blog/2309-introducing-topics

[2017-02-02 20:26] naupaka commented on #130
curriculum? training? the language used

[2017-02-05 09:39] mkuzak opened #131 "use .editorconfig"
Using [editorconfig](http://editorconfig.org/) will help with having more consistently edited files (tabs vs spaces etc.). The advantage is that it can store configuration for all used languages and file types so that we can have single `.editorconfig` file for all lessons. `.editorconfig` is recognised automatically by most popular text editors.

[2017-02-08 17:41] rgaiacs commented on #76
Close by #117.

[2017-02-18 17:05] rgaiacs commented on #53
Proof of concept implemented at https://github.com/swcarpentry/lesson-example/pull/94.

[2017-02-18 17:06] #76 closed

[2017-02-18 17:16] rgaiacs commented on #86
Proof of concept at https://github.com/swcarpentry/lesson-example/pull/96.

[2017-02-18 17:31] rgaiacs commented on #94
@btel Thanks for the issue. This is a feature that I believe all instructors and learners would like to have but not easy to have due our current workflow with GitHub pages. Kramdown, our Markdown to HTML engine, doesn't support it (see https://github.com/gettalong/kramdown/issues/188 for more details), we can't run any Jekyll plugin on GitHub pages, I will vote against using Javascript to add the

[2017-02-18 17:57] #101 closed

[2017-02-20 10:37] btel commented on #94
@rgaiacs Thanks for investigating this issue. Indeed the only solution that I found on the web is to use JS. I agree that it can cause more trouble than aid. It seems that the IDs are auto-generated based on exercise titles (by replacing spaces with minuses), so it's not  hard to compose the urls manually. How about documenting this not-so-obvious feature somewhere? Would you suggest a good place

[2017-02-20 13:10] rgaiacs commented on #94
:-)

Kramdown will add `id` for all headers. E.g.

[code]

But not only spaces are replace with minuses.

I will disagree (see the last two examples).

+1

Can you send a pull request to https://github.com/swcarpentry/lesson-example? Thanks in advance.

[2017-02-20 14:37] btel commented on #94
Thanks! Here is the PR:

https://github.com/swcarpentry/lesson-example/pull/102

[2017-02-20 15:20] #94 closed

[2017-02-28 23:57] tracykteal opened #134 "explore idea of using different fonts good for people with dyslexia"
@snim2 and Nathan Moore discussed the idea of dylexia-friendly fonts on the [Software Carpentry discuss list](http://lists.software-carpentry.org/pipermail/discuss/2017-February/005074.html)

Nathan asks: " Is a font like http://opendyslexic.org/ a good idea to have as a rendering option for the carpentry materials/tutorials?  Is Jekyll capable of multiple fonts in response to a button click, togg

[2017-03-01 09:46] rgaiacs commented on #134
I'm in favour of it as well the use of friendly colours and contrast. **Unfortunately** my knowledge on this area is zero. :-(

I'm against having a button toggle. CSS allow us to "specify a prioritized list of font family names and/or generic family names for the selected element" ([Mozilla Developer Network](https://developer.mozilla.org/en-US/docs/Web/CSS/font-family)) and we should implement o

[2017-03-03 21:08] rgaiacs commented on #80
Close by https://github.com/swcarpentry/styles/pull/137.

[2017-03-03 21:08] #80 closed

[2017-03-09 13:51] tracykteal commented on #97
This also was addressed in the Lesson Infrastructure meeting as something that needed a decision and an update in the template, so that it was consistent across all lessons.

https://github.com/swcarpentry/board/blob/master/subcommittees/lessons/2017-02-08.md

[2017-03-09 13:52] tracykteal commented on #97
Also being discussed at https://github.com/swcarpentry/make-novice/issues/80

[2017-03-09 13:58] gcapes commented on #97
Thanks @tracykteal

[2017-03-09 14:22] lexnederbragt commented on #97
There is a potential for confusion in that 'Setup' is used on the workshop websites to mean 'installation of software' (http://swcarpentry.github.io/workshop-template/#setup), while on each lesson page it (as far as I know) 'Setup' refers to 'download this file and unzip it' or something similar.

Ideally, the lesson 'Setup' page would also address installation issues. However, instructions for th

[2017-03-09 20:57] vuw-ecs-kevin commented on #97
FYI

The "shell-extras" lesson, rendered under the current template, as in my fork here

  https://github.com/vuw-ecs-kevin/shell-extras/tree/swap-to-jekyll-2

has both the Setup menu-item and a "ahead of Schedule" item on the
front page. (See images)

Clearly the actual setup page here, in common with a number of the episodes,
only has some outline text.

Note that the Setup item in the Schedule

[2017-03-15 17:25] ChristinaLK opened #140 "icon legend"
Suggestion: create a default page somewhere in the template that describes what each icon in the callout boxes stands for.

From instructor training issue 292.

[2017-03-16 11:07] rgaiacs commented on #140
@ChristinaLK Thanks. I moved to https://github.com/swcarpentry/lesson-example/issues/108.

[2017-03-16 11:07] #140 closed

[2017-03-28 14:56] andreww opened #141 "'Download files required for the lesson' hardcoded in syllabus.html"
The setup line in the syllabus from the front page of a new lesson includes the text "Download files required for the lesson" but this may not be appropriate for all lessons. This is hard coded inside `_includes/syllabus.html`. It would probably be better to move this to the YAML at the top of setup.md if this can be done in a backwards compatible way.

[2017-04-27 17:09] mr-c opened #144 "bin/lesson_initialize.py should be marked executable"
Or https://github.com/swcarpentry/lesson-example/blob/gh-pages/setup.md should be updated to say `python bin/lesson_initialize.py`

[2017-05-06 07:57] rgaiacs commented on #144
`bin/lesson_initialize.py` is already marked executable:

$ git rev-parse HEAD
895499e6df8747839488bead870e95715b75e106
$ ls -l bin/lesson_initialize.py
-rwxr-xr-x 1 raniere raniere 11196 Mar 31 16:12 bin/lesson_initialize.py*
$ chmod a+x bin/lesson_initialize.py
$ git status bin
On branch styles
nothing to commit, working tree clean
[code]

[2017-05-06 07:57] #144 closed

[2017-05-31 12:53] rgaiacs opened #150 "Rename _includes/lc/syllabys.html to _includes/lc/syllabus.html"

[2017-06-18 08:01] rgaiacs opened #151 "Wrap bin/workshop_check.py with Makefile"
@gvwilson any reason why you didn't wrap `bin/workshop_check.py` with the Makefile?

[2017-06-18 08:03] rgaiacs opened #152 "bin/workshop_check.py instructions are wrong"
[code]

should be

[code]

[2017-06-30 15:39] fmichonneau opened #154 "provide mathjax"
There a few lessons (in the Reproducible curriculum lessons) that use math notation and require MathJax, but it is currently not part of the template.

[2017-07-03 08:58] rgaiacs commented on #154
This is related with https://github.com/swcarpentry/DEPRECATED-bc/issues/521 and https://github.com/swcarpentry/DEPRECATED-lesson-template/issues/121.

@fmichonneau Could you provide me with the link of the episodes that you mentioned? As I mentioned before, I believe that we still can avoid MathJax.

[2017-07-04 05:02] jnothman opened #155 "lc-icon-black.svg out of sync with lc-icon-black.png"
`assets/img/lc-icon-black.png` is much fancier than `assets/img/lc-icon-black.svg`. The SVG is currently referenced in `_includes/carpentries.html`

[2017-07-04 08:45] rgaiacs commented on #155
@jnothman Thanks for the report. I'm waiting Library Carpentry folks to comment.

[2017-07-04 11:09] weaverbel commented on #155
Hey @rgaiacs I agree we should use the .png. It might be good to remove the .svg file as that was an earlier placeholder that James created before we had a proper logo and it's one we won't ever use again. Leaving it there might cause confusion. James are you happy to get that old B&W one removed? Raniere, if you could replace the image in the _includes/carpentries.html that would be great - thank

[2017-07-05 06:48] jnothman commented on #155
The png looks like it was possibly developed in a vector graphics editor. If so it would be worthwhile to export an SVG as well.

[2017-07-05 08:19] drjwbaker commented on #155
We appear to have lost the icon graphic from all our lessons eg http://data-lessons.github.io/library-shell/ @mkuzak was looking at it during the sprint and said something about the template change borking things and was taking a look. But not sure how far he got with it.

[2017-07-05 08:41] rgaiacs commented on #155
@drjwbaker do you have the SVG?

[2017-07-05 09:00] #155 closed

[2017-07-06 08:10] drjwbaker commented on #155
Sure: [LC-logos-svg.zip](https://github.com/swcarpentry/styles/files/1127153/LC-logos-svg.zip)

[2017-07-06 09:55] rgaiacs commented on #155
@drjwbaker Thanks.

[2017-07-07 01:16] weaverbel commented on #155
I created an LC workshop website this week and everything including logo
rendered fine.
Belinda

Belinda Weaver
Community Development Lead
Software and Data Carpentry
e: bweaver@carpentries.org | p: +61 408 841 882 | t: @cloudaus

On Thu, Jul 6, 2017 at 7:55 PM, Raniere Silva <notifications@github.com>
wrote:

[2017-07-07 12:57] rgaiacs commented on #155
@weaverbel the workshop is fine because it has `carpentry` at the YAML, see https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html#L4. https://github.com/swcarpentry/styles/issues/158 will require that users change the `_config`. I would remove `carpentry` from the `index.md` but someone need to patch AMY. Since AMY is out of my control I will not do the change. If you want, you

[2017-07-28 17:38] colinbrislawn opened #160 "Prev/Next arrows do not appear properly on some browsers"
On Internet Explorer, these arrows do not appear:
![image](https://user-images.githubusercontent.com/10355152/28729235-a148a750-7380-11e7-9d19-2b4027b2367e.png)

This was confusing for new windows users!

These arrows were added in #78, and it looks like some more testing is needed.

[2017-07-28 19:24] gdevenyi commented on #160
What version of IE?

[2017-07-28 20:25] colinbrislawn commented on #160
IE 11.0.9600.18698

I'm in front of my mac now, so this list may be incomplete. I have not tested this on edge.

[2017-07-29 13:14] rgaiacs commented on #160
@colinbrislawn Thanks for the issue. I can't reproduce your error, see the screenshot. I'm closing this issue since there isn't much that we could do if one minor release of IE has a bug. Feel free to reopen this issue if you know more users that are being effect by this issue.

# Screenshots

Note: Screenshots took using https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/.

Internet E

[2017-07-29 13:14] #160 closed

[2017-07-29 14:46] colinbrislawn commented on #160
Thanks for helping me review this. I'm back in front of my PC, running fully patched Windows 10. Looks like the website renders great on IE and Edge.

Let me see what IE on Windows 7 looks like...

[2017-07-29 16:16] colinbrislawn commented on #160
So old IE 9 still renders these arrows.
![ie9-capture](https://user-images.githubusercontent.com/10355152/28746290-188cc31a-743e-11e7-8e28-5d0dc21f52f8.PNG)

I'm sorry I wasn't much help here. Let's close until we know more.

[2017-08-01 11:02] rgaiacs opened #161 "Use Jekyll/Liquid include for images/figures instead of Markdown"
At the moment we are using "standard" Markdown syntax to include images/figures. [Markdown syntax](https://kramdown.gettalong.org/syntax.html#images) lacks some features such as caption. I want to propose we start using Jekyll/Liquid include for the next release.

# Current behaviour

[code]

# Propose behaviour

[code]

# Required parameters

- `filename`
- `alternative_text`

# Optional paramete

[2017-08-01 13:11] gvwilson commented on #161
Can Kramdown parse these includes to give us a list of figures? If not, how will we regenerate `_includes/all_figures.html` ?

[2017-08-01 14:37] rgaiacs commented on #161
Jekyll uses Liquid for all the tags. We could change https://github.com/swcarpentry/lesson-example/blob/gh-pages/bin/markdown_ast.rb to do the tag processing replacement, see
https://github.com/Shopify/liquid/wiki/Liquid-for-Programmers, before kramdown do their job.

[2017-08-01 15:48] brucellino commented on #161
I usually deal with this in a liquid loop.
Keep a `yml` file in `_data` (_e.g._ `_data/figures.yml` ) and then loop over them in the html :

{% for figure in site.data.figures %}
<img src="{{ figure.url }}" alt={{ figure.alt }}">
{% endfor %}

Forgive me if I'm misunderstanding something, but isn't this what you're looking for  ?

[2017-08-01 16:00] rgaiacs commented on #161
@brucellino we don't keep a list of figures on any file because if authors need to edit more than one place we have a point of failure on our workflow. For that reason, we need a script to collect all the figures "in the correct order".

[2017-08-01 16:13] brucellino commented on #161
Ok (sorry for barging in on this - I thought I had a good suggestion !). So, if I understand it correctly, you just want to be able to have the added features by including an image template (`figures.html`), the issue  is not separating content from form. In that case, (and just for argument's sake) why not just write the image bits in html ? I can see that you want to avoid asking people to write

[2017-08-01 18:44] rgaiacs commented on #161
Because this is error prone in the long run. Is the same reason why programmers write functions instead of duplicate code, if they need to change something they only need to change once. And as we need to eat our own dog food, using the template is the correct way. To give you a better example, if today we use CSS framework X and our HTML need to be

[code]

but tomorrow we use framework Y and our

[2017-08-02 00:50] evanwill commented on #161
Just to clarify @gvwilson, currently the ` _includes/all_figures.html` is generated by the `Makefile` using the `extract_figures.py`. The advantage of that method is that it is grabbing all the figs in order and generating the all_figures. The disadvantage is that it is not part of the Jekyll build, so doesn't show up while developing with Jekyll.

We can reproduce the all_figures page with Liquid

[2017-08-02 07:46] rgaiacs opened #162 "Using Javascript to generate list of figures on client side"
Because all the conversation at #161 about the list of figures, here is another proposal from me.

# Background

Our authoring workflow is heavy based on GitHub Pages (Jekyll without extensions under the hood) and we are expecting that many people are going to contribute using GitHub online editor in the near future. Because of this, any page that need to be created by running a script is under op

[2017-08-02 07:54] rgaiacs commented on #161
@evanwill Thanks for your feedback.

We can't use your code snippet because, as you mention on your comment, it will fail when we have

[code]

which is a valid HTML code. This is the main reason that we are using the [abstract syntax tree](https://en.wikipedia.org/wiki/Abstract_syntax_tree) (AST) provided by kramdown, the same parser used by Jekyll.

Since most of the comments to my proposal so f

[2017-08-02 08:07] gcapes commented on #161
I think this needs a cost-benefit analysis.

Markdown is easy to write. It's what we currently use and it works fine.

While image captions might be useful in some places, I don't feel that learning the new syntax and changing all the code is worth while. Some images will probably get missed or not work properly and someone will have to fix it.

[2017-08-02 17:38] evanwill commented on #161
@rgaiacs actually my Liquid snippet above Would catch your figure include, even with the extra white space, since Liquid is looking at the page.content object in Jekyll, which standardizes the HTML since everything goes through the rendering engine. If you write a `_include/figure.html` like you suggest above, something like:

[code]

And use it in a page like: `{% include figure.html file="forkin

[2017-08-02 17:48] evanwill commented on #162
This can be done in the Jekyll project using Liquid, see my comments at #161 , which is preferable since there is no need for a client side script.

[2017-08-03 06:50] rgaiacs commented on #161
@evanwill Thanks very much for all the clarification. 💖

[2017-08-03 07:42] evanwill commented on #161
ha ha, actually didn't mean to strongly argue for it, but I am working on some jekyll projects right now and have a sort of crush on Liquid.

In any case, I agree that having a `_include/figure.html` is helpful, and I see it on many other projects at the moment. Simplicity of writing and adapting the lesson content seems most important. Currently, adapting the `styles` and `lesson-example` repos s

[2017-08-06 23:26] brandoncurtis commented on #100
There has been some confusion about keyboard key name formatting, in e.g. swcarpentry/shell-novice/pull/561

Regarding the proposal above:

<pre>when the user types a command and then presses `ENTER`{: .keyboard } ...</pre>

That doesn't look so bad to me!  @gvwilson, is that definitely a no-go for you?

We have this [in StackExchange in the form of an HTML tag][sx], though I gather that HTML tags

[2017-08-07 16:23] brandoncurtis commented on #100
I explored this a little further and *ENTER*{: .keyboard } is preferred over `ENTER`{: .keyboard} so that Unicode string references work for e.g. the arrow keys.

It looks like this:
![keys-demo](https://user-images.githubusercontent.com/2591290/29035841-e73333ec-7b51-11e7-9772-6b2a44b12127.png)

With this CSS:

[code]

[2017-08-08 14:49] mr-c opened #164 "Citing the templates?"
Howdy, we're using Zenodo to mint DOIs for the CWL user  guide which uses this template.

https://github.com/common-workflow-language/user_guide/issues/8

How shall we give appropriate credit to contributors to this repo?

Perhaps a `isSupplementTo` relation to a DOI or URL to this repo?

Or some text in the `notes`?

[2017-08-09 18:40] rgaiacs commented on #164
@k8hertweck @twitwi any recommendation?

[2017-08-20 14:16] fmichonneau commented on #161
I'm -1 on this. Anything that deviates from Markdown syntax makes contributing more difficult, and reduces interoperability of the content.

[2017-08-30 14:27] jsta opened #167 "Rmd figure paths broken"
It seems that figure paths are broken. If I run `make lesson-md` it sets the figure paths to `figure/foo.png`. However, I could only get the figures to render in the final page by manually pre-appending the path to the parent folder as in `../figure/foo.png`

[2017-08-30 14:30] jsta commented on #167
Nevermind, I forgot to add `source("../bin/chunk-options.R")` to the first chunk.

[2017-08-30 14:30] #167 closed

[2017-08-30 14:59] twitwi commented on #154
I've been using equation-in-a-browser for some time (for my slide decks) and I switched to [katex](https://khan.github.io/KaTeX/) as mathjax was very very annoying to bundle and heavy to host or for offline use. Katex is pretty active and has good math support now.

To give an idea, the Katex download is less than 2MB. By keeping only [fonts for decents browsers](http://caniuse.com/#search=woff),

[2017-08-30 15:17] twitwi commented on #164
On the [zenodo]() side, it seems that `related_identifiers` could be the right place indeed but I'm not sure any of the relation conveys the proper meaning. I'm not a native English speaker, so I'm not sure about the terminology, here are the possible values:

My feeling is that “supplement” refers more to something like “supplementary material” for articles, and that “part” is more for “part of b

[2017-08-30 15:36] rgaiacs commented on #154
@twitwi @fmichonneau I have think about it in the past last days. What do you think of require that pages that are going to use math, only for a math variable or for a very complex equation, **must** include

[code]

in the YAML header?

This will allow us to trigger the inclusion of MathJax or KaTeX only on pages that need it.

[2017-08-30 15:37] twitwi commented on #125
I'm slightly late to the game...
I had a prototype doing exactly this. I would need to find it back and to make it work again, but there are been quite some changes in the style since then.

[2017-08-30 15:43] maxim-belkin commented on #125
it's never too late!

[2017-08-30 15:49] twitwi commented on #125
I could find my prototype and it can be tested there (it also shows section titles):
http://dl.heeere.com/all-in-one-old/git-novice/all-in-one-as-slides.html

[2017-08-30 15:52] fmichonneau commented on #154
I think there are 2 separate issues here:

- supporting a way to render math notations in our lessons
- providing support for this method offline

For this first, I think it would be good to have some kind of support, as currently there is none. I don't know much about the topic, so I'll let people with more knowledge decide whether MathJax, KaTeX, or something else is the best option.

For the se

[2017-08-30 16:02] twitwi commented on #154
@rgaiacs  Something like `require_mathjax` is a good idea to limit the footprint of most pages (that don't use any latex).
I'd go for something more generic though, like `contains_latex_math` so we can swap implementations without breaking the semantics of the flag.

I agree that it is most important to have it work online. Offline matters only secondarily.
To know if what we can use, @fmichonneau

[2017-08-30 16:09] fmichonneau commented on #154
See http://www.datacarpentry.org/rr-literate-programming/02-literate-programming/ (middle of the lesson, in the rendered Rmd example on the right there are a few equations)

[2017-08-30 16:11] fmichonneau commented on #154
note that I added  MathJax to these pages to render the equations correctly

[2017-08-30 16:35] rgaiacs commented on #154
I think this is the one that is being block us. We want the page to load fast for the user and for this we need to make the page as smaller as possible.

offline can mean different things for different people. When I say offline, I mean clone the lesson and run it locally with Jekyll. It will not hurt me if we include MathJax/KaTeX on the source code of the lesson.

**Side note about EPUB and Kind

[2017-08-31 18:40] rgaiacs opened #168 "Change font because 1 and l are similar."
@dakane1 opened https://github.com/swcarpentry/shell-novice/issues/612 saying that

# Screenshot

![screenshot from 2017-08-31 19-29-21](https://user-images.githubusercontent.com/1506457/29939195-fd4c6740-8e82-11e7-9472-5a130e2a8cc5.png)

# Technical details

If you are using a high resolution display (HIDPI) like the retina display in some MacBooks, the QHD+ in some laptops or (you are the luck o

[2017-08-31 19:05] dakane1 commented on #168
I had actually printed the lessons and was not reading them on a screen, not sure if that information helps or not.  http://swcarpentry.github.io/shell-novice/aio/.  I can ask a web designer I know to see if they have any font recommendations.

[2017-08-31 19:42] rgaiacs commented on #168
@dakane1 Thanks for the information. It is very useful.

For the main text, the only difference of the CSS used for print is

[code]

which enforce a darker colour.

Thanks in advance.

[2017-09-05 14:30] k8hertweck commented on #164
Not sure if you've resolved this yet or not, @mr-c, but there is a [Zenodo doi](https://zenodo.org/record/838778#.Wa60qK3Mz-Y) associated with the lesson template. Please let us know if there's anything else you need.

[2017-09-08 10:08] mr-c commented on #164
@k8hertweck That works, thanks!

[2017-09-08 10:08] #164 closed

[2017-09-08 10:44] rgaiacs opened #171 "R Markdown episodes compilation workflow"
I was playing with a R Markdown and Jekyll to create a website for the local R user group that I attend sometimes and the result is https://gitlab.com/RstatsUM/website. I decided to

- use a directory `_pandoc/templates` to store a custom template that knitr is going to use
- add

[code]

   into `_config.yml`.

- add

[code]

  into the R Markdown YAML header to change default knitr behaviour to

[2017-09-08 12:15] jsta commented on #171
My workflow is to run jekyll in one terminal window, edit Rmd in RStudio, then run `make lesson-md` in a second terminal window.

[2017-09-09 13:46] rgaiacs commented on #161
After talk with other instructions we will merge this after a review of https://github.com/swcarpentry/styles/blob/gh-pages/bin/lesson_check.py and the documentation.

[2017-10-04 14:24] rgaiacs opened #172 "Replace extract_figures.py with Javacript"
https://github.com/swcarpentry/styles/blob/gh-pages/Makefile#L99 is prone error to users. We should use Javascript as we do with the all in one page episode.

**Note**: I have the feeling that this was "approved" in one of the maintainers meeting.

[2017-10-06 16:38] rgaiacs opened #173 "extract_figures.py doesn't generate the list of images in the order they appear"
# Expected behaviour

For https://github.com/swcarpentry/lesson-example/, `_include/all_figures` should be

[code]

# Current behaviou

For https://github.com/swcarpentry/lesson-example/, `_include/all_figures` is

[code]

[2017-10-19 08:53] rgaiacs opened #175 "Use submodule"
As I mentioned [at the maintainers mailing list](http://lists.software-carpentry.org/pipermail/maintainers/2017-October/000395.html), I want to use submodules because change [bin/lesson_initialize.py](https://github.com/swcarpentry/styles/blob/gh-pages/bin/lesson_initialize.py) involves lots of rebase and send the changes to the lessons is even harder. For a example, see https://github.com/swcarpe

[2017-10-19 16:36] IanLee1521 commented on #175
FWIW, I'm actually more partial to sub trees, rather than sub modules, but that's just me.

[2017-10-20 14:42] rgaiacs commented on #168
@dakane1 did you have the opportunity to ask for suggestion from your web designer friend?

[2017-10-20 14:59] rgaiacs opened #176 "External link http://swcarpentry.github.io/instructor-training/08-memory failed: 404 No error"
At `_includes/links.md`, change

[code]

for

[code]

[2017-10-20 15:01] rgaiacs opened #177 "External link https://import.github.com failed: 404 No error"
At `_includes/links.md`, change

[code]

for

[code]

[2017-10-20 16:55] dakane1 commented on #168
Sorry, not yet.  Start of the quarter has been crazy busy but I will ask after OA Week, which is next week.

[2017-10-24 15:11] rgaiacs opened #178 "site.contact vs site.email"
Styles uses `site.contact` and `site.email`

[code]

but `_config.yml` doesn't have `email`

[code]

We should stay with only one keyword.

# Acknowledge

Thanks @remram44 for report this at https://github.com/swcarpentry/shell-novice/issues/643.

[2017-10-24 15:15] rgaiacs commented on #178
@weaverbel can you let me know who receive the emails sent to `lessons@software-carpentry.org`? I really wish that GitHub had something like https://docs.gitlab.com/ee/user/project/service_desk.html.

[2017-10-25 00:11] weaverbel commented on #178
I am not sure @rgaiacs - I have asked in the slack channel and will advise.

[2017-10-26 01:26] naught101 opened #179 "Enable syntax highlighting in Jekyll?"
Copying from https://github.com/carpentries/instructor-training/issues/543

As noted at https://github.com/carpentries/instructor-training/pull/536, when using the language-specific code block notation, syntax highlighting is not enabled. I'm not sure if this is intentional or not, but I think syntax highlighting vastly improves code readability, and would be great to have in this course.

I am ha

[2017-10-26 05:55] rgaiacs commented on #179
Syntax highlight is disabled. Instructor agreed that syntax highlight could disturb learners for different reasons including question why their text editor is colouring something with X when the lesson uses Y. In addition to that, because we also had agreed that our lessons should be accessible/disabled friendly I'm strong against add syntax highlight.
--
Sent from my Android device with K-9 Mail.

[2017-10-26 13:32] ChristinaLK commented on #179
I think that syntax highlighting would improve readability -- even if the colors were different from what a learner was seeing.  They shouldn't necessarily be reading the lesson while in the workshop anyway.

For the accessibility question, is that we don't want to add a feature (in this case, syntax highlighting) to the lesson if it's not available for everyone?

[2017-10-31 10:22] orchid00 opened #180 "Can we add the sell-novice-es and git-novice-es to the repo, the translations are ready"
@rgaiacs is this the right place to add this?

Can we add the sell-novice-es and git-novice-es to the repo, the translations are ready

@map0logo can help with this

[2017-10-31 10:36] rgaiacs commented on #180
@orchid00 I didn't understood what you want.

If you are looking to have a Spanish version of the files at https://github.com/swcarpentry/styles/blob/gh-pages/_includes/ I would recommend to have https://github.com/carpentries/styles-es/ for it. We could use branches but my experience shows that people don't find branches. And because GitHub issue track sucks when compared to Bugzilla to notify co

[2017-10-31 13:38] orchid00 commented on #180
Yup, right, styles is not the right place. You can delete this isuue.

I'm not in charge of this part, you will get an email from Erin or Francisco or maybe Jonah about rendering the translations from the shell and git lessons to the carpentries repo. The idea is to make them public.

[2017-10-31 16:11] rgaiacs commented on #180
Please use https://github.com/swcarpentry/website/issues/867 for further discussion about this.

[2017-10-31 16:11] #180 closed

[2017-10-31 19:20] rgaiacs commented on #179
I need to make a distinction between "not available for everyone" and "deteriorate the experience for someone". I'm not against a feature that is not available for everyone, for example, Firefox and Chrome behave different sometimes so I would probably say +1 for a nice feature only available in one web browser but not in others (I wanted to use `<details>` and `<summary>` when it wasn't available

[2017-11-01 07:44] gcapes commented on #179
I don't feel in a position to comment on accessibility, but avoiding syntax highlighting on the grounds that it might look different to a learner's editor doesn't seem to hold much water. By turning syntax highlighting off, our lessons probably already look different to most learners' editors, and more so than if the highlighting used a different colour scheme for example.

So I'm generally in fav

[2017-11-05 09:49] rgaiacs commented on #162
Closed by #184.

[2017-11-05 09:49] #162 closed

[2017-11-05 09:50] rgaiacs commented on #172
Closed by #184.

[2017-11-05 09:50] #172 closed

[2017-11-05 09:50] rgaiacs commented on #173
Closed by #184.

[2017-11-05 09:50] #173 closed

[2017-11-05 09:54] rgaiacs commented on #178
The workshop template uses `email`, see https://github.com/swcarpentry/workshop-template/blob/gh-pages/_config.yml#L12. I'm making the decision of use `site.email` instead of `site.contact` to avoid to make the change in another place, https://github.com/swcarpentry/workshop-template/. Please note that https://github.com/swcarpentry/website/ uses `contact`, https://github.com/swcarpentry/website/b

[2017-11-05 09:55] #177 closed

[2017-11-05 09:58] #176 closed

[2017-11-05 10:08] rgaiacs commented on #178
In addition, https://github.com/swcarpentry/lesson-example/blob/gh-pages/_episodes/03-organization.md says

[2017-11-06 02:03] naught101 commented on #179
@rgaiacs: as pointed out in unor's answer on that post, syntax highlighting shouldn't affect accessibility. It should not be read aloud by screen-readers, since it doesn't affect the content. For the colour blind, it also shouldn't make things *worse*, because even if two colours are indistinguishable, there are still more colours visible than if it's all just black-on-white (but ideally a colour-

[2017-11-06 11:26] rgaiacs commented on #179
@naught101 as I said, I don't want to pick the color palette. Pull request from someone with experience would be great.

[2017-11-06 15:04] ChristinaLK commented on #179
Okay, so syntax highlighting is a go, we just need to make sure the colors used are accessible (re: color blindness).  @rgaiacs , I don't think we need someone w/ specific experience in this area as long as the colors are checked via something like https://www.toptal.com/designers/colorfilter or another online tool.  @naught101, I'd say that you can take this on if you want!

[2017-11-07 14:58] lexnederbragt opened #186 "setup.html layout"
http://swcarpentry.github.io/lesson-example/setup.html has a different, strange layout. Maybe the rendering for that page is failing?

[2017-11-07 15:01] lexnederbragt opened #187 "Do not link to index.html for episodes?"
Many if not all internal links to episodes go to an index.html page. E.g. at http://swcarpentry.github.io/lesson-example/ clicking on 'Lesson Design' goes to http://swcarpentry.github.io/lesson-example/01-design/index.html.

In the old template, links went to http://swcarpentry.github.io/lesson-example/01-design, without the index.html, which I think is neater/better.

[2017-11-07 15:04] lexnederbragt commented on #186
Same for http://swcarpentry.github.io/lesson-example/reference.html and http://swcarpentry.github.io/lesson-example/LICENSE.html

[2017-11-08 20:42] ErinBecker opened #189 "redirecting gh-pages links"
There's been some recent discussion around moving shared resources over to the joint carpentries github organization. At @rgaiacs's suggestion, I'm adding an issue here about a problem I ran into migrating the instructor-training repo.

See [here](https://github.com/swcarpentry/swcarpentry.github.io/pull/2) and [here](https://github.com/swcarpentry/swcarpentry.github.io/pull/3#issuecomment-3420290

[2017-11-08 20:43] ErinBecker commented on #189
Useful resources:

[Redirecting GitHub Pages after a repository move](https://gist.github.com/domenic/1f286d415559b56d725bee51a62c24a7)

[About repository transfers](https://help.github.com/articles/about-repository-transfers/)

[2017-11-09 00:20] naught101 commented on #179
The "default" [pygments style](https://richleland.github.io/pygments-css/) is Blue/green.

![screenshot_20171109_111440](https://user-images.githubusercontent.com/167164/32581761-73b9a2ba-c53f-11e7-862f-2632e005cabe.png)

I've run it through the simulator at http://www.color-blindness.com/coblis-color-blindness-simulator/, and it looks perfectly useful for everyone. The colours are not very distin

[2017-11-09 09:19] lexnederbragt commented on #187
Thanks, well explained and makes a lot of sense!

[2017-11-09 17:49] rgaiacs commented on #179
@naught101 Thanks for your investigation. GitHub Pages uses [rouge](https://github.com/jneen/rouge). Could you have a look at what we need to change? If you send a pull request to https://github.com/swcarpentry/lesson-example with the changes enabling syntax highlighting I can pick from there and do the rest (send a pull request to this repo, merge, merge this repo into https://github.com/swcarpen

[2017-11-10 04:40] naught101 commented on #179
Trying to get that repo up and running, and I'm hitting this problem: https://github.com/swcarpentry/lesson-example/issues/143, so it's a bit hard to test at the moment.

[2017-11-11 10:58] rgaiacs commented on #179
@naught101 Thanks for your help. Please see https://github.com/swcarpentry/lesson-example/issues/143#issuecomment-343656689.

[2017-11-12 17:46] shwina opened #190 "Instructor note cards"
Moving discussion from https://github.com/swcarpentry/shell-novice/pull/656 to here.

[2017-11-13 02:45] naught101 commented on #179
Created a pull request at https://github.com/swcarpentry/lesson-example/pull/144, but there's a stumbling block - it doesn't work with the existing formats (explained over there).

[2017-11-14 04:37] DamienIrving opened #191 "Page build failure upon importing styles repo"
I imported the styles repo (see https://github.com/DamienIrving/pyaos-lesson) and immediately received the following email from GItHub.

---------- Forwarded message ----------
From: GitHub <support@github.com>
Date: Tue, Nov 14, 2017 at 3:25 PM
Subject: [DamienIrving/pyaos-lesson] Page build failure
To: Damien Irving <irving.damien@gmail.com>

The page build failed for the `gh-pages` branch with

[2017-11-14 09:46] rgaiacs commented on #191
@DamienIrving Thanks for the report.

GitHub Pages was to be disabled for this repository. I try to turn it of but couldn't.

![screenshot from 2017-11-14 09-44-10](https://user-images.githubusercontent.com/1506457/32773292-9da60cd2-c920-11e7-8a82-71039016e4b6.png)

This could be a permission issue. I will have a deep look later.

[2017-11-19 19:42] rgaiacs commented on #179
This was implemented. Thanks @naught101.

[2017-11-19 19:43] #179 closed

[2017-11-19 20:23] rgaiacs commented on #151
Implemented at https://github.com/swcarpentry/styles/blob/gh-pages/Makefile#L52.

[2017-11-19 20:23] #151 closed

[2017-11-19 20:28] #152 closed

[2017-11-19 20:35] #150 closed

[2017-11-19 20:35] rgaiacs commented on #120
We moved for a Javascript solution.

[2017-11-19 20:35] #120 closed

[2017-11-19 21:15] rgaiacs commented on #191
@DamienIrving Thanks again for the report. I don't remember why we was using gh-pages for this repo if we wasn't publishing any page. I renamed the `gh-pages` branch to `master` and removed the `gh-pages` branch so GitHub Pages will not try to build anything. Sorry for the trouble.

[2017-11-19 21:15] #191 closed

[2017-11-19 23:37] DamienIrving commented on #191
Thanks, @rgaiacs. Now that the `gh-pages` branch is gone, does something else need to be done in order for `https://timtomch.github.io/data-cleanup` to go live? When I use the importer to import the updated styles repo no website is generated...

[2017-11-20 00:01] rgaiacs commented on #191
OK. You make me realise that I did a mistake with the branches. I will write about it tomorrow.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-11-23 08:30] rgaiacs commented on #191
@DamienIrving, I created the `gh-pages` branch and removed the `master` one. Sorry for all the trouble.

[2017-11-23 22:31] DamienIrving commented on #191
@rgaiacs - Sorry to be a pest, but now we are back to the original problem. When I import the styles repo (see https://github.com/DamienIrving/pyaos-lesson), I immediately get a page build failure email.

[2017-11-24 00:07] DamienIrving commented on #191
@rgaiacs Nevermind! Sorry. I needed to read the instructions at http://swcarpentry.github.io/lesson-example/setup.html better!

[2017-12-11 13:47] rgaiacs opened #194 "Dyslexia and font"
Cameron Macdonell [posted](http://lists.software-carpentry.org/pipermail/discuss/2017-December/005634.html) to the mailing list

[2017-12-11 13:48] rgaiacs commented on #194
Daniel Baird mentioned that

[2017-12-11 17:54] ErinBecker opened #195 "unknown tag error when previewing locally with jekyll"
I'm following the steps [here](http://swcarpentry.github.io/lesson-example/setup.html) to create a new lesson and run into a problem when I try to preview the page locally (step 13 of the instructions). From the error message (shown below), it appears that the tag name `link` is not recognized by Jekyll. Has anyone else had this issue? How do we fix it?

[code]

[2017-12-12 13:51] rgaiacs commented on #195
Please update your Jekyll installation to 3.2 or higher. `link` was introduced in 3.2.0, see [the release note](https://jekyllrb.com/news/2016/07/26/jekyll-3-2-0-released/). From August 23, 2016 GitHub Pages uses Jekyll 3.2, see [this blog post](https://github.com/blog/2236-github-pages-now-runs-jekyll-3-2), so `link` is available to use in our current workflow.

I'm closing this as not a bug and

[2017-12-12 13:51] #195 closed

[2017-12-12 16:14] ErinBecker commented on #195
Thanks @rgaiacs. That's very useful information. I will update my Jekyll and put in the PR to lesson-example.

[2018-01-11 12:59] rgaiacs opened #197 "Add current year to copyright of workshop footer"
Move https://github.com/swcarpentry/workshop-template/pull/458 to this repository.

[2018-01-11 13:01] rgaiacs opened #198 "Add comment to all files stating the origin"
Is getting more common for contributors to do changes in files originated in this repository but send the pull request to another place, for example, https://github.com/swcarpentry/workshop-template/pull/458. Contributors are not to be blame!!! They are doing it on their best intentions. We need to add at the top of every file stating that the changes need to be send to this repository.

[2018-01-24 20:40] jduckles opened #199 "Docker config files for Jekyll build environment"
Over in the python-novice-gapminder lesson, @alee developed a dockerfile which can be used to bring in the Jekyll dependencies if you have a working.

In https://github.com/swcarpentry/python-novice-gapminder/issues/120, @alee closed the issue and mentioned that it would be better over here in swcarpentry/styles. This issue serves to capture that over here so we can consider it for inclusion.

[2018-01-25 11:28] rgaiacs commented on #199
I like the idea of a Docker config file but so far we didn't enforce instructors to use a specific version of any library. Having a Docker file will change this and add the extra work to change the Docker file when a new version is available.

In addition to that, changes to Instructor Training will be required. @ErinBecker How much do you think this will impact Instructor Training?

@swcarpentry/

[2018-01-25 20:39] alee commented on #199
I think this should be an optional thing, it is faster to install & set up if you have docker + docker-compose installed but that isn't trivial either and only available for those running [newer OSes](https://success.docker.com/article/Compatibility_Matrix).

I ran into an issue on Tuesday during my final maintainer onboarding session with Erin where I was following these steps to install Jekyll:

[2018-01-26 11:28] rgaiacs opened #201 "Multiple issue and pull request templates"
GitHub now supports multiple issue and pull request templates, see https://github.com/blog/2495-multiple-issue-and-pull-request-templates.

Leave a comment here describing any template that you want to have.

[2018-01-26 18:08] gdevenyi commented on #199
I find installing/configuring Ruby to be a disaster, I fully support standardized Docker instance to fix this.

[2018-02-13 17:20] rgaiacs opened #204 "bin/lesson_initialize.py should create a README file"
https://github.com/swcarpentry/styles/blob/gh-pages/bin/lesson_initialize.py create important files for lessons that use this style but it doesn't create a `README` file.

# Instructions for newcomer

1. Add `ROOT_README`. It should be similar to `ROOT_AUTHORS`, see https://github.com/swcarpentry/styles/blob/gh-pages/bin/lesson_initialize.py#L10.
2. Add `ROOT_README` to the list `BOILERPLATE`, see

[2018-02-14 17:38] rgaiacs commented on #197
Address by https://github.com/swcarpentry/styles/pull/205.

[2018-02-14 17:38] #197 closed

[2018-02-14 17:42] rgaiacs commented on #71
I'm happy to close this issue as it is not a bug any more because we are using Javascript on the client side.

[2018-02-14 17:42] #71 closed

[2018-02-14 17:45] rgaiacs commented on #97
I'm closing this as fixed.

This is the solution that we adopted.

[2018-02-14 17:45] #97 closed

[2018-02-14 17:47] rgaiacs commented on #106
I believe that @ErinBecker resolved this issue, see https://github.com/swcarpentry/styles/tree/gh-pages/.github. I'm closing it.

[2018-02-14 17:47] #106 closed

[2018-02-14 17:53] rgaiacs commented on #44
I'm happy to close this as we are using JavaScript on the client side.

[2018-02-14 17:53] #44 closed

[2018-02-15 11:04] rgaiacs opened #207 "Page build failure"
I get a email notification for every push that I do because we are using `gh-pages` for the branch.

This is very annoying. The source of this problem is that GitHub will trigger a worker to run Jekyll for a branch `gh-pages` and we can't disable it. If we change the branch name to `master` it will disable the worker creation. Unfortunately this will mean that we need to change the instructions to

[2018-02-15 20:10] rgaiacs opened #208 "_config.yml need flag for enable Carpentry spefics"
People are using this template and by default including the Carpentry brand, for example in not change the LICENSE file. We need a flag on `_config.yml` to disable Carpentry stuffs so readers don't get the wrong information.

@fmichonneau I think this should high on our priority.

[2018-02-19 14:14] mr-c opened #210 "Lets talk about translations"
I can't search the mailing list, though I've heard there have been conversations in the past.

Is there a plan for maintaining a lesson in multiple languages?

[2018-02-19 14:18] mr-c commented on #210
For the CWL User Guide we'd like to be able to connect to one of the crowdsource translation sites and to be able to give credit to our translators automatically.

[2018-02-19 14:34] rgaiacs commented on #210
Hi @mr-c, some discussions at https://github.com/Carpentries-ES/board/issues and others in different places. Sorry for the information in different places. The problem with some crowdsource translation sites is that they don't work well with long strings and small changes, see https://github.com/Carpentries-ES/board/issues/2.

[This repository](https://github.com/swcarpentry/styles/) doesn't have

[2018-02-19 14:43] ErinBecker commented on #210
Thanks for the quick response @rgaiacs! I was just about to say the same things.

@mr-c - we're working on getting out an initial publication in Spanish of two of the SWC lessons (git and shell).  These translations were done by a team of new Instructors. There will be Spanish-speaking Maintainers for those lessons, who will be going through Maintainer Onboarding soon. We're using this first set o

[2018-02-19 14:50] mr-c commented on #210
Great, thank you @rgaiacs and @ErinBecker! Selfishly my question is in the context of carpentry-forks, like the [CWL user guide](https://github.com/common-workflow-language/user_guide/). If possible, I'd prefer to work together to build a localization strategy for this and other carpentry-style curricula.

[2018-02-19 14:58] mr-c commented on #210
List of Jekyll plugins for multilingualism: https://github.com/Anthony-Gaudino/jekyll-multiple-languages-plugin#10-other-language-plugins

[2018-02-19 15:18] rgaiacs commented on #210
I like selfish questions. :-) They are better than no questions at all. Keep the selfish questions coming.

We will keep you in the loop.

@mr-c In short term, if you already have a couple of translators that want to contribute, the best steps would be

1. Create a fork of https://github.com/common-workflow-language/user_guide/ for the desired language
2. Give permission to the translators
3. Tran

[2018-02-25 20:26] rgaiacs opened #211 "Trademark need update"
The trademark in https://github.com/swcarpentry/styles/blob/gh-pages/LICENSE.md and the copy of this files in **all** lessons plus workshop-template repository need update.

# Reasoning

As mentioned [here](https://software-carpentry.org/blog/2018/01/fiscal-sponsor-transition.html),

# How should it be?

https://github.com/swcarpentry/styles/blob/gh-pages/LICENSE.md should state

# How is it now?

[2018-02-26 18:23] fmichonneau commented on #211
I am happy to do this. @tracykteal or @jduckles could you please confirm that the text suggested by Raniere is accurate?

[2018-02-26 19:29] jduckles commented on #211
I fixed this on all SWC lessons by hand yesterday with the following:
[code]
Didn't know there was automation magic for the licenses. So I think for SWC if we just fix this upstream we'll be good going forward.

[2018-02-26 19:31] jduckles commented on #211
Counting the lessons in the `infra-lessons` script. I only did this to 11 lessons. So you can run it again to catch the 12th one I missed.

[2018-02-27 23:25] ErinBecker opened #212 "Replace out of date CoC"
The current lesson template uses an [out-of-date CoC](https://github.com/swcarpentry/styles/blob/gh-pages/CONDUCT.md). Since we now have a CoC that has been developed by and approved by the community, the extra language should be removed from CONDUCT.md and only a link to the official policy page should remain.

[2018-02-28 12:10] #212 closed

[2018-03-12 13:55] rgaiacs opened #215 "Improve language on CONTRIBUTING file"
As per @marwahaha comment on https://github.com/swcarpentry/shell-novice/issues/738, would be great to improve the language to make clear the distinction between repositories and branches.

# Instructions to novices

- Edit https://github.com/swcarpentry/styles/blob/gh-pages/bin/lesson_initialize.py#L18 to improve the language.

[2018-03-18 09:38] katrinleinweber commented on #131
RStudio doesn't yet, but it's on the radar: https://github.com/rstudio/rstudio/issues/1711

[2018-03-18 09:44] katrinleinweber commented on #210
We might see improvements on that front, because some of GitHub's own projects also struggle with this problem, see https://github.com/github/choosealicense.com/issues/68#issuecomment-366096769 and https://github.com/github/opensource.guide/blob/master/docs/translations.md for example.

[2018-03-18 20:36] rgaiacs opened #217 "Add swc-releases to _includes/links"
https://github.com/swcarpentry/lesson-example/pull/185/ added [this line](https://github.com/swcarpentry/lesson-example/pull/185/files#diff-0e56e3e77001cdd6fc76462f48e161b8R31) that need to be incorporated in this repository.

[2018-03-18 20:38] rgaiacs opened #218 "Assorted minor fixes to spelling, whitespace, hyperlinks & sorting"
https://github.com/swcarpentry/lesson-example/pull/186 need to be migrate to this repository.

[2018-03-21 11:52] katrinleinweber opened #220 "Switch search from Google to DuckDuckGo or other"
Hello :-) Is there are specific reason behind refering learnes to Google? Could a more lightweight search like https://duckduckgo.com/lite achieve pretty much the same outcome (keyword search, comparable to `CTRL+F` on `/aio` correct?), while being more privacy-friendly?

[2018-03-21 13:00] rgaiacs commented on #220
No.

Probably yes. But we will have contributors saying that the DuckDuckGo/Bingo/Yahoo! aren't as good for some reason.

[Sphinx](http://www.sphinx-doc.org/), the core tool used for Python documentation and behind ReadTheDocs, has it [own Javascript based search](http://www.sphinx-doc.org/en/master/_static/searchtools.js) that we could use. A quick look on Jekyll plugins returned https://github.c

[2018-03-21 13:18] katrinleinweber commented on #220
When searching the whole wide web, I agree.

[2018-03-21 13:38] fmichonneau commented on #220
If the lessons refer to "google" instead of "search engine" in the text, I agree we should remove the mention to a brand to refer to a more generic term whenever possible.

As to the search engine we are using to look for something within our website or lessons, I think a proposal to switching to a javascript based solution could be something the infrastructure subcommittee could evaluate.

[2018-03-22 19:13] #217 closed

[2018-03-22 19:17] #211 closed

[2018-03-29 07:34] maxim-belkin opened #221 "fix-svg branch"
`fix-svg` branch has been merged in #203 and can be deleted from this repository

[2018-04-02 21:15] jduckles commented on #221
Done

[2018-04-02 21:15] #221 closed

[2018-04-18 12:45] rgaiacs opened #229 "Use of remote_theme"
@dpshelio asked to prototype using https://blog.github.com/2017-11-29-use-any-theme-with-github-pages/ to "simplify" the building process.

[2018-04-20 06:25] mr-c opened #232 "switch all code in this repo to python3.4"
For simplified maintenance.

Python3.3 and earlier have already reached end of life: https://devguide.python.org/#status-of-python-branches

Python3 is the version of software carpentry that is taught.

I'm happy to send a PR if this is agreed upon.

- [ ] bin/repo_check.py
- [ ] bin/lesson_initialize.py
- [ ] bin/workshop_check.py
- [ ] bin/util.py
- [ ] bin/test_lesson_check.py
- [ ] bin/lesson_

[2018-04-20 07:33] rgaiacs opened #233 "Add Travis CI"
See https://github.com/swcarpentry/python-novice-inflammation/pull/502.

[2018-04-20 07:39] rgaiacs commented on #232
Any pull request will be great.

[2018-04-24 17:55] alee commented on #233
Should we still be targeting Python 2.7? If so it would be good to test Python 3 versions as well, either by [including them in the .travis.yml python section](https://docs.travis-ci.com/user/languages/python/#Specifying-Python-versions) or adding [tox](https://tox.readthedocs.io/en/latest/).

[2018-04-24 20:09] mr-c commented on #233
I advocate for just Python 3.

[2018-04-24 20:49] maxim-belkin commented on #233
1. The reason I used Python 2.7 in Travis config file is because standard `Makefile` in swc repos executes `bin/lesson_check.py` which calls `python` (`#!/usr/bin/env python` shebang).

2. There is no need in using multiple Python versions in CI.

Also, be sure to add
[code]
because Travis ignores `gh-pages` branches by default.
swcarpentry/python-novice-inflammation#507

[2018-04-24 21:12] alee commented on #233
thanks for the reminder maxim - this is a larger issue but perhaps we should be using the `master` branch for source material and `gh-pages` for generated static files like the rest of github. At the moment it's fairly innocuous but I see it as [contagious technical debt](https://engineering.riotgames.com/news/taxonomy-tech-debt) that's counter to most published docs & convention and will require

[2018-04-24 21:17] maxim-belkin commented on #233
I couldn't agree more :)

Well, this is not a common practice so if we're talking about reproducibility, we should be enforcing it :)

[2018-04-25 12:12] dpshelio commented on #229
In my free time -- which is scarce -- I'm looking into that.  I'll add here any updates.

[2018-04-25 16:02] henrykironde opened #235 "Error in current master Could not find document 'index.md' in tag 'link'"
Liquid Exception: Could not find document 'index.md' in tag 'link'. Make sure the document exists and the path is correct. in /_layouts/page.html
jekyll 3.7.0 | Error:  Could not find document 'index.md' in tag 'link'.

Make sure the document exists and the path is correct.

[2018-04-25 16:12] rgaiacs commented on #235
You should not build this repository!

As mentioned in http://swcarpentry.github.io/lesson-example/02-tooling/index.html,

I'm closing this since it is not a bug.

[2018-04-25 16:12] #235 closed

[2018-04-29 16:28] gvwilson opened #236 "Using explicit TOC instead of numbered filenames"
Our use of numbered filenames (e.g. `_episodes/01-blah.md`) has always annoyed me, since changing the order of episodes or inserting/removing episodes required renaming multiple files that haven't actually been altered. I've therefore been experimenting with a template that puts the permalinks of the episodes in `_course.yml` - the result so far is in <https://github.com/gvwilson/js-vs-rc>, and it

[2018-04-30 08:35] rgaiacs commented on #229
@dpshelio Thanks very much.

@fmichonneau Could you add this to be discussed on the 23 May meeting?

[2018-04-30 08:39] rgaiacs commented on #236
I like numbered filenames because it makes easy to know the order that they should be read without having to look at another file.

I agree that this is annoying but having the order of the file in `_course.yml` would mean that new instructors need to remember that information and from my experience this would not be friendly.

Maybe.

[2018-05-04 16:12] rgaiacs opened #237 "Make clear what version of style is being use"

[2018-05-05 20:56] iglpdc opened #238 "Add Docker suport to build the lesson to the makefile"
Some contributors may want to use Docker to check and render the lesson locally instead of using an installation of jekyll. It could be useful for them to have the equivalent of `make serve` and `make build` that use a docker container instead of the local installation. The current commands will be still available.

- [ ] Add a target `docker-serve` that builds the lesson using a previously pulled

[2018-05-05 23:46] gdevenyi commented on #238
Yes please!

I despise the mess that is a ruby install on Ubuntu.

[2018-05-06 14:50] fpsom commented on #238
Agreed!

[2018-05-07 06:16] lexnederbragt commented on #238
+1. But, isn't it going to be a problem when someone wants to render more than one site? They will then run into a `port is already allocated` error for the second one.

[2018-05-08 14:32] #232 closed

[2018-05-08 14:45] alee commented on #238
Good idea! I was going the route of docker-compose / Dockerfile for the repo but I think this is simpler (assuming everyone has `make` installed).

Just a minor note, it's good practice to pin the version on the docker image `jekyll/jekyll:3` or `jekyll/jekyll:3.8`

I think rendering more than one site isn't a big issue, just Ctrl-C the running container and spin up a new one in the new directory.

[2018-05-08 15:50] gdevenyi commented on #238
We should pin the version to be the same as github pages (and move with their version) https://pages.github.com/versions/

[2018-05-08 15:52] gdevenyi commented on #238
Maybe this? https://github.com/Starefossen/docker-github-pages

[2018-05-08 16:33] iglpdc commented on #238
You're right the pull is not needed. I'm not sure about the `build`: just though in having it by symmetry with the local installation case. I don't know about a use-case for `build` either: maybe in a script where you just want to generate the files?

[2018-05-08 16:38] iglpdc commented on #238
We should also modify the build instructions ([here?](https://github.com/swcarpentry/lesson-example/blob/gh-pages/_episodes/07-checking.md)) to make people aware of this.

[2018-05-08 16:39] alee commented on #238
I'd recommend staying with "official" images having been burned by references to community-contributed images in the past.

https://github.com/envygeeks/jekyll-docker

[2018-05-08 17:01] gdevenyi commented on #238
@alee My recommendation of https://github.com/Starefossen/docker-github-pages was because its supposed to be the current state of github pages, which is how we eventually host the content.

[2018-05-10 12:31] rgaiacs opened #244 "Font size"
I found that one lesson is using headers inside call out boxes but the font size of `<h3>` is larger than `<h2>`.

![h3-size](https://user-images.githubusercontent.com/1506457/39869703-6caf4154-5456-11e8-8b8a-03d80b03d2e1.png)

[2018-05-10 12:35] rgaiacs commented on #244
Add

[code]

into https://github.com/swcarpentry/styles/blob/gh-pages/assets/css/lesson.scss should be enough.

[2018-05-11 07:55] weaverbel opened #245 "Some text missing"
Just before Point 7 in `setup.html`, there is a sentence that just ends `and` with no further info or full stop after it and then it goes straight on to the point. Can this be right?

[2018-05-11 08:17] rgaiacs commented on #245
We don't have Point 7 in https://github.com/swcarpentry/styles/blob/gh-pages/bin/lesson_initialize.py#L270. I'm closing this and reopening https://github.com/swcarpentry/lesson-example/issues/200.

[2018-05-11 08:17] #245 closed

[2018-05-11 14:50] iglpdc opened #246 "Search does not search within the site"
I think the search box is not working as it should.

When searching for `something`, the search URL is:

```https://www.google.com/search?q=something+site:```

I think it missing the `domain` part in this function:

[code]

[2018-05-11 15:20] #246 closed

[2018-05-11 15:22] rgaiacs commented on #246
@iglpdc Thanks for the issue. I fixed it on this repository and patch any lesson repository should only require a merge from this repository.

[2018-05-11 20:34] alee commented on #238
Understood, that's perfectly reasonable - was just a word of caution. FWIW the official jekyll image seems to build the swcarpentry sites without issue.

[2018-05-13 09:51] #237 closed

[2018-05-13 09:52] rgaiacs commented on #218
Done.

[2018-05-13 09:52] #218 closed

[2018-05-14 19:02] rgaiacs opened #249 "Line wrap after dash in code block"
swcarpentry/shell-novice#785 need to be integrate into this repository.

[2018-05-16 08:24] rgaiacs opened #251 ".travis.yml: use Python 3.6"
https://github.com/swcarpentry/python-novice-inflammation/pull/531/ need to be ported.

[2018-05-17 18:58] fmichonneau opened #254 "differentiate `code` elements that are links"
Currently:

[code]

can't be distinguished when rendered:

![screenshot from 2018-05-17 14-57-07](https://user-images.githubusercontent.com/5502922/40197856-ae8d701e-59e2-11e8-9f06-adec85a1313a.png)

[2018-05-17 20:42] rgaiacs commented on #254
@fmichonneau Thanks to bring this up. Taking https://github.com/swcarpentry/lesson-example/pull/201 into consideration, would not be the case that we should **not** be using backtick quotes inside links? We should use code element when tidyverse is part of one R command, e.g. `install.packages("tidyverse")`, but we could drop the code element when talking about it as a package/tool, e.g. "See how

[2018-05-18 14:04] rgaiacs commented on #251
Close by #260.

[2018-05-18 14:04] #251 closed

[2018-05-18 15:13] #249 closed

[2018-05-18 15:27] rgaiacs commented on #204
swcarpentry/styles#262 covers this pull request with the latest changes in `bin/lesson_initialize.py`.

[2018-05-18 15:27] #204 closed

[2018-05-18 15:31] #244 closed

[2018-05-18 15:33] rgaiacs commented on #233
Done in swcarpentry/styles#260

[2018-05-18 15:33] #233 closed

[2018-05-20 11:23] fmichonneau opened #264 "Display "FIXME"s as part of lesson-check"
Maybe not return an error if any are found, but running `lesson-fixme` as part of `lesson-check` would be useful.

[2018-05-22 23:45] fmichonneau opened #271 "relax data type for title"
running `make lesson-check` on the Spanish lessons lead to the following error messages:

` "title" has wrong type in metadata (<type 'unicode'> instead of <type 'str'>)`

when the title contains unicode characters such as:  "Introducción a R y RStudio"

The unicode characters render fine in jekyll:

![screenshot from 2018-05-22 19-45-23](https://user-images.githubusercontent.com/5502922/40395988-

[2018-05-23 08:11] rgaiacs commented on #271
You are using Python 2 instead of Python 3. In Python 2 you have 'str' (ASCII) and 'unicode' when in Python 3 you only have 'str' and it is Unicode.

# Solution Proposal

1. Remove

[code]

   from https://github.com/swcarpentry/styles/blob/gh-pages/bin/lesson_check.py because some machines have Python 2 as default when others have Python 3.
2. Replace

[code]

   with

[code]

   in https://githu

[2018-05-23 14:20] fmichonneau opened #273 "Include check that Rmd files include `source: Rmd` in YAML header"
see swcarpentry/r-novice-inflammation#357

[2018-05-23 14:25] fmichonneau commented on #273
may add a check in the `lesson-check` that the YAML header in the Rmd files in the `_episode_rmd` folder include `source: Rmd`?

[2018-05-23 14:41] rgaiacs opened #274 "Make Jekyll ignore .Rproj"
Duplicate of https://github.com/swcarpentry/r-novice-inflammation/issues/358.

[2018-05-23 17:21] #274 closed

[2018-05-23 17:34] rgaiacs commented on #112
I'm closing this since I did some changes to avoid `root` in YAML.

[2018-05-23 17:34] #112 closed

[2018-05-25 09:27] katrinleinweber commented on #130
a) There is already [`carpentry-lesson`](https://github.com/topics/carpentry-lesson), [`software-`](https://github.com/topics/software-carpentry) & [`data-carpentry`](https://github.com/topics/data-carpentry), [`carpentries`](https://github.com/topics/carpentries), and probably similar ones.

b) Should maintainers be allowed to set the topics? Currently they are not.

[2018-05-25 14:04] fmichonneau commented on #130
A couple of days ago, I sent out an email to the discuss mailing list (https://carpentries.topicbox.com/groups/discuss/Tf6e39c33983ade11) to ask for volunteers to think about GitHub topics for our lessons. If it's something you'd be interested in working on, please let me know!

[2018-05-25 14:21] katrinleinweber commented on #130
How about closing this & move the discussion over to https://github.com/swcarpentry/styles/pull/226 which is in the email?

[2018-05-29 08:35] rgaiacs opened #281 "{% include links.md %} missing in boilerplate files"
[code]

need to be added to https://github.com/swcarpentry/styles/tree/gh-pages/bin/boilerplate.

See files on https://github.com/swcarpentry/lesson-example for example.

[2018-06-01 10:26] brownsarahm commented on #281
Should it be added to the individual boilerplates or to \_layouts/page.html ?

[2018-06-02 19:09] rgaiacs opened #287 "Drop lesson_initialize.py"
`lesson_initialize.py` has annoyed me for two years because (1) it made hard for maintainers of the lessons to incorporate changes on the files that were hard coded in the script and (2) it requires that new lesson creators have Python on their machine. swcarpentry/styles#260 resolved (1) but and this proposal will resolve (2). The suggestion were made by @jduckles.

# Implementation Details

1. C

[2018-06-02 20:21] brownsarahm commented on #287
Maybe I'm missing something but I don't understand how the actions of lesson_initialize are solved by what's in this proposal?

[2018-06-03 10:54] rgaiacs commented on #287
@brownsarahm I missed one step.

I updated the first comment to include it.

[2018-06-03 10:56] rgaiacs commented on #207
swcarpentry/styles#287 will resolve this issue. :-)

[2018-06-04 07:29] katrinleinweber opened #288 "GitHub classifies R lessons as Python repos. Avoidable?"
Hello :-)

Please see [github.com/swcarpentry?language=R](https://github.com/swcarpentry?language=r). Neither of the `r-novice` lessons appears, because they are classified as Python repos. It probably has something to do with them containing 40-60% Python code, although I'm not sure how GitHub counts this. This is a only slight annoyance, but also affects the `sql` & `matlab` repos, and also [Dat

[2018-06-06 17:12] maxim-belkin opened #289 "Callout box color"
The yellow color of the callout boxes is very hard to see. I suggest revisiting colors of all boxes.

[2018-06-06 20:34] alee commented on #289
http://clrs.cc/a11y/ and https://coolors.co/ offer some alternative color palettes

http://colorlisa.com/ is pretty fun too :grin:

[2018-06-06 20:59] fmichonneau commented on #289
@orchid00 didn't you create an alternative palette for the colors used for the boxes at some point?

[2018-06-06 21:03] maxim-belkin commented on #289
In addition to more vivid colors for the header (and borders) of the callout boxes, I would suggest using a light background for the box itself.

[2018-06-07 10:08] rgaiacs opened #290 "Review the use of Google Analytics"
# What data do we want?

Most data related with our audience/page view. For example,

- When do your users visit?
- Where are your users?
- What pages do your users visit?
- How are your active users trending over time?
- What are your top devices?

# Why do we need that data?

1. To provide numbers for funders
2. To assist when making decisions

# Why do we need to review it uses?

Although we co

[2018-06-07 21:43] fmichonneau commented on #288
From the documentation, it doesn't look like there is a good solution. All the solutions outlined seem to affect the proportions of the files represented, but even we use what they describe for vendor code or documentation, it's not clear that it will lead to a correct representation of the language taught by the lessons. If you have time to look into it and figuring out a good solution, please le

[2018-06-08 22:48] diyadas opened #291 "clearly style supplementary episodes"
Hello,

Currently, the r-novice-inflammation lesson lacks a clear delineation of supplementary episodes. I noticed which episodes are supplementary because of the rmd names, but at first glance, the episode order looks somewhat nonsensical. On [this page](http://swcarpentry.github.io/r-novice-inflammation/), the supplemental episodes are 9-15.

I am aware that this is a rather large ask, but I wou

[2018-06-09 16:54] maxim-belkin commented on #291
Hi @diyadas. This issue looks more appropriate for [swcarpentry/r-novice-inflammation](https://github.com/swcarpentry/r-novice-inflammation) repository unless something is required from the this (styles) repo.

[2018-06-09 18:46] diyadas commented on #291
Actually, I just realized that this may be the domain of the styles repo, as I'd like to modify `_includes/syllabus.html`. Basically, the issue with the syllabus is that the supplementary episodes are listed in the table after the main episodes, and they do not at all follow chronologically. Some of the supplementary episodes are meant to be taught well before some of the main episodes, should the

[2018-06-09 20:15] maxim-belkin commented on #291
I think it makes perfect sense to have supplementary episodes.

[2018-06-10 06:17] rgaiacs commented on #291
@diyadas Thanks for the issue. I agree that make clear for learners and instructors which episodes are important and which ones are supplementary will be great. I think that have a `_supplementary` folder similar to https://github.com/swcarpentry/lesson-example/tree/gh-pages/_extras would be better that add extra metadata. Said that, I want to wait a little bit to make such change.

[2018-06-10 17:21] maxim-belkin commented on #291
I don't see any problems using either metadata approach or by placing episodes in `_supplementary` folder. However, the latter approach would require a clarification about the difference between `_supplementary` and `_extras` (even though it seems to be straightforward).

@rgaiacs, can you invite other maintainers to this thread?

[2018-06-11 21:05] remram44 opened #292 "Merging 'styles' changes affects issues and PRs."
Because you are using the "fixes #nn" syntax in commits to this 'styles' repository', to close issues in this repository, when we import your changes to our lessons repositories it tends to close our own issues in those lesson repositories.

See for example this PR: https://github.com/datacarpentry/sql-ecology-lesson/pull/217 It was never merged but was automatically closed when this commit from t

[2018-06-11 21:16] remram44 commented on #292
Another one, same repo: https://github.com/datacarpentry/sql-ecology-lesson/pull/178

[2018-06-11 21:17] fmichonneau commented on #292
This has been brought up recently and is definitely a major issue. I think @maxim-belkin recommended we use the full repository name in the commit messages to avoid such situations for now on.

[2018-06-11 21:40] rgaiacs commented on #292
We are using `swcarpentry/styles#XXX` for the commit message and comments on issues. This will prevent the issue. We are not going to redo the commit history to fix existing commits. We are considering to use

[code]

to avoid commit messages like the one you mentioned.

[2018-06-11 21:46] remram44 commented on #292
Maybe a script could be devised to go over issues in lesson repos and find the ones that were closed by 'styles' commits?

I started looking over the other lesson I maintain and just re-opened https://github.com/swcarpentry/sql-novice-survey/issues/155 https://github.com/swcarpentry/sql-novice-survey/issues/177 https://github.com/swcarpentry/sql-novice-survey/issues/178 https://github.com/swcarpen

[2018-06-12 13:35] rgaiacs opened #293 "Docker image need R"
The `jekyll/jekyll` image used in swcarpentry/styles#243 need to be patched to have R so that it could convert `.Rmd` to `.md`.

[2018-06-12 13:38] rgaiacs opened #294 "Fix typo on jekyll install"
swcarpentry/lesson-example#212 need to be ported to this repository.

[2018-06-12 15:28] fmichonneau commented on #291
Having a `_supplementary` folder might mean that we'd also need a `_supplementary_rmd` folder...
I'm wondering if it would be better to identify supplementary lessons using a prefix in the file name, and rely on the Make script to move the rendered version to the `_supplementary` folder? This would ensure that all the episodes are in the same place.

[2018-06-12 15:59] naupaka commented on #291
+1 to @fmichonneau's idea. Seems simplest. This is also an issue we formed a committee (the 'pathways' committee) to talk about this past Spring. r-novice-gapminder also has a ton of episodes and not all are ever taught. The issue is that depending on the interest of the workshop, you can take different paths through them, and so there is no clear 'supplemental' set and 'canonical' set. Perhaps th

[2018-06-12 16:48] maxim-belkin commented on #294
@rgaiacs, what do you mean? We don't have any text in `bin/boilerplate/setup.md`.

[2018-06-12 20:41] vahtras commented on #154
What's the status of math/latex in these templates? When I use another markdown-html renderer it is sufficient to enter this in the markdown file

     <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>

and then math rendering of latex  works flawlessly. I would really like that here.

[2018-06-12 21:58] rgaiacs commented on #154
Not included.

As I mentioned on my first comment that point to https://github.com/swcarpentry/DEPRECATED-bc/issues/521 and https://github.com/swcarpentry/DEPRECATED-lesson-template/issues/121, the inclusion of MathJax by default would increase the time for pages to load by half (477ms without Mathjax and 692ms with MathJax, see images). Considering that many lessons will not use LaTeX I'm still a

[2018-06-12 22:32] rgaiacs commented on #291
This would not work because GitHub Pages doesn't run our `Makefile` which would mean that all lessons would need to have their HTML files converted locally. Not have to keep convert Markdown to HTML locally was the main reason that we stopped using Pandoc. My experience with Travis in the last 4 weeks showed me that to have it running our `Makefile` users will have to do extra steps which is annoy

[2018-06-13 01:13] diyadas commented on #291
I'll leave the specifics of _how_ the styling of supplementary episodes is managed to those who know how the site builds. Thanks very much for the quick responses.

To address @naupaka 's point, I think the issue we have with r-novice-inflammation is certainly related, but I think there's a clearer order, with the option of inserting/replacing some episodes with supplementary episodes. You could t

[2018-06-13 19:04] fmichonneau commented on #287
+1 on this proposal. I don't think it makes sense to have the boilerplate text in each repository when the repository is created. It seems that it will also make it easier to push changes to repository-specific files.

[2018-06-14 04:14] bagustris opened #296 "Mathjax support"
Just curious, does anyone has implementation to support Mathjax/Latex in this lesson template? As we are teacher/researcher used math equation mostly to formalize the problem. Some thing like `$...$ ` to write inline equation.

[2018-06-14 05:06] maxim-belkin commented on #287
My apologies, but I'm not sure I understand how what is proposed is related to the described problem.
Whenever downstream (actual lesson) merge changes from upstream (this repo), they will have to deal with changes made to the files that this repository introduces (either with `lesson_initialize` or any other way).

Other thoughts:
Point 2 under **Implementation Details** states:

Whereas point (1

[2018-06-14 06:03] vahtras commented on #296
See some previous discussion in https://github.com/carpentries/styles/issues/154

[2018-06-14 12:09] katrinleinweber commented on #291
How about we first try whether a purely visual distinction helps. Can we regex the current `-supp-` part of the filename in the template code in order to generate a separate table in [`_includes/syllabus.html`](https://github.com/swcarpentry/r-novice-inflammation/blob/gh-pages/_includes/syllabus.html) and a 2nd episodes section in [`/navbar.html`](https://github.com/swcarpentry/r-novice-inflammati

[2018-06-14 12:25] rgaiacs opened #297 "Pandoc 2.x"
As mentioned by [Yihui Xie](https://yihui.name/) in "[Okay, it is Time to Try Pandoc 2.x Now](https://yihui.name/en/2018/06/time-for-pandoc-2-x/)",

For the R lessons, we use Pandoc to convert from R Markdown to Markdown that later will be converted to HTML by kramdown (used by Jekyll). I don't expect any major problem when moving from Pandoc 1.x to Pandoc 2.x but my recommendation is that swcarpe

[2018-06-14 13:38] fmichonneau commented on #297
We currently don't use pandoc in our template. We only use knitr to convert from Rmd to md.

[2018-06-14 13:38] #297 closed

[2018-06-14 13:42] bagustris commented on #296
Thanks, it works! The solution is simple just to add mathjax server link in the `_index/index.html`.

[2018-06-14 13:42] #296 closed

[2018-06-14 13:45] fmichonneau commented on #291
@rgaiacs When you say "users will have to do extra steps [to enable Travis]", are you referring to enabling the repository from the Travis website? If so, it's something that I could do across our repositories.

I think @katrinleinweber's idea is a good solution to test. We'll need to make sure the regex we use in the Makefile to detect which files get processed by knitr to be converted from Rmd t

[2018-06-14 15:38] rgaiacs commented on #287
@maxim-belkin Thanks for the valuable feedback.

You are right. Maintainers will still need to deal with some changes manually. carpentries/styles#260 improved what we could do. Before was hard to see the difference in the files. Now, maintainers can do something like

[code]

and get the difference so they can apply it to the files. Is possible to have one script to get the diff and apply to the

[2018-06-14 16:14] rgaiacs commented on #296
You need to add the link to MathJax in https://github.com/carpentries/styles/blob/gh-pages/_layouts/base.html.

[2018-06-14 16:24] rgaiacs commented on #291
This sounds OK.

You don't need to do any change to the `Makefile`.

Not only that. If Travis is going to build the lesson and push it back to GitHub they need to add some SSH key.

[2018-06-14 16:44] maxim-belkin commented on #287
I see. So, we are talking about 2 things here:

- Starting a new lesson
- Merging changes (made to "boilerplate files" in styles repo)

OK, let's compare the procedures.

-----
### Starting a new lesson (1-time "thing")

**Now**:
1. Import carpentries/styles repository
2. Run `lesson_initialize`

**pros**: files that have to be worked on are all "untracked", so it is easy to see what has to be don

[2018-06-14 17:56] fmichonneau commented on #291
There is a good R package that works with the Travis and GitHub APIs that flips the Travis switch on, and upload the SSH keys automatically. I'll work on a plan for this once all the repositories have the latest version of the styles repository that includes the `.travis.yml` file.

[2018-06-14 18:11] rgaiacs commented on #287
The main point is that we want to make possible for people to start new lessons only using the web browser. If people get to the point of contribute a lot they will download Git to work locally and eventually have Jekyll so they can test their lesson locally before push to GitHub.

The name has to appear after gh-pages because the default branch on the new repository will be the first one that Git

[2018-06-14 18:31] maxim-belkin commented on #287
Oh, I see! So, the goal is to have 100% web-based lesson development. That's interesting.

Regarding default branches: the default branch for any repository is set under `/settings/branches`. For this repository, for example, the default branch can be set here:
https://github.com/carpentries/styles/settings/branches

And regarding web-based development: we just have to move all the files to their

[2018-06-14 22:05] rgaiacs commented on #287
True. But GitHub doesn't respect it when you import the repository. For example, if your repository has branches `dev`, `gh-pages` and `master` being `master` the one the default when you import it the default branch on the imported repository will be `dev` and not `master`.

[2018-06-14 22:48] maxim-belkin commented on #287
Hmmm, this is weird but it works differently for me: I've just imported https://github.com/carpentries/assessment (it took a WHILE) and the default branch was still set to `master` even though there is a bunch of branches such as `add-license-1`, `add-plot`, `erin-trash` (WAT? 🤣)

[2018-06-15 03:49] katrinleinweber commented on #291
I'm agnostic about where the occurs in the end, but I did mean "only" the template code, see PR suggestion above. I'm fine with testing it there and then upstreaming a successful solution.

[2018-06-15 13:01] fmichonneau commented on #294
I double checked, and it seems that @maxim-belkin is correct: there is no text in `setup.md`.

[2018-06-15 13:01] #294 closed

[2018-06-15 13:03] fmichonneau commented on #207
I agree with you @rgaiacs, it would be nice to not get these error messages. I'm going to move this issue to the 9.6.0 milestone as it requires a little more planning and communication around this change. But I agree we should move forward with #287.

[2018-06-15 13:04] fmichonneau commented on #293
I'll work on putting together a Docker image that contains all the software needed to build our lessons.

[2018-06-15 13:13] #281 closed

[2018-06-15 13:14] fmichonneau commented on #264
fixed in #278

[2018-06-15 13:14] #264 closed

[2018-06-15 14:00] fmichonneau commented on #168
Here are some options:

# Cabin

License: Open Font License

`1Il0O`:
![screenshot from 2018-06-15 09-50-34](https://user-images.githubusercontent.com/5502922/41471417-950b89ea-7081-11e8-8014-9731a753ece1.png)

Preview:
![screenshot from 2018-06-15 09-49-37](https://user-images.githubusercontent.com/5502922/41471425-9ea4435c-7081-11e8-813d-d58ba3f76b9f.png)

# Open Sans

License: Apache License 2.

[2018-06-15 14:07] maxim-belkin commented on #168
I like the last two (**Source Sans Pro** and **Ubuntu**) the most:
- In **Cabin**: zero and capital "o" look similar
- In **Open Sans**: "el" looks similar to capital i

What font do code blocks in the "Ubuntu" example use? I see that number one in the `wc -l *.pdb | sort -n | head -n 1` looks different from how it looks in the title

[2018-06-15 14:32] maxim-belkin commented on #207
Build fails because of three "missing" files:
- index.md
- CODE_OF_CONDUCT.md, and
- setup.md

If we get rid of boilerplate directory and move these files to the root directory, builds will be successful (but we would still get notifications about them)

[2018-06-15 14:37] fmichonneau commented on #168
Another option

# Abeezee

`1lI0O`:
![screenshot from 2018-06-15 10-35-27](https://user-images.githubusercontent.com/5502922/41473637-de8b38e4-7087-11e8-88b1-4daa8c4fc016.png)

Preview:

![screenshot from 2018-06-15 10-37-29](https://user-images.githubusercontent.com/5502922/41473739-246907e2-7088-11e8-8c82-f2619638046f.png)

[2018-06-15 14:40] fmichonneau commented on #168
@maxim-belkin I don't think the font for the code was changed across these examples. It looks like on my laptop, it's rendered as Consolas.

[2018-06-15 14:41] maxim-belkin commented on #168
That's a nice one too.

[2018-06-15 16:29] dakane1 commented on #168
I agree with Maxim; Ubuntu, Source Sans Pro, and Abeezee all look like they may work well since you can distinguish between zero and O plus 1 and l.

--Danielle

Danielle Kane
Research Librarian for Emerging Technologies and Service Innovation
Interim Data Management & Curation Librarian
LAUC-I Chair
University of California, Irvine Libraries
949.824.2024
Skype: da.kaneuci
[zotsmarter-logo]

From:

[2018-06-15 19:49] brownsarahm commented on #168
I think even Ubuntu and Abeeze are slightly better on the zero versus O than the source sans pro. and Abeeze is slightly more distinct on the letters `l` vs `I`

[2018-06-15 23:55] brownsarahm commented on #287
This seems like a good idea to me also

I think that we should also add a README to the `vanilla` branch that gives the lesson developer a bit more contained instructions about how to use this, noting which files that need to be changed and keeping resources in a place where they would see it. The`gh-pages` branch may stay as  `boileerplate/README.md` currently or have an section like:

[2018-06-17 17:52] maxim-belkin commented on #287
OK, my comments:

1. 👍 on moving files from `/bin/boilerplate` to where they are supposed to be (in the `gh-pages` branch)
2. 👎  on creating a new `vanilla` branch and related changes. I don't see any need for it nor I understand how it is going to be useful.

[2018-06-18 20:46] fmichonneau opened #300 "CODE_OF_CONDUCT.md is missing from root"
the files are in bin/boilerplate, but they are getting deleted when merging the repository into existing lessons. They need to be added back in.

[2018-06-18 21:47] fmichonneau opened #301 "update .travis.yml to install most recent R version"
see here: https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/r.rb

[2018-06-19 00:40] fmichonneau commented on #301
That's what I normally use, but would this give us all the python tools needed for the lessons?
We need both python and R for our Travis builds.

[2018-06-19 07:40] alee commented on #301
Ah right. We might be able to use the travis `matrix:include` to do this but now I understand why you linked the travis build script  :sweat_smile:

Another option could be to set up the Docker image that has both Python + R embedded and use travis's docker support to build & run the make targets in that image.

[2018-06-19 11:00] rgaiacs commented on #301
https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/.travis.yml has our `.travis.yml`.

[code]

were added to install the most recent R version (at least the one provided by RStudio to Ubuntu Trusty).

[2018-06-19 11:02] rgaiacs commented on #300
This should be fixed downstream and not in this repository.

[2018-06-19 14:08] fmichonneau commented on #300
for the aio.md file it was indeed because it was a very out of date repository that didn't have this file.

However, for `CODE_OF_CONDUCT.md`, when pulling the latest version of the template into an existing lesson, there is a commit that moves `CONDUCT.md` from the root of the repository to `bin/boilerplate/CODE_OF_CONDUCT.md` and effectively deletes the file from the root of repository if it was

[2018-06-19 17:41] #300 closed

[2018-06-19 17:47] fmichonneau opened #302 "Meta issue to follow deployment of v9.5.2"
pull requests to lesson repositories updating the template to v9.5.2 will mention this issue, allowing us to monitor progress on the deployment of this release.

[2018-06-20 15:58] hoytpr commented on #168
Ubuntu or Abeezee look good. I agree with @brownsarahm 's comments.

[2018-06-20 16:27] maxim-belkin commented on #168
A friend of mine with dyslexia says Ubuntu is the most readable one for him.

[2018-06-20 16:44] fmichonneau opened #304 "update link to lesson carpentry website"
in (at least) _config.yml and links.md make sure the link for library carpentry is: https://librarycarpentry.org/

[2018-06-20 16:59] vahtras opened #305 "Code block legibility poor"
This is related to issue #168 on selecting fonts to improve readability for people with dyslexia. But this is a different question so I choose to open it as a separate issue. I am referring to the actual code blocks enclosed in triple tildes, that are rendered with fix font terminal type:

[code]
In the Software Carpentry lessons these blocks are rendered with very poor contrast, with dark grey te

[2018-06-20 17:22] #273 closed

[2018-06-20 18:51] rgaiacs commented on #305
Thanks for the issue. http://wave.webaim.org/report#/https://carpentries.github.io/lesson-example/04-formatting/index.html reports that some elements has contrast ratio of 2.74:1 which is really low.

[2018-06-21 19:20] fmichonneau opened #306 "update info in CONTRIBUTING"
Bring updates from: https://github.com/swcarpentry/git-novice/pull/538/files

[2018-06-21 19:23] maxim-belkin commented on #306
I'm not sure I understand this change:

https://github.com/swcarpentry/git-novice/pull/538/files#diff-6a3371457528722a734f3c51d9238c13R18

[2018-06-22 08:47] rgaiacs opened #307 "Use redirect to The Carpentries Code of Conduct"
https://github.com/carpentries/styles/blob/gh-pages/CODE_OF_CONDUCT.md should redirect users to https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html.

[2018-06-22 08:48] rgaiacs opened #308 "Future of bin/boilerplate/CODE_OF_CONDUCT.md"
Files should exist only once in the repository. We should make a decision between `bin/boilerplate/CODE_OF_CONDUCT.md` and `CODE_OF_CONDUCT.md`.

[2018-06-22 08:59] rgaiacs opened #309 "All episodes in one page doesn't show figures"
**This was reported by Cameron Macdonell**.

http://carpentries.github.io/lesson-example/aio.html doesn't show the images because the path to images is wrong.

http://carpentries.github.io/lesson-example/aio.html will have

[code]

that will be resolved to http://carpentries.github.io/fig/file-mapping.svg when it should be resolved to http://carpentries.github.io/lesson-example/fig/file-mapping.sv

[2018-06-22 21:06] rgaiacs opened #311 "About page need to mention The Carpentries"
https://github.com/carpentries/styles/blob/gh-pages/_includes/carpentries.html should mention The Carpentries now that Software Carpentry and Data Carpentry merged.

@fmichonneau I'm assigning this to you but you can reassign it to another staff.

[2018-06-22 21:08] fmichonneau commented on #308
To me, all the files that maintainers do not need/shouldn't edit should be placed in the root of the repository instead of boilerplate. This means that:

- CODE_OF_CONDUCT.md
- aio.md
- LICENSE.md
- Makefile
- (and possibly) .travis.yml

should be at the root.

Relatedly, we also have the metadata needed to generate the _config.yml for each repository, and the file could be generated automatically

[2018-06-22 21:24] fmichonneau commented on #311
@weaverbel could you please provide me with some text to describe "The Carpentries" to go on the "About" page that comes with each lesson? For instance: http://www.datacarpentry.org/r-raster-vector-geospatial/about/index.html

(if you think some edits are needed to the other carpentries listed, please let me know as well).

[2018-06-22 21:38] rgaiacs commented on #309
carpentries/lesson-example#220 has one alternative solution to this one. It moves `aio.md` to `_extras`.

[2018-06-22 21:55] rgaiacs commented on #308
Maintainers **should not** edit https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/_extras/figures.md which is a a copy of https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/aio.md except that we are filtering and injecting `<img>` instead of `<article>`.

I didn't understand this part.

I thought that `bin/lesson_check.py` was raising a error for this.

[2018-06-23 13:46] trk9001 opened #312 "Software Carpentry page goes into a redirect loop"
https://github.com/carpentries/styles/blob/d2b83c815a32c3e7eba006f579dc4ba37bc4dfcc/bin/boilerplate/_config.yml#L40

The above link in `_config.yml` redirects to https://software-carpentry.org/lessons.html which then gets stuck in a redirect loop. Maybe the intended page is at https://software-carpentry.org/lessons/?

[2018-06-23 14:00] #304 closed

[2018-06-23 14:01] maxim-belkin commented on #304
`_config.yml` has been fixed in #313

[2018-06-25 00:15] weaverbel commented on #311
Sure. How is this?

The Carpentries comprises Software Carpentry and Data Carpentry, communities of Instructors, Trainers, Maintainers, helpers, and supporters who share a mission to teach foundational coding and data science skills to researchers. In January, 2018,  The Carpentries was formed by the merger of Software Carpentry and Data Carpentry.

While individual lessons and workshops continue

[2018-06-25 00:16] weaverbel commented on #311
I will also suggest some edits to the others.

[2018-06-25 01:28] weaverbel commented on #311
OK, I have rewritten all three: please note change of URL for LC @fmic_

Since 1998, Software Carpentry has been teaching researchers across all disciplines the foundational coding skills they need to get more done in less time and with less pain. Its volunteer instructors have run hundreds of events for thousands of learners around the world. Now that all research involves some degree of computat

[2018-06-25 11:03] #312 closed

[2018-06-25 11:05] fmichonneau commented on #312
thanks for letting us know!

[2018-06-25 14:02] maneesha opened #314 "Are these styles for lesson sites?"
The description for this repo reads:

Should this read "Styles for SWC/DC lesson sites" ? This would make it clear that it is for the lesson pages, not the web sites.

Will all SWC/DC lessons use this template?  Currently these pages use a different template:
http://www.datacarpentry.org/R-ecology-lesson/
http://www.datacarpentry.org/R-genomics/

[2018-06-25 14:30] fmichonneau commented on #314
Thanks @maneesha, I updated the description to "Styles for The Carpentries lessons".

Yes, these 2 lessons use a different template which has been a testing ground for other features. All others lessons (including LC) use this template.

[2018-06-25 14:30] #314 closed

[2018-06-25 18:31] maneesha opened #315 "Copyright/footer on all Carpentries lesson pages?"
Should this:

be the footer for all our lessons (across Carpentries)?
Some lessons (such as http://swcarpentry.github.io/git-novice/ and http://www.datacarpentry.org/genomics-workshop/) include "Software Carpentry Foundation" or "Data Carpentry" copyright as well.  Some have only "The Carpentries" copyright.

Also can we make the copyright line read something like this what's on the handbook (http

[2018-06-25 18:57] rgaiacs commented on #315
**Yes**.

Please see https://github.com/carpentries/styles/blob/gh-pages/_includes/lesson_footer.html for the implementation. We should be more accurate with the begin of the copyright but do it in Jekyll for the number of lessons that we have is hard so we are using the begin of the projects. Software Carpentry and Data Carpentry lessons have additional copyright for the time that The Carpentries

[2018-06-25 23:59] weaverbel commented on #311
After a meeting today, there is now this wording @fmichonneau . So let's go with this wording.

Library Carpentry (https://librarycarpentry.org/) develops lessons and teaches workshops for and with people working in library- and information-related roles. Our goal is to create an on-ramp to empower this community to use software and data in their own work as well as be advocates for and train othe

[2018-06-26 13:27] maxim-belkin commented on #311
LC description is the only one that uses "Our" and has a link in its description. I think it'll read better if all three descriptions are a tad more similar.

[2018-06-27 13:56] fmichonneau opened #316 "Check for permalinks in lesson_check.py"
lesson_check.py should ensure that:
- permalinks are not defined so all the URLs end in `.html` to allow for offline rendering
- there is no internal links to these permalinks in the lessons (e.g. links pointing to `/setup/` or `/reference/` but instead to `/setup.html` and `/reference.html`).

[2018-06-27 19:45] fmichonneau commented on #311
Thanks, @weaverbel. I replaced the "Our" with "Its" following @maxim-belkin's suggestion.

[2018-06-28 01:04] #311 closed

[2018-06-29 06:48] katrinleinweber opened #320 "Scripted detection of duplicate hyperlinks (plus auto-extraction into links.md)"
What is the general feeling here towards placing links within episode pages? Rather not, or if yes, define them in `links.md` or as standard Markdown `[text link](https://domain.tld)`?

https://github.com/swcarpentry/r-novice-inflammation/pull/368 made me realise that when editing an episode, it is most convenient to just use the latter, but that risks littering duplicate URLs throughout the lesso

[2018-06-29 08:45] maxim-belkin commented on #320
When I'm writing new material, it is easier to use `[]()`.
But `[][]` has the advantage in the limited text width environment plus helps see all the links in one place and detect possible inconsistencies.

As for moving them to `links.md`: I think maintainers of this (carpentries/styles) repo could (write and) run a script across all swc, dc, and lc repositories to gather all the links and conside

[2018-06-29 09:12] maxim-belkin commented on #141
Referenced issue is from the [sql-novice-survey](https://github.com/swcarpentry/sql-novice-survey) repo. GitHub picked it up because of `#141` in the message body, the fact that this repo was involved in that merge, and, finally, because Andrew pushed it to his fork.

[2018-06-29 09:14] maxim-belkin commented on #141
I concur with Andrew.

[2018-06-29 10:09] andreww commented on #141
This was something that we spotted at a short "how to create a lesson" session at the 2017 collaborations workshop. It's not addressed by the referenced pull request.

[2018-06-29 13:49] katrinleinweber commented on #320
I was considering only within the same repository: There, aggregation makes sense after 2 times the same link, IMHO. Regardless of `[]()` or `[][]`, or even only `[]` :wink:

Only if the link definitions _were_ moved to the same place, which seems to be 100% manual/menial now, doesn't it?

Again, the most logical number IMHO is 2.

Maybe `links.md` should get a `Carpentries` section and a `lesson`

[2018-06-29 16:54] maxim-belkin commented on #320
Agreed

Yeah, my bad - I thought reference-style links (like `[text][link]`) have to define `link` at the end of the document but they, in fact, can occur anywhere. Well, this is my TIL moment :)

This is a good idea. If it is implemented, the actual number of link occurrences of a particular link that would/should ensure that it lands in `links.md` would then be up to maintainers of a particular

[2018-06-29 18:41] katrinleinweber commented on #320
CI can even [make breakfast](https://about.gitlab.com/2018/06/29/introducing-auto-breakfast-from-gitlab/) ;-D

[2018-07-01 23:08] raynamharris opened #322 "Add new "pathway to contribute/get involved" page"
We've talked about how lots of people want to get involved in the Carpentries but they don't always know where to look. The [Carpentry Handbook](https://docs.carpentries.org/index.html) and the has lots of useful information, but not everyone knows to look there. The Carpentries [Join Us Page](https://carpentries.org/community/) has lots of information, but its a long (perhaps overwhelming) list o

[2018-07-02 00:05] ha0ye commented on #322
cc @sul-hasan

[2018-07-02 00:13] ha0ye commented on #322
Linking this lesson on Personas and Pathways from Mozilla: https://mozilla.github.io/open-leadership-training-series/articles/building-communities-of-contributors/bring-on-contributors-using-personas-and-pathways/

[2018-07-02 08:49] rgaiacs commented on #322
I think that [The Carpentries Handbook](https://docs.carpentries.org/index.html) should have a short version of pathways to contribute. We should avoid duplicate content in different repositories because it makes hard to keep all pages updated. We are going to revamp the navigation bar, see https://github.com/carpentries/lesson-infrastructure/issues/18#issuecomment-400703294, so this is a good tim

[2018-07-10 17:56] henrykironde commented on #292
@rgaiacs, Current `swcarpentry/sql-novice-survey master` doesn't not seem to be working for me on windows. Please could you test the links. I am not sure if it is on my computer only or.

[2018-07-12 12:46] rgaiacs commented on #292
@henrykironde Can you use `gh-pages` instead of `master`?

[2018-07-13 08:08] rgaiacs opened #329 "Add https://kramdown.gettalong.org/ to links"
[code]

was added to `_includes/links.md` in https://github.com/carpentries/lesson-example/pull/223/commits/b44a4cf4772e4666d7c67dc5d3829b5a4d412bbd.

[2018-07-13 19:02] henrykironde commented on #292
Sorry, I intended to day `gh-pages`

[2018-07-16 19:31] marwahaha opened #331 "Update Git for Windows install instructions"
Sorry if this isn't the right place!

For the latest windows Git for Windows installer, there's a command asking you for the "default" text editor. It sometimes confuses the learners, but we should add these in the Bash shell Windows instructions on the website. I think we should recommend the "Nano" option.

Thoughts?

[code]

[2018-07-17 13:46] fmichonneau opened #332 "Add instructor training survey links"
replaces https://github.com/carpentries/training-template/issues/24 and https://github.com/carpentries/instructor-training/issues/698

Survey links are:
https://www.surveymonkey.com/r/instructor_training_pre_survey?workshop_id=[workshop_id_value]
https://www.surveymonkey.com/r/instructor_training_post_survey?workshop_id=[workshop_id_value]

[2018-07-17 16:42] maxim-belkin commented on #331
I think https://github.com/carpentries/workshop-template is the right place

[2018-07-17 18:05] marwahaha commented on #331
ok, thanks!

[2018-07-17 18:05] #331 closed

[2018-07-20 13:14] #332 closed

[2018-07-20 13:23] rgaiacs opened #335 "Improve Formatting Code Boxes"
As mentioned in https://github.com/swcarpentry/shell-novice/issues/817 by @iamc,

![screenshot from 2018-07-20 14-22-03](https://user-images.githubusercontent.com/1506457/43004635-4cb2f116-8c28-11e8-9677-48cafdcf2479.png)

We should improve this.

[2018-07-21 17:23] annefou opened #336 "lesson_initialize.py fails to initialize new lessons"
I probably misunderstood something but I tried to follow instructions given at https://carpentries.github.io/lesson-example/setup.html but it failed to initialize the lesson:

[code]
So I deleted `CODE_OF_CONDUCT.md` and then it worked:

[code]

[2018-07-30 19:33] fmichonneau opened #337 "put figshare links for data in the _config.yml file"
to make it easier to update data files, https://github.com/datacarpentry/OpenRefine-ecology-lesson/pull/151 suggested we put the download links in the `_config.yml` file. This idea could we considered in the future.

[2018-08-02 21:07] maxim-belkin commented on #336
I'll look into this.

[2018-08-02 21:17] maxim-belkin commented on #336
You're right, Anne. Francois added `CODE_OF_CONDUCT.md` to the root directory in 4755a6d in an attempt to fix carpentries/styles#300. This whole situation is caused by the approach we're currently employing in that lesson use this repository as their base.

Currently, the solution would be to fix the `lesson_initialize.py` script to handle existence of `CODE_OF_CONDUCT.md` file.

[2018-08-03 07:35] rgaiacs commented on #336
Thanks for the issue. Fixed by https://github.com/carpentries/styles/pull/338.

[2018-08-03 07:35] #336 closed

[2018-08-04 19:14] rgaiacs opened #339 "workshop_calendar.html is missing"
https://github.com/carpentries/workshop-template/blob/gh-pages/_includes/workshop_calendar.html need to be included in this repository.

[2018-08-06 19:41] brownsarahm commented on #337
I like this idea overall, but we would have to consider how it works for multiple data files, for example messy and clean versions or the multiple files many python lessons have for teaching how to do pandas merges.

Maybe a solution using [jekyll's data functionality](https://jekyllrb.com/docs/datafiles/) is better than in the config file?
 - It would also be more intuitive for editing
 - possibl

[2018-08-10 10:31] rgaiacs opened #341 "Jekyll 3.2.1 is not supported"
@alex-konovalov mention to me having the following problem

[code]

GitHub Pages is using [Jekyll](https://jekyllrb.com) == 3.7.3, as mentioned at https://pages.github.com/versions/. Users that are building the lessons locally should have version 3.7.3 (or newer).

[2018-08-15 17:57] fmichonneau commented on #315
addressed with https://github.com/carpentries/styles/commit/887f484d746c0547478f8da8ae53de4774c7bbea

[2018-08-15 17:57] #315 closed

[2018-08-24 14:57] fmichonneau opened #347 "Suggestions to improve figures.md"
* include episode number in figure title: instead of "figure 1" make it "figure 3-1" if the figure comes from episode 3
* make figure number a link that brings you to the figure in the context of the episode.

[2018-08-24 15:54] rgaiacs commented on #347
I think this is impossible because kramdown doesn't create an `id`  for figures as demonstrate below:

[code]

We need the output to be something like

[code]

If we adopted https://github.com/carpentries/styles/issues/161 we can include `id`.

[2018-08-28 18:13] fmichonneau opened #351 "Render CONTRIBUTING instead of redirecting to GitHub"
Currently, the link to "Contribute" in the footer sends to GitHub. Edit the template to render the file and update the links to point to it.

[2018-08-28 18:18] fmichonneau opened #352 ""Edit on GitHub" doesn't work when rendered locally"
When the website is rendered locally, the "Edit on GitHub" links don't work.

In the template, the links needed to make this to work use data from the GitHub API through the [github-metadata](https://github.com/jekyll/github-metadata/) Jekyll plugin. Unless the user who tries to render the site locally has a GitHub PAT available as an environment variable, the metadata are not available to create

[2018-08-28 18:28] fmichonneau opened #353 "Number episodes in the schedule"
see swcarpentry/r-novice-gapminder#419

[2018-08-28 18:28] fmichonneau commented on #353
somewhat related to carpentries/lesson-example#220

[2018-08-28 18:39] maxim-belkin commented on #353
We already have `{{ lesson_number }}.` in `_includes/syllabus.html` (line 47). `r-novice-gapminder` just has to merge `carpentries/styles`

[2018-08-28 18:42] maxim-belkin commented on #353
Actually, they have it merged. It's something else that prevents these numbers from showing up

[2018-08-28 19:04] maxim-belkin commented on #353
In a locally rendered version of `r-novice-gapminder` I see the numbers
<img width="974" alt="image" src="https://user-images.githubusercontent.com/13123663/44744512-d65d9700-aaf4-11e8-93af-8dee1fe903d7.png">
However, this is what I had to do to make it work:

1. Add these 3 lines to `bin/knit_lessons.sh`:
[code]
2.
[code]
I wonder if the problem is caused by the (versions of) packages that github

[2018-08-28 20:16] brownsarahm commented on #353
[Other](https://datacarpentry.org/python-ecology-lesson/) [currently](https://datacarpentry.org/python-socialsci/) [rendered](https://datacarpentry.org/r-socialsci/) [lessons](https://swcarpentry.github.io/python-novice-gapminder/) have the numbers, there appears to be something wrong in that lesson repo not styles.

[2018-09-09 21:00] fmichonneau opened #355 "add curriculum to <meta> tags for workshops"
related to swcarpentry/amy#1228

[2018-09-14 20:34] rgaiacs commented on #352
No.

[2018-09-24 14:42] maxim-belkin opened #356 "Lesson check error"
`make lesson-check` now returns an error:

[code]

https://travis-ci.org/swcarpentry/python-novice-inflammation/builds/432404616?utm_source=github_status&utm_medium=notification

[2018-09-27 17:53] fmichonneau commented on #355
We decided to let workshop administrators enter this information directly in AMY instead of relying on data provided by instructors in the website.

[2018-09-27 17:53] #355 closed

[2018-10-01 12:49] jsta commented on #288
I wonder if we can use the `tinkr` package to identify chunk languages. Might not get the correct percentages but still might improve the current situation. https://github.com/ropenscilabs/tinkr

[2018-10-02 16:13] maxim-belkin opened #357 "aio.md: missing figures"
In the new version of `aio.md` figures are missing because pages use `../fig/` relative links and the all-in-one page appears as aio.html in the root of the site.

[2018-10-02 16:27] maxim-belkin commented on #356
My understanding is that `gh_variables.html` was included into `links.md` to aid resolving  `repo_url` and `source_branch`. However, resolution happens just fine even without that inclusion.

[2018-10-16 14:29] #356 closed

[2018-10-19 10:05] mr-c opened #361 "How to add syntax highlighting for other languages?"
Thanks

[2018-10-19 10:37] rgaiacs commented on #361
Hi @mr-c, we are using [kramdown](https://kramdown.gettalong.org/) and any language that they support should work with the template. For examples, see https://kramdown.gettalong.org/syntax.html#language-of-code-blocks:

[code]
    {: .language-ruby}

The default is rouge library for the syntax highlighting is rouge, https://github.com/jneen/rouge. I'm closing this for now. If you have more questio

[2018-10-19 10:53] mr-c commented on #361
I guess I was confused by the CSS files in this repo referencing `.language-ruby` and didn't know if I need to modify them to syntax highlight YAML

[2018-10-19 10:55] mr-c commented on #361
Would I need to make similar changes to https://github.com/carpentries/styles/pull/202/files

FYI, there is no "reopen" button for me in this issue

[2018-10-19 11:24] mr-c opened #362 "consider installing ImgBot to shrink images losslessly"
Example: https://github.com/common-workflow-language/user_guide/pull/124

[2018-10-19 11:35] rgaiacs commented on #361
If you are looking to have the box around the code block, yes.

Every day GitHub behaves different than the day before. :-/ I'm reopening it.

[2018-10-19 11:38] rgaiacs commented on #362
Thanks @mr-c. I'm assigning this to @fmichonneau but I know that he will only see it in 2-3 weeks time.

[2018-10-19 11:44] mr-c commented on #361
Okay, thanks. Then we should update the documentation to clarify this.

[2018-10-23 13:45] yarikoptic opened #363 ""wrong" link on deprecated swcarpentry/DEPRECATED-lesson-template description"
Since that one is read only, cannot file an issue there.
Description for that repo points to the swcarpentry/styles but that one was moved (?) under this organization. Confusion comes if someone starts to search for "styles" within swcarpentry list of repositories (redirect if typed into url works fine)

[2018-10-23 14:16] brownsarahm commented on #363
Broken links within a deprecated repo are unavoidable.  We could maybe add to the readme or github description pointing to the correct repo.  Can you describe what you were trying to do when you found the broken links?

[2018-10-23 14:16] rgaiacs opened #364 "Improve accessibility of solution to challenges"
[UK Home Office](https://github.com/UKHomeOffice/posters) guidelines for accessibility says to "make buttons descriptive". The unfolding button on our solutions is non-descriptive!

![screenshot from 2018-10-23 15-10-40](https://user-images.githubusercontent.com/1506457/47366687-1ea0cc00-d6d6-11e8-95f7-39429ce9228f.png)

@fmichonneau Can we have something like

![screenshot from 2018-10-23 15-10-4

[2018-10-23 14:48] yarikoptic commented on #363
yes, I just meant to ask to change description on https://github.com/swcarpentry/DEPRECATED-lesson-template
from

DEPRECATED: THIS REPOSITORY IS NO LONGER IN USE: PLEASE SEE swcarpentry/styles INSTEAD.

to

DEPRECATED: THIS REPOSITORY IS NO LONGER IN USE: PLEASE SEE carpentries/styles INSTEAD.

[2018-10-23 16:33] brownsarahm commented on #363
That one was deprecated 3 years ago, so multiple changes have happened since then.  If anything points there, we should fix that. How did you end up at the deprecated lesson example?

[2018-11-06 23:28] ErinBecker opened #365 "need for French language in Africa - submitted by email"
Submitted by Ahadi Birindwa

1. The Data carpentry materials have only the Spanish language, in the future it could be better to have also French translation because up to now may countries and especially in Central Africa (Rwanda, Burundi, DRC, Cameroun, Benin, Togo, Senegal, Cote d'Ivoire, Chad, Congo Brazzaville, …) are purely French speaking countries and many researchers are mow interested wi

[2018-11-14 13:25] lexnederbragt opened #367 "Change 'coffee' to breaks to be more inclusive"
I don't have push rights, so I'm lazy and will refer to other similar PRs. The idea is that not everyone drinks coffee, or even tea, and there may be cultural differences/sensitivities around this too.

Suggestion is to change 'Coffee' in the schedule to 'Morning break' or 'Afternoon break', as in https://github.com/carpentries/workshop-template/pull/557 and https://github.com/carpentries/instruct

[2018-12-03 14:20] fmichonneau opened #377 "add links.md to CONTRIBUTING.md template"

[2018-12-05 10:53] psteinb opened #380 "image width and height"
I am just wondering how to correctly include images in the markdown for episodes. I figured that the usual

[code]
includes the image as such without offering the capability to control the width. Do we have infrastructure in place, so that things as suggested [here](https://dev-notes.eu/2016/01/images-in-kramdown-jekyll/) would work? At the end of the day, I'd rather fit the figure of interest to

[2018-12-05 10:57] rgaiacs commented on #357
@maxim-belkin I think this one can be close. Could you confirm it? Thanks.

[2018-12-05 10:58] rgaiacs commented on #309
@maxim-belkin I believe this was fixed. Could you confirm? Thanks.

[2018-12-06 14:14] maxim-belkin commented on #380
@psteinb, in this case we're "limited" by what kramdown can do. I don't think there is anything wrong with using `{:class...` thing. However, the question becomes shouldn't we use usual HTML in such cases because (1) we can and (2) it will do exactly what you want.

[2018-12-19 15:14] rgaiacs commented on #377
@fmichonneau any update on this? Or could you clarify things? Thanks

[2018-12-19 15:17] rgaiacs commented on #367
@lexnederbragt I like to use the word "Refreshments" instead of 'Morning break' or 'Afternoon break'.

@ChristinaLK, @raynamharris and @ErinBecker what do you thing?

[2018-12-19 15:20] rgaiacs commented on #365
@ErinBecker Thanks for the feedback. About the French translation, could you write a blog post inviting people to stand out? Or ask Ahadi to write one?

Regarding the second item, I think we need to improve it on each lesson. Could you add it to the next bug spring?

Are you OK to close this issue?

[2018-12-19 15:22] rgaiacs commented on #363
Thanks for the issue. Because the reported repository is archived we can't change the content. I'm closing this issue.

[2018-12-19 15:22] #363 closed

[2019-01-10 18:02] colinmorris commented on #95
FWIW, I believe this can be closed, since it was fixed in #133

[2019-01-18 14:21] dheles opened #385 "Page build failure on import"
Upon importing the styles repo to create a new lesson, I receive (via email) a notification that the gh-pages branch failed to build:

Relates to: #191 #207
(may be redundant, or may be similar symptom with different causes, IDK)

[2019-01-18 15:23] maxim-belkin commented on #385
Hi, @dheles.

Don't worry, this is normal. At least, at the moment. When you import the repo, GitHub finds `gh-pages` branch and immediately tries to build it. It failes because the lesson hasn't been initialized yet. You need to follow the instructions here: https://carpentries.github.io/lesson-example/

In fact this is what maintainers of this (carpentries/styles) repo have to deal with regularl

[2019-01-18 15:37] dheles commented on #385
Thanks for the assurance @maxim-belkin . Perhaps a note should be added to http://carpentries.github.io/lesson-example/setup.html to let users of the repo know up-front that this is expected?

[2019-01-24 11:40] rgaiacs opened #387 "Explore textlint"
[textlint](https://textlint.github.io/) is linting tool for text and markdown. It sounds interesting to add to our pipeline.

[2019-01-24 13:24] brownsarahm commented on #387
what is linting?

[2019-01-24 13:38] rgaiacs commented on #387
@brownsarahm you can think of a spell check for code.

[2019-01-24 14:46] gdevenyi commented on #387
It would be really nice if we could get something like this integrated into a Travis/CircleCI on the lessons, so that PRs are checked for markdownness

[2019-01-24 15:19] maxim-belkin commented on #387
We're using Kramdown.
Lessons are checked with `make lesson-check` for some common mistakes and `make site` (`jekyll build`). If something is not right - it fails and reports an error. I think we should probably start by asking maintainers to try it and give feedback. I'll try it myself :)

[2019-01-24 15:19] maxim-belkin commented on #387
I wish we had @maintainers

[2019-01-24 15:48] gdevenyi commented on #387
Thanks @maxim-belkin I'm aware of make lesson-check, but that has be done manually with a local copy. I would like to see a CI system do this automatically for PRs rather than manually.

[2019-01-24 16:00] maxim-belkin commented on #387
This is being done automatically now: there is `travis.yml` in `bin/boilerplate` that you can use in your repository. We're using Travis in https://github.com/swcarpentry/python-novice-inflammation/pulls

[2019-02-27 01:07] raynamharris opened #389 "using a .github directory for more community health files"
I saw this blog post the other day, and I thought it could be useful for us. https://github.blog/changelog/2019-02-21-organization-wide-community-health-files/

Briefly, you can add README, CONTRIBUTING, SUPPORT, CODE_OF_CONDUCT, ISSUE_TEMPLATE(S), or PULL_REQUEST_TEMPLATE(S) files to a public, organization-owned .github repository, and if a given community health file doesn’t exist for a reposito

[2019-03-11 08:08] maxim-belkin opened #392 "Proposed changes to code and output blocks"
Using CSS we can add explanatory text before code and output cells like so:

<img width="400" alt="image" src="https://user-images.githubusercontent.com/13123663/54108177-40f76580-43a9-11e9-9bad-f5ade3832391.png">

Will this improve code/output blocks?
The page I used to create the above example is https://swcarpentry.github.io/python-novice-inflammation/03-lists/index.html

[2019-03-11 08:33] rgaiacs commented on #392
I think so.

[2019-03-11 08:45] fmichonneau commented on #392
this looks good!

[2019-03-11 19:29] maxim-belkin commented on #392
Submitted a PR carpentries/styles#393

[2019-03-13 11:11] maxim-belkin commented on #392
Closed in 514fb46

[2019-03-13 11:11] #392 closed

[2019-04-18 08:59] katrinleinweber commented on #389
`CONTRIBUTING` information may be a bit different whether its a workshop site or a lesson, but IMHO it's better to bundle there, then in each repo individually.

[2019-04-30 21:25] pkrafft opened #399 ""SC" and "SWC" acronyms are used inconsistently in documentation"
Point 5 in "Customizing Your Website" in README.md uses the acronyms "dc" (Data Carpentry workshop), "lc" (Library Carpentry), or "sc" (Software Carpentry) for their subdirectories.

However, the _config.yml file indicates:

Which carpentry is this ("swc", "dc", "lc", or "cp")?
swc: Software Carpentry
dc: Data Carpentry
lc: Library Carpentry
cp: Carpentries (to use for instructor traning for insta

[2019-05-09 18:48] fmichonneau commented on #399
@maneesha, is this something you could look into and fix? Thanks!

[2019-05-15 06:33] davidrpugh commented on #199
I just ran into a whole mess of issues trying to install Ruby and necessary deps to get Jekyll working properly on Mac OS Mojave. I was eventually able to solve the problem by manually installing XCode command line tools (why this was necessary is not clear).  I then thought about using Docker. Ran the following command and was up and running in about 1 minute.

[code]

This may not be the best wa

[2019-05-15 21:06] k8hertweck opened #400 "Change point of contact for PR and issue templates"
A few years back, when I was actively involved in the maintainer community, I wrote the original PR and issue templates and offered myself as a point of contact for anyone with questions about the process (I've included the text of the current issue template below for easy reference; the PR template is largely the same, if not identical).

Two things:
1. I'm not the best person for folks to contac

[2019-05-15 21:34] maneesha commented on #400
@ErinBecker   Can this go to team@carpentries.org instead of Kate?

[2019-05-15 23:08] raynamharris commented on #400
I replaced "Kate Hertweck (k8hertweck@gmail.com)" with "The Carpentries Team at team@carpentries.org"

[2019-05-15 23:15] raynamharris opened #402 "Carpentries copyright on non-Carpentries lessons"
I stumbled upon this lesson this week. It is not an official Software Carpentry lesson, but it has the SWC logo because it was part of the styles repo used to scaffold the lesson.

Is this a problem? I realize the new style is more minimalistic, but it still has the copyright.

![Screen Shot 2019-05-15 at 4 11 10 PM](https://user-images.githubusercontent.com/7544197/57815527-a3b00900-772c-11e9-888

[2019-05-16 10:56] fmichonneau commented on #402
I don't think there is no easy fix from our end. Most of the other cases where people have used our template removed this copyright notice. The files are in their repository and under their control.

The author may have chosen to keep it here to give us credit for the template and not the content too.

If others have ideas on how to best address this, let us know!

[2019-05-16 10:58] fmichonneau commented on #400
fixed with #401

[2019-05-16 10:58] #400 closed

[2019-05-16 14:55] brownsarahm commented on #402
Maybe a flag that's in the info part of config so it's easier to find to change (like near the title)?

[2019-05-17 17:19] maneesha commented on #399
@fmichonneau  Is there a reason to prefer one or the other?  I think we should do 'swc` since that's how we refer to it in most other places.  Let me know if there's a reason we may want to consider 'sc' instead.

[2019-05-20 05:22] fmichonneau commented on #399
I agree I think we should prefer `swc`. I think sc was chosen because it was 2-character long and lined up with `dc`. Thank you!

[2019-05-23 12:59] brownsarahm opened #403 "extra `/` in some urls"
in  the [library carpentry site variable](https://github.com/carpentries/styles/blob/99a5587b4d4460a04222c50cd5050dc823fab793/bin/boilerplate/_config.yml#L42) and a few others there is a `/` at the end, but not in most.

At least the library carpentry one renders with two `//` in it (see, for example the [instructor training checkout page](https://carpentries.github.io/instructor-training/checkout

[2019-05-23 13:23] maneesha commented on #403
Thanks for catching this @brownsarahm

In this repo (styles) and the instructor training repo, you are right; the LC site variable should not have that extra `/`.

As for the instructor training checkout page,  that's a typo in the link text, as well as the link itself that gets built from the site variables. I've just fixed the link text.  The `styles` repo does not automatically propagate to all

[2019-05-27 17:24] maxim-belkin opened #404 "Add "R for Reproducible Scientific Analysis" to syllabus"
"R for Reproducible Scientific Analysis" is not in the SWC Syllabus file (_includes/sc/syllabus.html)

[2019-05-28 06:01] vuw-ecs-kevin commented on #351
As I am about to go on a "Train the Trainers" workshop, I was reviewing my past suggestions
and contributions to the Carpentries, in the light of the current rendering of the Shell Novice
lesson, and so came across the latest version of the original "issue", which I believe is more
than two-years-old, or so, now.

Good to see that this change is nearing inclusion into the lesson template, however,

[2019-05-28 11:31] fmichonneau commented on #351
a pull request to address this would be welcomed!

I didn't know about this resource you created, it's great!

[2019-05-30 15:54] maxim-belkin opened #407 "links.md: including base_path.html"
To use `relative_root_path` in `links.md` I added `{% include base_path.html %}` to the top of the file. Now, `make lesson-check-all` complains about this line.

@fmichonneau, any thoughts how we can solve this?

[2019-05-30 16:04] maxim-belkin commented on #407
This error is raised by `read_references` function in `lesson_check.py`, so it needs to be updated...
I'll look into that

[2019-05-30 20:08] #302 closed

[2019-05-31 08:21] mkuzak opened #408 "Cannot initialise the lesson"
when trying to initialise the lesson
[code]

[2019-05-31 18:23] #408 closed

[2019-05-31 18:24] fmichonneau commented on #408
thanks for the report @mkuzak  It should be fixed now

[2019-06-02 04:51] maxim-belkin commented on #407
Fixed by https://github.com/carpentries/styles/commit/90f06fcfe146a185c9f71c288f838fdd4393c0ef

[2019-06-02 04:51] #407 closed

[2019-06-02 07:27] maxim-belkin opened #410 "Reference page"
Reference page is used frequently in all episodes, so it might make sense to create a variable for it. Where can we do that and what should we call it?

CC @fmichonneau @rgaiacs

[2019-06-03 14:08] fmichonneau commented on #410
that would be useful. A possible issue that would limit its use is that I don't think it's possible to combine markdown variables and anchors (i.e., `[foo][reference-page]#foo` doesn't work).

[2019-06-03 16:47] maxim-belkin commented on #410
If we create a _variable_ (_e.g._ `reference_page`), we would then be able to do things like:
[code]

I did this in my local copy of `python-novice-inflammation` but I did this in the episode file itself. That's why I asked about _where_ to create it (this variable) and _what _ to call it?

[2019-06-04 09:13] fmichonneau commented on #410
A Jekyll variable makes sense. It seems that adding it to `links.md` would be a natural fit. Would it work there? I think `reference_page` works well as a name for this.

[2019-06-04 11:17] maxim-belkin commented on #410
It doesn't work if it is included in `links.md` and `links.md` included at the end of the episode file...

[2019-06-04 16:07] fmichonneau commented on #410
Could we move `links.md` at the top of the pages? and even put the include statement in one of the `_layouts` (`base.html`?) so maintainers don't have to manually include it in each file?

[2019-06-04 17:06] maxim-belkin commented on #410
Yes. We would have to update the check that requires this statement to be at the end of the file (this is easy).

I don't think we can include the content of `links.md` in HTML files in `_layouts` folder becase `{{ content }}` there is already in HTML form. We'll have to look deeper into how to append the content of links.md to every file.

I glanced at the usage of `links.md` in swcarpentry/pytho

[2019-06-13 04:46] vuw-ecs-kevin commented on #351
Could I get you to take a look at

- https://github.com/vuw-ecs-kevin/lesson-example/tree/fully-offline-capable

which I think already has the changes required, albeit in a clone of "lesson-example"
and not in one of "styles".

It's not clear to me, some two years or so on now, whether the current lesson "publishing
model" would need to see the changes made here, in "styles" or whether they'd stil

[2019-06-14 10:45] fmichonneau commented on #351
Because of the way we use the lesson template, the main repository that is used by the lessons and the workshop websites (`styles`) cannot have any pages or information in it.  `lesson-example` is a way to have a functional demonstration of the different features used by the template. So, we'd welcome a pull request in `styles` to make the template fully offline capable. Once the changes are there

[2019-06-14 17:13] fmichonneau opened #411 "increase contrast in code blocks"
see https://github.com/swcarpentry/r-novice-gapminder/issues/522

[2019-06-15 10:13] vuw-ecs-kevin commented on #351
On Fri, 14 Jun 2019 at 18:45, François Michonneau
<notifications@github.com> wrote:

In that case I'll probably start again from my current GitHub identity.

Hope to get back to you soon,
Kevin

[2019-06-19 08:24] pawsey-kbuckley commented on #402
You could always /suggest/or moidfy the template so/ that people follow
the approach taken here:

https://vuw-ecs-kevin.github.io/offline-capable-lesson/

and yes, as Francois will be aware, a more up-to-date rendintion of the
approach outlined there is coming, real soon now!

Having said that, I notice that my two-year-old rendition is using the same
style as the "errant" lesson Rayna found, wher

[2019-06-19 15:57] #411 closed

[2019-06-20 08:23] fmichonneau opened #415 "incomplete borders for code boxes"
see: https://github.com/swcarpentry/git-novice/pull/662#issuecomment-499555724

I apparently can't reproduce on Chromium Version 74.0.3729.169 (Official Build) Built on Ubuntu , running on Ubuntu 19.04 (64-bit).

[2019-06-20 16:23] fmichonneau commented on #415
closed with #416

[2019-06-20 18:12] #415 closed

[2019-06-25 06:04] pawsey-kbuckley commented on #351
It's a couple of minutes before soon, so

I have just pushed the gh-pages branch of

https://github.com/pawsey-kbuckley/offline-capable-lesson/

up and can see that the rendered version is now available at

https://pawsey-kbuckley.github.io/offline-capable-lesson/

It seems to be doing the right thing when rendered there.

Before I start issuing pull requests from the `fully-offline-capable` branc

[2019-06-25 06:07] pawsey-kbuckley commented on #402
So that, more up-to-date, rendition is now visible here:

https://pawsey-kbuckley.github.io/offline-capable-lesson/

[2019-06-26 02:45] pawsey-kbuckley commented on #352
I believe that this is another issue, related to offline browsing, that was
"solved" two years ago, but for which the same solution is now documented
in a more up to date revision:

  https://pawsey-kbuckley.github.io/offline-capable-lesson

[2019-06-26 03:05] pawsey-kbuckley opened #418 "Cite link doesn't work when rendered locally"
Basically, the "Cite" link in the footer menu gets rendered as

`file:///blob/CITATION`

This is yet another issue that was identified, and for which a potential solution was identifed, some two years ago, in this work:

https://vuw-ecs-kevin.github.io/offline-capable-lesson/03-use-local-content/index.html

but which is now addressed in a newer revision of that same work:

https://pawsey-kbuckley.

[2019-06-26 03:12] pawsey-kbuckley commented on #418
I believe this commit

https://github.com/pawsey-kbuckley/offline-capable-lesson/commit/dd8f2a6453b59c918eee1abb6af0e1aa58966665

does what's required but am not sure is I should create seperate PRs for each commit in the work that address a single issue, of if there's a way to just get the styles repo to incorporate them all ?

[2019-07-08 19:53] maneesha commented on #399
@fmichonneau can this be closed now?

[2019-07-09 07:58] fmichonneau commented on #399
it will get closed when the commit above is merged. It's part of a PR that is still work in progress at this stage.

[2019-07-19 16:53] fmichonneau opened #419 "document how to write links in lessons"
`relative_root_path` is a good compromise to make sure that the links work both when the lessons are rendered online and offline.

However, I discovered today that because of the [order of operations](https://jekyllrb.com/tutorials/orderofinterpretation/#variable-on-page-not-rendered-because-variable-is-assigned-in-layout) in Jekyll, we can't use the variable in the episodes, or other pages with c

[2019-07-24 06:06] humburg opened #420 "Fix figure paths in aio.md"
While trying to use the *All in one page* feature I noticed that all the images were missing. The reason seems to be that `aio.md` is located at the top-level whereas the episodes are in their own sub-directory, which results in incorrect relative paths.

For the figures that could be fixed by replacing

[code]

with something like

[code]

Are there other situations where episodes might employ re

[2019-07-24 07:46] humburg commented on #420
Ah, I didn't realise where this was coming from. I was looking at [https://github.com/datacarpentry/r-socialsci](https://github.com/datacarpentry/r-socialsci) but that doesn't seem to be using the new styles. It does indeed look like it is working in the current version.

[2019-07-26 11:49] tobyhodges commented on #236
I would like to voice my support for making this change. In addition to the reasons that Greg gave already, I have a couple of projects that are based on this repo that would definitely benefit from removing the numbers e.g. because they lack any rigid order for chapters/episodes.

[2019-07-26 12:16] tobyhodges commented on #236
I'd be happy to put a PR together if you think this is worth pursuing.

[2019-07-29 18:24] raynamharris commented on #402
Thanks for the link @pawsey-kbuckley. This looks like a really cool lesson, and I like how you've modified the footer :)

[2019-07-30 16:25] fmichonneau commented on #420
@humburg can we close this?

[2019-07-30 16:26] fmichonneau commented on #236
@tobyhodges yes please submit a PR for us to review. Thank you!

[2019-07-30 16:28] fmichonneau opened #421 "remove workshop-specific files"
once carpentries/workshop-template#608 is merged, we should remove workshop-specific files from this repo. As with lessons, these files should only be part of the workshop-template repository and not be included in the generic theme repo.

[2019-07-30 21:24] humburg commented on #420
Yes sorry, I meant to close this with my previous comment but evidently forgot.

[2019-07-30 21:24] #420 closed

[2019-08-19 21:46] kekoziar opened #423 "Blockquote paragraphs lack proper space"
The paragraphs that are within blockquotes (callouts, exercises, etc) lack proper spacing between them, such that it looks like one long paragraph.  Adding
`blockquote p { padding-bottom: inherit; }`
to `bootstrap.css` should fix the issue.

[2019-08-19 21:51] maxim-belkin commented on #423
seems reasonable. Could you please submit a PR with a screenshot before and after

[2019-09-11 17:02] maxim-belkin opened #427 ".python code blocks"
See https://github.com/swcarpentry/python-novice-inflammation/pull/701

`.python` (and I assume other language blocks) are not rendered as they should. I assume [rouge](https://github.com/rouge-ruby/rouge#jekyll) that GitHub uses is at fault but... I'm not 100% sure.

I'll look into this when I have the time but if anyone else would like to investigate this -- be my guest.

[2019-09-13 15:07] agitter opened #429 "Update boilerplate .travis.yml to fix unauthenticated packages error"
I'd like to make a small pull request to fix a Travis CI error I encountered when running the boilerplate `.travis.yml` in a new lesson repository.  First, I wanted to make sure I understood the file organization in this repository and purpose of Travis CI on lessons.  Is it correct that Travis CI is only used to check the correctness of the lesson?  It is not involved in the lesson deployment?

T

[2019-09-13 15:13] fmichonneau commented on #429
Hi @agitter, thanks for spotting this. Yes, Travis here is only used to check the lesson and is not involved in its deployment.

It looks like with the current Travis file we are using a very old version of R. We should update the Travis script to use a more recent version of R following the instructions here: https://cran.r-project.org/bin/linux/ubuntu/README.html

[2019-09-16 02:04] Denubis opened #431 "Testing framework"
Hi all,

Just thinking about what needs to happen to migrate my pull request from https://github.com/carpentries/instructor-training/commit/bc6ef4ac0c2097939d08d7ba9b813cd485ccea69 into the main carpentries repos. My experiment for workshops (ugh, plural) I ran last week: http://bit.ly/resbaz-python and http://bit.ly/resbaz-sql (via https://denubis.github.io/sql-novice-survey/ https://denubis.gith

[2019-09-16 02:08] Denubis opened #432 "AIO, Google docs exporter, Etherpad Exporter"
In preparation for migrating (As per discussion in #431) my etherpad (and now google-docs) exporters to the universal style, what features, capabilities, and endpoints are desired for us to quickly produce note-taking documents for participants in our workshops? Do any of these features not exist in the demo documents:

## Instructor training etherpad:
https://carpentries.github.io/instructor-trai

[2019-09-16 10:12] fmichonneau commented on #431
I think the closest thing we have to all known styles is this page: http://carpentries.github.io/lesson-example/04-formatting/index.html but I don't know if it's truly comprehensive.

[2019-09-19 08:52] pawsey-kbuckley opened #433 "Teaching Demo feedback: Setup page lacks nav links"
Hi there,

I'm submitting this "issue list", ahead of one or more PRs, as a result
of recently performing a Software Carpentry Instructor Training Teaching
Demo, during the preperation for the demo of which, I was scrutinisng
the content of "The Unix Shell" lesson quite (some might say too) intently,
and so noticed some things that PRs could address, assuming that the
Lesson and/or Style coveners

[2019-09-19 14:22] brownsarahm commented on #433
Thank you for your very detailed issue and welcome to the community.

For getting to the schedule from the setup page or anywhere else in a lesson, "Home" in the menu bar does it, but perhaps that is unclear? Maybe there's a way to make that more clear.  Being able to get back here is important.

However, people will navigate to and from the setup page from multiple different places, so I think ke

[2019-09-20 03:56] pawsey-kbuckley commented on #433
It was good to finally be accredited, Sarah, but rest-assured that
I have been "in the community" for a good while now.

Thanks also for the feedback as regards navigation when viewed
from a workshop perspective. It is certainly something that needs
consideration, although I'd suggest that the lessons are a stand
alone resource and so students who have been at workshops,
containing a number of les

[2019-09-24 15:37] fmichonneau opened #434 "Link to Setup files in each Episode"
Initially reported in swcarpentry/r-novice-inflammation#448

[2019-09-24 17:36] brownsarahm commented on #434
Setup is on the menu, so it is already at the top of every episode page.

Maybe we should add it in a prerequisite (or maybe a new type of call out) box on the lesson homepages instead of in the schedule table? We could add that box to the [`lesson` layout](https://github.com/carpentries/styles/blob/gh-pages/_layouts/lesson.html) so that individual lesson maintainers don't have to add it and it's

[2019-09-24 21:21] brownsarahm opened #435 "add incubator as a "Carpentry" option"
Could the incubator and labs be set up as options for the carpentry option on the config file?

As I wrote this, I realized it would also then make sense to make a page exist at carpentries-incubator.github.io, which could help with findability and exploration of the lessons.  It could be like the DC workshop overview pages.

If there's support, I'm happy to 1) work on that page and 2) put in a PR

[2019-09-25 00:11] ErinBecker commented on #435
Thanks for your thoughts @brownsarahm! @fmichonneau and I have been discussing this in prep for the community discussions on the Incubator this week. He's either just put in a PR or is in the process of doing so to get incubator and lab set up as options in the config (@fmichonneau - could you please link the PR here?). As soon as we have that merged in, we'll be creating a top-level page to show

[2019-09-25 04:19] fmichonneau commented on #435
PR adding the "incubator" option is here: https://github.com/carpentries/carpentries-theme/pull/1/files

To make template updates easier, Erin and and I thought it'd be easier to use the remote Jekyll theme. That's why the PR is against that repo instead of `styles`.

[2019-10-01 17:08] brownsarahm commented on #435
Is the remote theme ready for use?

[2019-10-02 16:58] jcoliver commented on #154
What is the recommended solution to this issue? Over at R for Reproducible Analyses, we have an episode (15) with sub/superscripts and LaTeX math formula example that are not rendered correctly (See "A bit more Markdown" at [http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html](http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html)). We could add `req

[2019-10-03 05:44] twitwi commented on #154
One might want to consider Katex as a lighter alternative.
https://katex.org/

[2019-10-08 02:08] Denubis commented on #432
Reading @brownsarahm's https://carpentries.org/blog/2018/09/teaching-tip-exercise-discussion/ -- is it worth exporting all code as code files to support load magic in lessons? (As an aside, do we want to use load magic as the basis for faded examples? With this infrastructure,and https://stackoverflow.com/a/16769695/263449 we can pack various exercises up into a zip file. Obviously this is not the

[2019-10-10 09:29] #399 closed

[2019-10-11 23:35] ErinBecker commented on #435
@brownsarahm - several DC lessons are already using the remote theme, so I believe it's ready to use.  However, there isn't much (or any?) documentation of how it works. I'm talking with @fmichonneau about documentation next week.

[2019-10-14 09:45] lexnederbragt commented on #432
This is cool stuff! Auto-generating slides (e.g. Google Slides or markdown-based) with Questions, Objectives, Key Points and exercises would also be very helpful...

[2019-11-17 17:09] raynamharris opened #444 "update license and trademark things"
A few issues have come up in Instructor training about licenses and trademarks (e.g. https://github.com/carpentries/instructor-training/issues/1041 and https://github.com/carpentries/instructor-training/issues/1044 and https://github.com/carpentries/instructor-training/pull/1054) I think the LICENSE file in other repositories comes from here, but I could be incorrect.

One question I have is wheth

[2019-11-18 10:01] beacurious commented on #432
When you did the instructor training that I was part of I noticed that you often (occasionally?) wanted to show an image that was in the notes (e.g. mind map examples, cartoons), but you didn't want to show the notes themselves. I think you had a separate browser tab with them loaded (or a document, I can't remember). Is this something that could be help with this tool?

[2019-11-18 10:52] Denubis commented on #432
Yes, that's why the tool exposes urls of images, so they can be opened in new tabs. In the google docs version, they're inline.

[2019-12-02 23:22] JoaoRodrigues opened #445 "Building/Setting up lesson on Windows fails."
Hi there,

I'm trying to setup a new lesson on Windows 10 and I'm running into several issues that prevent me from generating the lesson website.

I am not running Git Bash nor WSL. I have both Ruby and Jekyll installed, and I installed make for Windows from the GnuWin32 page. I imported the styles repo (https://github.com/joaorodrigues/intro-git-github) and cloned it locally. Here's a list of ste

[2019-12-03 16:19] fmichonneau commented on #445
I tested the script on your repo on my Linux system and I'm not seeing these errors, which makes me think that it's an operating system issue... A few things to check if you haven't already:
- is the script looking in the correct directory?
- is "/" directory separator recognized in your system?

@maxim-belkin or @brownsarahm do you have any other ideas?

[2019-12-03 16:28] brownsarahm commented on #445
I also tried it quickly on linux and got different errors, then didn't have enough time to dig much deeper. I haven't tried running the script on any other repos recently, so I could have other things that are out of date.

I also wonder why he needed to hard code in an encoding that was not needed before. If that's a system specific issue, we should figure out a way of using packages to try to av

[2019-12-03 17:38] maxim-belkin commented on #445
I can not troubleshoot this with the details provided.
João, could you please provide step-by-step instructions to reproduce this? That is:
- which gnuwin32 did you install?
- how did you install Ruby and Jekyll?
- ...

[2019-12-03 23:21] JoaoRodrigues commented on #445
Hi @maxim-belkin

### Installation and System Setup
I created a new user account on my windows machine to help debug this. I installed Ruby v2.6.5-1 using [RubyInstaller](https://rubyinstaller.org/downloads/) with the DevKit option. I then installed and used bundler (v 2.0.2) to install jekyll (version 3.8.5 to be compatible with Github pages).

I installed GNU Make from [here](http://gnuwin32.sou

[2019-12-06 17:20] hoytpr opened #447 "`make lesson-check` fails on Win10 machine"
In GitBash: On a completely new clone of lesson-example, named `data-cleanup` as in the instructions:
Earlier noticed that `bin\lesson-initialize.py` failed with `python3:permission denied` which is a cryptic message, but solved (#283 ) by running `$ python bin\lesson-initialize.py`.

Python 37 is installed under `Users/username/Anaconda3/python.exe` (which is in the Windows path) and a new enviro

[2019-12-06 17:46] brownsarahm commented on #447
Thanks @hoytpr for raising this. I moved it to styles because I think you actually followed the instructions on lesson-example and  cloned this repo, not lesson-example itself.  If that's not the case, please try that and then update us.

However, I think your assessment of the issue relating to how python is called is correct. A solution for several windows compatibility issues is in the works, b

[2019-12-06 18:02] hoytpr commented on #447
Thank you @brownsarahm for your quick attention to this. Yes, I used GitHub’s importer to import this repo in my GitHub account using https://github.com/carpentries/styles. I then cloned this locally exactly as described in the setup instructions. I was trying to reproduce #445 on my machine as it's a rare opportunity to get another Windows user to compare notes with. The entire process (after imp

[2019-12-06 18:15] maxim-belkin commented on #447
This issue should be solved when we merge #446.

[2019-12-12 16:03] #447 closed

[2019-12-13 22:12] fmichonneau commented on #189
I think we're now all set here.

[2019-12-13 22:12] #189 closed

[2019-12-13 22:15] fmichonneau commented on #389
We now have:

- https://github.com/carpentries/.github
- https://github.com/datacarpentry/.github
- https://github.com/swcarpentry/.github
- https://github.com/librarycarpentry/.github

populated with default files, so any repository in each organization will have the correct files.

[2019-12-13 22:15] #389 closed

[2019-12-13 22:16] fmichonneau commented on #427
@maxim-belkin feel free to re-open if you think there is a bug here.

[2019-12-13 22:16] #427 closed

[2019-12-13 22:21] fmichonneau commented on #435
There are more details to take into account depending on how old the template is in the lesson but the basic steps to enable remote themes are:

1. make sure you have a `Gemfile` at the root of your lesson
1. make sure that the Makefile uses `bundle exec jekyll serve` or use this command to preview your site locally
2. delete `assets`, `_includes` and `_layout` for your repository
3. add `remote_t

[2019-12-13 22:21] #435 closed

[2019-12-16 19:39] #429 closed

[2019-12-16 20:18] fmichonneau commented on #445
@JoaoRodrigues, has PR #446 addressed the issues you brought up here?

[2020-01-02 04:40] Denubis opened #452 "Improving issues with issue-comments"
We all have had "fun" removing the pro-forma text in our default issues. When commenting on a different project, I saw that they took advantage of HTML comments to provide instructional text (as well as different types of issue buttons for different types of instructional text.

The below is a test of our default comment instructions, which should not appear in cursory viewing of the issue (but sh

[2020-01-22 02:16] Denubis opened #453 "Uplift AIO to jekyll based instead of jquery?"
Is it worth backporting some of my innovations from the etherpad exporter back into AIO so we don't have dodgy jquery in it?

The central jeykll iterator:

[code]

May be worth incorporating?

[2020-01-22 02:17] Denubis commented on #453
I'm currently working on pulling styles into https://github.com/MQ-software-carpentry/capstone-novice-spreadsheet-biblio -- I'll test the AIO thing there.

[2020-01-22 02:47] Denubis commented on #453
Oops. Somehow you've already fixed this and my hard reset didn't... do what I needed it to do. My apologies.

[2020-01-22 02:47] #453 closed

[2020-01-22 03:28] Denubis commented on #435
@fmichonneau I wasn't able to replicate those steps. https://github.com/carpentries/styles/blob/gh-pages/bin/boilerplate/_config.yml doesn't have remote in it.

Replication steps:

1. Gemfile manually updated to be exactly the one in styles.
2. Copied config from boilerplate, added remote_theme at bottom.
3. Removed assets, _includes, _layout.
4. Using rbenv, installed 2.7.0
[code]
5. `$ bundle in

[2020-01-22 15:34] maxim-belkin commented on #435
Brian, your error message is caused by the deletion of `_includes` directory because our lessons currently need `_includes/links.md` file.

[2020-01-22 21:32] Denubis commented on #435
Ah, so @fmichonneau's instructions were not ready for primetime? Fair enough. (The remote theme, after updating gemfile and bundles did work without the include)

[2020-01-22 22:18] brownsarahm commented on #435
My understanding is that remote theme and styles are not the same thing, there is a separate repo for [remote theme](https://github.com/carpentries/carpentries-theme/pull/1/files).

When @fmichonneau updated my project in the incubator it did not include `gem "jekyll-remote-theme"`  and it works: https://github.com/carpentries-incubator/python-packaging-publishing/pull/48/files

the remote theme,

[2020-01-22 23:22] Denubis commented on #435
@brownsarahm did you locally compile? I expect github has that gem by default, but if you did locally compile I'm... going to have to scratch my head some more and ask more questions.

I concur that use of the remote theme, when it works, does not require `_includes/` -- and with appropriate gems (maybe?) it works on github and local compile.

[2020-01-22 23:47] brownsarahm commented on #435
Yes mine compiles locally, it does have one warning `Invalid theme folder: _sass` but it renders appropriately.

[2020-01-23 00:22] Denubis commented on #435
Ah hah. I just looked in that pull request. The github pages gem (https://pages.github.com/versions/) has remote-themes as one of its components. Clearly I've done something odd that I had to add it manually.

Sorry for the trouble.

[2020-01-23 03:42] maxim-belkin commented on #435
Apologies for going radio silent -- have been having issues with Firefox...

First of all -- my apologies... it looks like my comment confused you. I didn't mean that the remote theme requires the `_includes` directory. Our lessons require `_includes/links.md` file -- every episode is supposed to have `{% include links.md %}` at the very end -- and the error message that you were getting reports t